workflows/⌚[Fabio Soares][7CDR] - Trata Dados.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-20T17:41:06.000Z",
    "createdAt": "2026-03-20T17:40:23.637Z",
    "versionId": "f3f60b57-f190-4d6a-9cdb-df51919aa900",
    "workflowId": "vTuYolwZNf9vjfDr",
    "nodes": [
      {
        "parameters": {
          "jsCode": "const body = $node[\"chega_da_fila\"].json[\"content\"][\"body\"] || {};\n\n// Captura segura dos dados (NOVO PAYLOAD)\nconst fullNameAnswer = body[\"name\"] || body[\"Nome\"] || body[\"nome_completo\"] || \"\";\nconst emailAnswer = body[\"email\"] || body[\"Email\"] || \"\";\nconst telefoneClienteOriginal = body[\"phonenumber\"] || body[\"phone\"] || body[\"Telefone\"] || \"\";\n\n// UTM (NOVO PAYLOAD)\nconst utm_source   = body[\"utm_source\"]   || \"\";\nconst utm_campaign = body[\"utm_campaign\"] || \"\";\nconst utm_medium   = body[\"utm_medium\"]   || \"\";\nconst utm_term     = body[\"utm_term\"]     || \"\";\nconst utm_content  = body[\"utm_content\"]  || \"\";\n\n// Form info\nconst form_id   = body[\"form_id\"]   || \"\";\nconst form_name = body[\"form_name\"] || \"\";\n\n// URL da página\nconst urlPaginaRaw = body[\"URL da página\"] || body[\"page_url\"] || body[\"url\"] || \"\";\n\n// NOVO → Data + Horário\nconst dataRaw = body[\"Data\"] || \"\";\nconst horarioRaw = body[\"Horário\"] || \"\";\n\n// Funções auxiliares\nfunction capitalizeName(fullName) {\n  if (!fullName) return { fname: '', lname: '', fullname: '' };\n\n  const lowerCaseWords = ['da', 'de', 'do', 'di', 'du'];\n  let words = fullName.toLowerCase().split(' ').map((word, index) => {\n    if (lowerCaseWords.includes(word) && index !== 0) return word;\n    return word.charAt(0).toUpperCase() + word.slice(1);\n  });\n\n  let fname = words.shift();\n  let lname = words.join(' ');\n\n  return { fname, lname, fullname: lname ? `${fname} ${lname}` : fname };\n}\n\nfunction formatEmail(email) {\n  return String(email || \"\").toLowerCase().trim();\n}\n\n// FORMATA DATA\nfunction formatDataCadastro(dataStr, horaStr) {\n  if (!dataStr || !horaStr) return \"\";\n\n  const meses = {\n    janeiro: \"01\",\n    fevereiro: \"02\",\n    março: \"03\",\n    marco: \"03\",\n    abril: \"04\",\n    maio: \"05\",\n    junho: \"06\",\n    julho: \"07\",\n    agosto: \"08\",\n    setembro: \"09\",\n    outubro: \"10\",\n    novembro: \"11\",\n    dezembro: \"12\"\n  };\n\n  const partesData = dataStr.toLowerCase().replace(\",\", \"\").split(\" \");\n  const mes = meses[partesData[0]];\n  const dia = String(partesData[1] || \"\").padStart(2, \"0\");\n  const ano = partesData[2];\n\n  let horaNormalizada = horaStr.toLowerCase().trim();\n  let [hora, minuto] = horaNormalizada.replace(\" pm\", \"\").replace(\" am\", \"\").split(\":\");\n  hora = parseInt(hora, 10);\n\n  if (horaNormalizada.includes(\"pm\") && hora !== 12) {\n    hora += 12;\n  }\n  if (horaNormalizada.includes(\"am\") && hora === 12) {\n    hora = 0;\n  }\n\n  const horaFormatada = String(hora).padStart(2, \"0\");\n  const minutoFormatado = String(minuto || \"00\").padStart(2, \"0\");\n\n  return `${ano}-${mes}-${dia} ${horaFormatada}:${minutoFormatado}:00`;\n}\n\n// NOVA FUNÇÃO → LIMPA URL E MANTÉM ATÉ O PATH\nfunction formatPageUrl(url) {\n  if (!url) return \"\";\n\n  try {\n    const parsedUrl = new URL(String(url).trim());\n    return `${parsedUrl.origin}${parsedUrl.pathname}`;\n  } catch (error) {\n    return String(url).split(\"?\")[0].split(\"#\")[0].trim();\n  }\n}\n\nfunction formatTelefone(telefone) {\n  const telefoneOriginal = String(telefone || \"\").trim();\n  const telefoneLimpo = telefoneOriginal.replace(/\\D/g, \"\");\n\n  if (!telefoneLimpo) return \"\";\n\n  // DDDs válidos do Brasil\n  const dddsValidos = new Set([\n    \"11\",\"12\",\"13\",\"14\",\"15\",\"16\",\"17\",\"18\",\"19\",\n    \"21\",\"22\",\"24\",\"27\",\"28\",\n    \"31\",\"32\",\"33\",\"34\",\"35\",\"37\",\"38\",\n    \"41\",\"42\",\"43\",\"44\",\"45\",\"46\",\n    \"47\",\"48\",\"49\",\n    \"51\",\"53\",\"54\",\"55\",\n    \"61\",\"62\",\"64\",\"63\",\"65\",\"66\",\"67\",\"68\",\"69\",\n    \"71\",\"73\",\"74\",\"75\",\"77\",\"79\",\n    \"81\",\"82\",\"83\",\"84\",\"85\",\"86\",\"87\",\"88\",\"89\",\n    \"91\",\"92\",\"93\",\"94\",\"95\",\"96\",\"97\",\"98\",\"99\"\n  ]);\n\n  function aplicarRegraBrasil(ddd, numero) {\n    let num = numero;\n\n    // Remove o 9º dígito para DDD > 28\n    if (Number(ddd) > 28 && num.length === 9 && num.startsWith(\"9\")) {\n      num = num.slice(1);\n    }\n    // Adiciona 9º dígito para DDD <= 28 quando vier faltando\n    else if (Number(ddd) <= 28 && num.length === 8) {\n      num = `9${num}`;\n    }\n\n    return `55${ddd}${num}`;\n  }\n\n  // 1) Brasil com DDI 55\n  if (telefoneLimpo.startsWith(\"55\")) {\n    const ddd = telefoneLimpo.slice(2, 4);\n    const numero = telefoneLimpo.slice(4);\n\n    if (dddsValidos.has(ddd)) {\n      return aplicarRegraBrasil(ddd, numero);\n    }\n\n    return telefoneLimpo;\n  }\n\n  // 2) Internacional explícito com + ou 00\n  if (\n    (telefoneOriginal.startsWith(\"+\") || telefoneOriginal.startsWith(\"00\")) &&\n    !telefoneOriginal.startsWith(\"+55\") &&\n    !telefoneOriginal.startsWith(\"0055\")\n  ) {\n    return telefoneLimpo;\n  }\n\n  // 3) Brasil sem DDI — celular brasileiro:\n  // precisa ter 11 dígitos, DDD válido e começar com 9 após o DDD\n  if (telefoneLimpo.length === 11) {\n    const ddd = telefoneLimpo.slice(0, 2);\n    const numero = telefoneLimpo.slice(2);\n\n    if (dddsValidos.has(ddd) && numero.startsWith(\"9\")) {\n      return aplicarRegraBrasil(ddd, numero);\n    }\n\n    // se não tiver cara de celular BR, assume internacional\n    return telefoneLimpo;\n  }\n\n  // 4) Brasil sem DDI — fixo brasileiro:\n  // 10 dígitos, DDD válido e primeiro dígito do número entre 2 e 5\n  if (telefoneLimpo.length === 10) {\n    const ddd = telefoneLimpo.slice(0, 2);\n    const numero = telefoneLimpo.slice(2);\n\n    if (dddsValidos.has(ddd) && /^[2-5]/.test(numero)) {\n      return aplicarRegraBrasil(ddd, numero);\n    }\n\n    return telefoneLimpo;\n  }\n\n  // 5) Qualquer outro caso: mantém só números\n  return telefoneLimpo;\n}\n\n// Formatação final\nconst formattedNames = capitalizeName(fullNameAnswer);\nconst formattedEmail = formatEmail(emailAnswer);\nconst telefoneFinal = formatTelefone(telefoneClienteOriginal);\nconst dataCadastro = formatDataCadastro(dataRaw, horarioRaw);\nconst urlPagina = formatPageUrl(urlPaginaRaw);\n\n// Resultado\nconst result = {\n  ...formattedNames,\n  email: formattedEmail,\n  whatsapp: telefoneFinal,\n  instagram: \"\",\n  cpf: \"\",\n  cnpj: \"\",\n  utm_source,\n  utm_campaign,\n  utm_term,\n  utm_medium,\n  utm_content,\n  form_id,\n  form_name,\n  page_url: urlPagina,\n  data_cadastro: dataCadastro\n};\n\nreturn [{ json: result }];"
        },
        "id": "3e3545c6-969e-4aa2-abef-6d946e84cd25",
        "name": "formata_dados",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2048,
          288
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "c74589e2-452e-44a5-8a49-b98c6fcdeca8",
                "name": "nome",
                "value": "={{ $node[\"formata_dados\"].json[\"fname\"] }}",
                "type": "string"
              },
              {
                "id": "f17267b5-65b0-4c2b-b9f5-d719193bb457",
                "name": "sobrenome",
                "value": "={{ $node[\"formata_dados\"].json[\"lname\"] }}",
                "type": "string"
              },
              {
                "id": "79edcf9f-8602-409f-8d04-ced41c06d16f",
                "name": "email",
                "value": "={{ $node[\"formata_dados\"].json[\"email\"] }}",
                "type": "string"
              },
              {
                "id": "93103cc7-1870-4962-bb01-59462196b4de",
                "name": "telefone",
                "value": "={{ $node[\"formata_dados\"].json[\"whatsapp\"] }}",
                "type": "string"
              },
              {
                "id": "4750507c-f44a-45d5-b5ce-2a681d5a5581",
                "name": "utm_source",
                "value": "={{ $node[\"formata_dados\"].json[\"utm_source\"] }}",
                "type": "string"
              },
              {
                "id": "a68b8a08-b2d1-4352-affb-0a6f4045cf4a",
                "name": "utm_campaign",
                "value": "={{ $node[\"formata_dados\"].json[\"utm_campaign\"] }}",
                "type": "string"
              },
              {
                "id": "71c74ec7-51b3-422e-a2d5-ae7bbf3bd1b0",
                "name": "utm_term",
                "value": "={{ $node[\"formata_dados\"].json[\"utm_term\"] }}",
                "type": "string"
              },
              {
                "id": "57aa10ae-6631-4352-8925-35138b1c9b7a",
                "name": "utm_medium",
                "value": "={{ $node[\"formata_dados\"].json[\"utm_medium\"] }}",
                "type": "string"
              },
              {
                "id": "4e84ee54-3122-48e4-92d9-1f9db59e0b94",
                "name": "utm_content",
                "value": "={{ $node[\"formata_dados\"].json[\"utm_content\"] }}",
                "type": "string"
              },
              {
                "id": "2bb4770b-d984-4366-a4c5-6e323c3889c1",
                "name": "id_funil",
                "value": "={{ $node[\"busca_funil\"].json[\"id_funil\"] }}",
                "type": "string"
              },
              {
                "id": "b9134b79-303b-4d22-8c4c-36002bd7e7f8",
                "name": "instagram",
                "value": "={{ $node[\"formata_dados\"].json[\"instagram\"] || \"\" }}",
                "type": "string"
              },
              {
                "id": "f94127c8-00db-445d-b77e-bfb06bed512a",
                "name": "id_forms",
                "value": "={{ $node[\"busca_funil\"].json[\"id_forms\"] }}",
                "type": "string"
              },
              {
                "id": "45655fc0-b71d-4f90-a243-6e1f04e25a95",
                "name": "tipo_forms",
                "value": "={{ $node[\"busca_funil\"].json[\"tipo_forms\"] }}",
                "type": "string"
              },
              {
                "id": "1f0f1b9c-2ae4-4407-b49c-65c91cd93623",
                "name": "pagina",
                "value": "={{ $node[\"formata_dados\"].json[\"page_url\"] || \"\" }}",
                "type": "string"
              },
              {
                "id": "20985621-0122-425e-8c0e-aba9542d5e8f",
                "name": "data_cadastro",
                "value": "={{ $node[\"formata_dados\"].json[\"data_cadastro\"] || $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "68889a54-2c0b-4894-95ea-72024bc5c8c2",
        "name": "dados",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.3,
        "position": [
          -992,
          288
        ]
      },
      {
        "parameters": {
          "url": "={{ $node[\"pesquisa_variavel_n8n_fluxo_funis\"].json[\"valor_variavel\"] }}",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "id_forms",
                "value": "={{ $node[\"formata_dados\"].json[\"form_id\"] }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -1616,
          288
        ],
        "id": "ae6d00fc-10b7-431f-b313-513c22ef579b",
        "name": "busca_funil"
      },
      {
        "parameters": {
          "operation": "select",
          "table": {
            "__rl": true,
            "value": "variaveis_globais_n8n",
            "mode": "list",
            "cachedResultName": "variaveis_globais_n8n"
          },
          "where": {
            "values": [
              {
                "column": "nome_variavel",
                "value": "URL do Fluxo de Verificação de Funis"
              }
            ]
          },
          "combineConditions": "OR",
          "options": {}
        },
        "id": "72c093f1-fbfe-44bb-b710-c8722eb2faf2",
        "name": "pesquisa_variavel_n8n_fluxo_funis",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          -1824,
          288
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "SMjhjBLFctIENkHc",
            "name": "[MySQL] - Fabio Soares"
          }
        }
      },
      {
        "parameters": {
          "queue": "Fila de Ações de Funis",
          "options": {
            "arguments": {
              "argument": [
                {
                  "key": "x-queue-type",
                  "value": "quorum"
                }
              ]
            },
            "durable": true
          }
        },
        "id": "6a948950-2497-418c-a699-a5435578d206",
        "name": "fila_acoes_funis",
        "type": "n8n-nodes-base.rabbitmq",
        "typeVersion": 1,
        "position": [
          -784,
          288
        ],
        "credentials": {
          "rabbitmq": {
            "id": "eKnFCoTy5bVlhIj3",
            "name": "[RabbitMQ] - Fabio Soares"
          }
        }
      },
      {
        "parameters": {
          "url": "={{ $node[\"pesquisa_variavel_n8n_fluxo_users\"].json[\"valor_variavel\"] }}",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "nome",
                "value": "={{ ($node[\"formata_dados\"].json[\"fname\"] || \"\").replace(/[^a-zA-Z0-9\\s]/g, \"\") }}"
              },
              {
                "name": "sobrenome",
                "value": "={{ ($node[\"formata_dados\"].json[\"lname\"] || \"\").replace(/[^a-zA-Z0-9\\s]/g, \"\") }}"
              },
              {
                "name": "email",
                "value": "={{ $node[\"formata_dados\"].json[\"email\"] || \"\" }}"
              },
              {
                "name": "telefone",
                "value": "={{ $node[\"formata_dados\"].json[\"whatsapp\"] || \"\" }}"
              },
              {
                "name": "instagram",
                "value": "={{ $node[\"formata_dados\"].json[\"instagram\"] || \"\" }}"
              },
              {
                "name": "cpf",
                "value": "={{ $node[\"formata_dados\"].json[\"cpf\"] || \"\" }}"
              },
              {
                "name": "cnpj",
                "value": "={{ $node[\"formata_dados\"].json[\"cnpj\"] || \"\" }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -1200,
          288
        ],
        "id": "cdde788b-dbac-4075-87f7-bf4393f43fc1",
        "name": "cria_atualiza_user"
      },
      {
        "parameters": {
          "operation": "select",
          "table": {
            "__rl": true,
            "value": "variaveis_globais_n8n",
            "mode": "list",
            "cachedResultName": "variaveis_globais_n8n"
          },
          "where": {
            "values": [
              {
                "column": "nome_variavel",
                "value": "URL do Fluxo de Verificação de Users"
              }
            ]
          },
          "combineConditions": "OR",
          "options": {}
        },
        "id": "7840d0aa-aead-4c82-b247-04feaac65924",
        "name": "pesquisa_variavel_n8n_fluxo_users",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          -1408,
          288
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "SMjhjBLFctIENkHc",
            "name": "[MySQL] - Fabio Soares"
          }
        }
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "cdr-trata-dados-ca",
          "options": {}
        },
        "id": "b39799aa-2bf9-4d36-97e3-9e31fcf0d9d2",
        "name": "cadastro_na_lp",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -2256,
          496
        ],
        "webhookId": "0089ee9a-e9b7-4d97-8b28-bff5ed59c575"
      },
      {
        "parameters": {
          "queue": "[fabio soares] - Trata Dados CDR",
          "options": {
            "arguments": {
              "argument": [
                {
                  "key": "x-queue-type",
                  "value": "quorum"
                }
              ]
            },
            "durable": true
          }
        },
        "id": "6fbb8619-2e04-4fe9-832d-f4f10b98a747",
        "name": "fila_acoes_funis2",
        "type": "n8n-nodes-base.rabbitmq",
        "typeVersion": 1,
        "position": [
          -2048,
          496
        ],
        "credentials": {
          "rabbitmq": {
            "id": "eKnFCoTy5bVlhIj3",
            "name": "[RabbitMQ] - Fabio Soares"
          }
        }
      },
      {
        "parameters": {
          "queue": "[fabio soares] - Trata Dados CDR",
          "options": {
            "arguments": {
              "argument": [
                {
                  "key": "x-queue-type",
                  "value": "quorum"
                }
              ]
            },
            "acknowledge": "executionFinishesSuccessfully",
            "jsonParseBody": "={{ true }}",
            "parallelMessages": 5
          }
        },
        "id": "caeca8a6-727f-413b-a86f-52ef6f33ffca",
        "name": "chega_da_fila",
        "type": "n8n-nodes-base.rabbitmqTrigger",
        "typeVersion": 1,
        "position": [
          -2256,
          288
        ],
        "credentials": {
          "rabbitmq": {
            "id": "eKnFCoTy5bVlhIj3",
            "name": "[RabbitMQ] - Fabio Soares"
          }
        }
      }
    ],
    "connections": {
      "formata_dados": {
        "main": [
          [
            {
              "node": "pesquisa_variavel_n8n_fluxo_funis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "dados": {
        "main": [
          [
            {
              "node": "fila_acoes_funis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "busca_funil": {
        "main": [
          [
            {
              "node": "pesquisa_variavel_n8n_fluxo_users",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "pesquisa_variavel_n8n_fluxo_funis": {
        "main": [
          [
            {
              "node": "busca_funil",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "cria_atualiza_user": {
        "main": [
          [
            {
              "node": "dados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "pesquisa_variavel_n8n_fluxo_users": {
        "main": [
          [
            {
              "node": "cria_atualiza_user",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "cadastro_na_lp": {
        "main": [
          [
            {
              "node": "fila_acoes_funis2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "chega_da_fila": {
        "main": [
          [
            {
              "node": "formata_dados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Automagic Bots",
    "name": "Version f3f60b57",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "f3f60b57-f190-4d6a-9cdb-df51919aa900",
  "connections": {
    "formata_dados": {
      "main": [
        [
          {
            "node": "pesquisa_variavel_n8n_fluxo_funis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados": {
      "main": [
        [
          {
            "node": "fila_acoes_funis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca_funil": {
      "main": [
        [
          {
            "node": "pesquisa_variavel_n8n_fluxo_users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_variavel_n8n_fluxo_funis": {
      "main": [
        [
          {
            "node": "busca_funil",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_atualiza_user": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_variavel_n8n_fluxo_users": {
      "main": [
        [
          {
            "node": "cria_atualiza_user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cadastro_na_lp": {
      "main": [
        [
          {
            "node": "fila_acoes_funis2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chega_da_fila": {
      "main": [
        [
          {
            "node": "formata_dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-12T14:02:33.842Z",
  "id": "vTuYolwZNf9vjfDr",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "⌚[Fabio Soares][7CDR] - Trata Dados",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const body = $node[\"chega_da_fila\"].json[\"content\"][\"body\"] || {};\n\n// Captura segura dos dados (NOVO PAYLOAD)\nconst fullNameAnswer = body[\"name\"] || body[\"Nome\"] || body[\"nome_completo\"] || \"\";\nconst emailAnswer = body[\"email\"] || body[\"Email\"] || \"\";\nconst telefoneClienteOriginal = body[\"phonenumber\"] || body[\"phone\"] || body[\"Telefone\"] || \"\";\n\n// UTM (NOVO PAYLOAD)\nconst utm_source   = body[\"utm_source\"]   || \"\";\nconst utm_campaign = body[\"utm_campaign\"] || \"\";\nconst utm_medium   = body[\"utm_medium\"]   || \"\";\nconst utm_term     = body[\"utm_term\"]     || \"\";\nconst utm_content  = body[\"utm_content\"]  || \"\";\n\n// Form info\nconst form_id   = body[\"form_id\"]   || \"\";\nconst form_name = body[\"form_name\"] || \"\";\n\n// URL da página\nconst urlPaginaRaw = body[\"URL da página\"] || body[\"page_url\"] || body[\"url\"] || \"\";\n\n// NOVO → Data + Horário\nconst dataRaw = body[\"Data\"] || \"\";\nconst horarioRaw = body[\"Horário\"] || \"\";\n\n// Funções auxiliares\nfunction capitalizeName(fullName) {\n  if (!fullName) return { fname: '', lname: '', fullname: '' };\n\n  const lowerCaseWords = ['da', 'de', 'do', 'di', 'du'];\n  let words = fullName.toLowerCase().split(' ').map((word, index) => {\n    if (lowerCaseWords.includes(word) && index !== 0) return word;\n    return word.charAt(0).toUpperCase() + word.slice(1);\n  });\n\n  let fname = words.shift();\n  let lname = words.join(' ');\n\n  return { fname, lname, fullname: lname ? `${fname} ${lname}` : fname };\n}\n\nfunction formatEmail(email) {\n  return String(email || \"\").toLowerCase().trim();\n}\n\n// FORMATA DATA\nfunction formatDataCadastro(dataStr, horaStr) {\n  if (!dataStr || !horaStr) return \"\";\n\n  const meses = {\n    janeiro: \"01\",\n    fevereiro: \"02\",\n    março: \"03\",\n    marco: \"03\",\n    abril: \"04\",\n    maio: \"05\",\n    junho: \"06\",\n    julho: \"07\",\n    agosto: \"08\",\n    setembro: \"09\",\n    outubro: \"10\",\n    novembro: \"11\",\n    dezembro: \"12\"\n  };\n\n  const partesData = dataStr.toLowerCase().replace(\",\", \"\").split(\" \");\n  const mes = meses[partesData[0]];\n  const dia = String(partesData[1] || \"\").padStart(2, \"0\");\n  const ano = partesData[2];\n\n  let horaNormalizada = horaStr.toLowerCase().trim();\n  let [hora, minuto] = horaNormalizada.replace(\" pm\", \"\").replace(\" am\", \"\").split(\":\");\n  hora = parseInt(hora, 10);\n\n  if (horaNormalizada.includes(\"pm\") && hora !== 12) {\n    hora += 12;\n  }\n  if (horaNormalizada.includes(\"am\") && hora === 12) {\n    hora = 0;\n  }\n\n  const horaFormatada = String(hora).padStart(2, \"0\");\n  const minutoFormatado = String(minuto || \"00\").padStart(2, \"0\");\n\n  return `${ano}-${mes}-${dia} ${horaFormatada}:${minutoFormatado}:00`;\n}\n\n// NOVA FUNÇÃO → LIMPA URL E MANTÉM ATÉ O PATH\nfunction formatPageUrl(url) {\n  if (!url) return \"\";\n\n  try {\n    const parsedUrl = new URL(String(url).trim());\n    return `${parsedUrl.origin}${parsedUrl.pathname}`;\n  } catch (error) {\n    return String(url).split(\"?\")[0].split(\"#\")[0].trim();\n  }\n}\n\nfunction formatTelefone(telefone) {\n  const telefoneOriginal = String(telefone || \"\").trim();\n  const telefoneLimpo = telefoneOriginal.replace(/\\D/g, \"\");\n\n  if (!telefoneLimpo) return \"\";\n\n  // DDDs válidos do Brasil\n  const dddsValidos = new Set([\n    \"11\",\"12\",\"13\",\"14\",\"15\",\"16\",\"17\",\"18\",\"19\",\n    \"21\",\"22\",\"24\",\"27\",\"28\",\n    \"31\",\"32\",\"33\",\"34\",\"35\",\"37\",\"38\",\n    \"41\",\"42\",\"43\",\"44\",\"45\",\"46\",\n    \"47\",\"48\",\"49\",\n    \"51\",\"53\",\"54\",\"55\",\n    \"61\",\"62\",\"64\",\"63\",\"65\",\"66\",\"67\",\"68\",\"69\",\n    \"71\",\"73\",\"74\",\"75\",\"77\",\"79\",\n    \"81\",\"82\",\"83\",\"84\",\"85\",\"86\",\"87\",\"88\",\"89\",\n    \"91\",\"92\",\"93\",\"94\",\"95\",\"96\",\"97\",\"98\",\"99\"\n  ]);\n\n  function aplicarRegraBrasil(ddd, numero) {\n    let num = numero;\n\n    // Remove o 9º dígito para DDD > 28\n    if (Number(ddd) > 28 && num.length === 9 && num.startsWith(\"9\")) {\n      num = num.slice(1);\n    }\n    // Adiciona 9º dígito para DDD <= 28 quando vier faltando\n    else if (Number(ddd) <= 28 && num.length === 8) {\n      num = `9${num}`;\n    }\n\n    return `55${ddd}${num}`;\n  }\n\n  // 1) Brasil com DDI 55\n  if (telefoneLimpo.startsWith(\"55\")) {\n    const ddd = telefoneLimpo.slice(2, 4);\n    const numero = telefoneLimpo.slice(4);\n\n    if (dddsValidos.has(ddd)) {\n      return aplicarRegraBrasil(ddd, numero);\n    }\n\n    return telefoneLimpo;\n  }\n\n  // 2) Internacional explícito com + ou 00\n  if (\n    (telefoneOriginal.startsWith(\"+\") || telefoneOriginal.startsWith(\"00\")) &&\n    !telefoneOriginal.startsWith(\"+55\") &&\n    !telefoneOriginal.startsWith(\"0055\")\n  ) {\n    return telefoneLimpo;\n  }\n\n  // 3) Brasil sem DDI — celular brasileiro:\n  // precisa ter 11 dígitos, DDD válido e começar com 9 após o DDD\n  if (telefoneLimpo.length === 11) {\n    const ddd = telefoneLimpo.slice(0, 2);\n    const numero = telefoneLimpo.slice(2);\n\n    if (dddsValidos.has(ddd) && numero.startsWith(\"9\")) {\n      return aplicarRegraBrasil(ddd, numero);\n    }\n\n    // se não tiver cara de celular BR, assume internacional\n    return telefoneLimpo;\n  }\n\n  // 4) Brasil sem DDI — fixo brasileiro:\n  // 10 dígitos, DDD válido e primeiro dígito do número entre 2 e 5\n  if (telefoneLimpo.length === 10) {\n    const ddd = telefoneLimpo.slice(0, 2);\n    const numero = telefoneLimpo.slice(2);\n\n    if (dddsValidos.has(ddd) && /^[2-5]/.test(numero)) {\n      return aplicarRegraBrasil(ddd, numero);\n    }\n\n    return telefoneLimpo;\n  }\n\n  // 5) Qualquer outro caso: mantém só números\n  return telefoneLimpo;\n}\n\n// Formatação final\nconst formattedNames = capitalizeName(fullNameAnswer);\nconst formattedEmail = formatEmail(emailAnswer);\nconst telefoneFinal = formatTelefone(telefoneClienteOriginal);\nconst dataCadastro = formatDataCadastro(dataRaw, horarioRaw);\nconst urlPagina = formatPageUrl(urlPaginaRaw);\n\n// Resultado\nconst result = {\n  ...formattedNames,\n  email: formattedEmail,\n  whatsapp: telefoneFinal,\n  instagram: \"\",\n  cpf: \"\",\n  cnpj: \"\",\n  utm_source,\n  utm_campaign,\n  utm_term,\n  utm_medium,\n  utm_content,\n  form_id,\n  form_name,\n  page_url: urlPagina,\n  data_cadastro: dataCadastro\n};\n\nreturn [{ json: result }];"
      },
      "id": "3e3545c6-969e-4aa2-abef-6d946e84cd25",
      "name": "formata_dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2048,
        288
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c74589e2-452e-44a5-8a49-b98c6fcdeca8",
              "name": "nome",
              "value": "={{ $node[\"formata_dados\"].json[\"fname\"] }}",
              "type": "string"
            },
            {
              "id": "f17267b5-65b0-4c2b-b9f5-d719193bb457",
              "name": "sobrenome",
              "value": "={{ $node[\"formata_dados\"].json[\"lname\"] }}",
              "type": "string"
            },
            {
              "id": "79edcf9f-8602-409f-8d04-ced41c06d16f",
              "name": "email",
              "value": "={{ $node[\"formata_dados\"].json[\"email\"] }}",
              "type": "string"
            },
            {
              "id": "93103cc7-1870-4962-bb01-59462196b4de",
              "name": "telefone",
              "value": "={{ $node[\"formata_dados\"].json[\"whatsapp\"] }}",
              "type": "string"
            },
            {
              "id": "4750507c-f44a-45d5-b5ce-2a681d5a5581",
              "name": "utm_source",
              "value": "={{ $node[\"formata_dados\"].json[\"utm_source\"] }}",
              "type": "string"
            },
            {
              "id": "a68b8a08-b2d1-4352-affb-0a6f4045cf4a",
              "name": "utm_campaign",
              "value": "={{ $node[\"formata_dados\"].json[\"utm_campaign\"] }}",
              "type": "string"
            },
            {
              "id": "71c74ec7-51b3-422e-a2d5-ae7bbf3bd1b0",
              "name": "utm_term",
              "value": "={{ $node[\"formata_dados\"].json[\"utm_term\"] }}",
              "type": "string"
            },
            {
              "id": "57aa10ae-6631-4352-8925-35138b1c9b7a",
              "name": "utm_medium",
              "value": "={{ $node[\"formata_dados\"].json[\"utm_medium\"] }}",
              "type": "string"
            },
            {
              "id": "4e84ee54-3122-48e4-92d9-1f9db59e0b94",
              "name": "utm_content",
              "value": "={{ $node[\"formata_dados\"].json[\"utm_content\"] }}",
              "type": "string"
            },
            {
              "id": "2bb4770b-d984-4366-a4c5-6e323c3889c1",
              "name": "id_funil",
              "value": "={{ $node[\"busca_funil\"].json[\"id_funil\"] }}",
              "type": "string"
            },
            {
              "id": "b9134b79-303b-4d22-8c4c-36002bd7e7f8",
              "name": "instagram",
              "value": "={{ $node[\"formata_dados\"].json[\"instagram\"] || \"\" }}",
              "type": "string"
            },
            {
              "id": "f94127c8-00db-445d-b77e-bfb06bed512a",
              "name": "id_forms",
              "value": "={{ $node[\"busca_funil\"].json[\"id_forms\"] }}",
              "type": "string"
            },
            {
              "id": "45655fc0-b71d-4f90-a243-6e1f04e25a95",
              "name": "tipo_forms",
              "value": "={{ $node[\"busca_funil\"].json[\"tipo_forms\"] }}",
              "type": "string"
            },
            {
              "id": "1f0f1b9c-2ae4-4407-b49c-65c91cd93623",
              "name": "pagina",
              "value": "={{ $node[\"formata_dados\"].json[\"page_url\"] || \"\" }}",
              "type": "string"
            },
            {
              "id": "20985621-0122-425e-8c0e-aba9542d5e8f",
              "name": "data_cadastro",
              "value": "={{ $node[\"formata_dados\"].json[\"data_cadastro\"] || $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "68889a54-2c0b-4894-95ea-72024bc5c8c2",
      "name": "dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -992,
        288
      ]
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_variavel_n8n_fluxo_funis\"].json[\"valor_variavel\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_forms",
              "value": "={{ $node[\"formata_dados\"].json[\"form_id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1616,
        288
      ],
      "id": "ae6d00fc-10b7-431f-b313-513c22ef579b",
      "name": "busca_funil"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "variaveis_globais_n8n",
          "mode": "list",
          "cachedResultName": "variaveis_globais_n8n"
        },
        "where": {
          "values": [
            {
              "column": "nome_variavel",
              "value": "URL do Fluxo de Verificação de Funis"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "72c093f1-fbfe-44bb-b710-c8722eb2faf2",
      "name": "pesquisa_variavel_n8n_fluxo_funis",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -1824,
        288
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SMjhjBLFctIENkHc",
          "name": "[MySQL] - Fabio Soares"
        }
      }
    },
    {
      "parameters": {
        "queue": "Fila de Ações de Funis",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "6a948950-2497-418c-a699-a5435578d206",
      "name": "fila_acoes_funis",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        -784,
        288
      ],
      "credentials": {
        "rabbitmq": {
          "id": "eKnFCoTy5bVlhIj3",
          "name": "[RabbitMQ] - Fabio Soares"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_variavel_n8n_fluxo_users\"].json[\"valor_variavel\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ ($node[\"formata_dados\"].json[\"fname\"] || \"\").replace(/[^a-zA-Z0-9\\s]/g, \"\") }}"
            },
            {
              "name": "sobrenome",
              "value": "={{ ($node[\"formata_dados\"].json[\"lname\"] || \"\").replace(/[^a-zA-Z0-9\\s]/g, \"\") }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"formata_dados\"].json[\"email\"] || \"\" }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"formata_dados\"].json[\"whatsapp\"] || \"\" }}"
            },
            {
              "name": "instagram",
              "value": "={{ $node[\"formata_dados\"].json[\"instagram\"] || \"\" }}"
            },
            {
              "name": "cpf",
              "value": "={{ $node[\"formata_dados\"].json[\"cpf\"] || \"\" }}"
            },
            {
              "name": "cnpj",
              "value": "={{ $node[\"formata_dados\"].json[\"cnpj\"] || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1200,
        288
      ],
      "id": "cdde788b-dbac-4075-87f7-bf4393f43fc1",
      "name": "cria_atualiza_user"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "variaveis_globais_n8n",
          "mode": "list",
          "cachedResultName": "variaveis_globais_n8n"
        },
        "where": {
          "values": [
            {
              "column": "nome_variavel",
              "value": "URL do Fluxo de Verificação de Users"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "7840d0aa-aead-4c82-b247-04feaac65924",
      "name": "pesquisa_variavel_n8n_fluxo_users",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -1408,
        288
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SMjhjBLFctIENkHc",
          "name": "[MySQL] - Fabio Soares"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cdr-trata-dados-ca",
        "options": {}
      },
      "id": "b39799aa-2bf9-4d36-97e3-9e31fcf0d9d2",
      "name": "cadastro_na_lp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2256,
        496
      ],
      "webhookId": "0089ee9a-e9b7-4d97-8b28-bff5ed59c575"
    },
    {
      "parameters": {
        "queue": "[fabio soares] - Trata Dados CDR",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "6fbb8619-2e04-4fe9-832d-f4f10b98a747",
      "name": "fila_acoes_funis2",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        -2048,
        496
      ],
      "credentials": {
        "rabbitmq": {
          "id": "eKnFCoTy5bVlhIj3",
          "name": "[RabbitMQ] - Fabio Soares"
        }
      }
    },
    {
      "parameters": {
        "queue": "[fabio soares] - Trata Dados CDR",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "acknowledge": "executionFinishesSuccessfully",
          "jsonParseBody": "={{ true }}",
          "parallelMessages": 5
        }
      },
      "id": "caeca8a6-727f-413b-a86f-52ef6f33ffca",
      "name": "chega_da_fila",
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        -2256,
        288
      ],
      "credentials": {
        "rabbitmq": {
          "id": "eKnFCoTy5bVlhIj3",
          "name": "[RabbitMQ] - Fabio Soares"
        }
      }
    }
  ],
  "pinData": {
    "cadastro_na_lp": [
      {
        "json": {
          "headers": {
            "host": "n8n-n8n.yqd7ni.easypanel.host",
            "user-agent": "WordPress/6.9.4; https://ofunilperfeito.com",
            "content-length": "645",
            "accept": "*/*",
            "accept-encoding": "deflate, gzip",
            "content-type": "application/x-www-form-urlencoded",
            "x-forwarded-for": "203.159.80.234",
            "x-forwarded-host": "n8n-n8n.yqd7ni.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "95876c3beb17",
            "x-real-ip": "203.159.80.234"
          },
          "params": {},
          "query": {},
          "body": {
            "Nome": "Vanessa Soares",
            "Telefone": "+14078138483",
            "Email": "vanessasoares.fv@gmail.com",
            "utm_campaign": "7cdr-032026",
            "utm_term": "",
            "utm_medium": "mensagem",
            "utm_source": "whatsapp",
            "utm_content": "",
            "Data": "março 20, 2026",
            "Horário": "2:03 pm",
            "URL da página": "https://ofunilperfeito.com/optin-e/?utm_campaign=7cdr-032026&utm_medium=mensagem&utm_source=whatsapp#stack",
            "Agente de usuário": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36",
            "IP remoto": "2804:1b2:1000:8a35:1fe:2f39:6421:1e9a",
            "Desenvolvido por": "Elementor",
            "form_id": "9d13775",
            "form_name": "Silver"
          },
          "webhookUrl": "https://n8n-n8n.yqd7ni.easypanel.host/webhook/cdr-trata-dados-ca",
          "executionMode": "production"
        }
      }
    ],
    "chega_da_fila": [
      {
        "json": {
          "fields": {
            "consumerTag": "amq.ctag-5qMhQPMETv_dqLjm4Y-R9g",
            "deliveryTag": 2,
            "redelivered": false,
            "exchange": "",
            "routingKey": "[fabio soares] - Trata Dados CDR"
          },
          "properties": {
            "headers": {}
          },
          "content": {
            "headers": {
              "host": "n8n-n8n.yqd7ni.easypanel.host",
              "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36",
              "content-length": "542",
              "accept": "*/*",
              "accept-encoding": "gzip, deflate, br, zstd",
              "accept-language": "pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7",
              "content-type": "application/json",
              "origin": "https://ofunilperfeito.com",
              "priority": "u=1, i",
              "referer": "https://ofunilperfeito.com/",
              "sec-ch-ua": "\"Chromium\";v=\"146\", \"Not-A.Brand\";v=\"24\", \"Google Chrome\";v=\"146\"",
              "sec-ch-ua-mobile": "?0",
              "sec-ch-ua-platform": "\"Windows\"",
              "sec-fetch-dest": "empty",
              "sec-fetch-mode": "cors",
              "sec-fetch-site": "cross-site",
              "x-forwarded-for": "177.40.200.157",
              "x-forwarded-host": "n8n-n8n.yqd7ni.easypanel.host",
              "x-forwarded-port": "443",
              "x-forwarded-proto": "https",
              "x-forwarded-server": "95876c3beb17",
              "x-real-ip": "177.40.200.157"
            },
            "params": {},
            "query": {},
            "body": {
              "tempId": "1774028251656-177",
              "form_id": "elementor-popup-modal-582",
              "form_name": "Form Silver",
              "offer_type": "silver",
              "name": "Vanessa Soares",
              "email": "vanessasoares.fv@gmail.com",
              "phone": "14078138483",
              "utm_source": "whatsapp",
              "utm_medium": "mensagem",
              "utm_campaign": "7cdr-032026",
              "utm_content": "",
              "utm_term": "",
              "path": "/optin-b/",
              "page_url": "https://ofunilperfeito.com/optin-b/?utm_campaign=7cdr-032026&utm_medium=mensagem&utm_source=whatsapp#stack",
              "sck": "whatsapp|mensagem|7cdr-032026|||/optin-b/",
              "Data": "março 20, 2026",
              "Horário": "2:37 pm"
            },
            "webhookUrl": "https://n8n-n8n.yqd7ni.easypanel.host/webhook/cdr-trata-dados-ca",
            "executionMode": "production"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "JC1jRbnEV3QDh2TT",
    "timeSavedMode": "fixed",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-03-12T14:02:33.844Z",
      "createdAt": "2026-03-12T14:02:33.844Z",
      "role": "workflow:owner",
      "workflowId": "vTuYolwZNf9vjfDr",
      "projectId": "DsELi0ezptx4jHSs"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2026-03-20T17:40:40.566Z",
  "versionId": "f3f60b57-f190-4d6a-9cdb-df51919aa900"
}