workflows/⌚[Fabio Soares][GHL] - Adiciona Tag no Contato.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-14T23:33:06.000Z",
    "createdAt": "2026-03-14T23:32:57.488Z",
    "versionId": "bbe34410-4f3f-4be4-a2ad-8423c752fef7",
    "workflowId": "A3NcxMRBnblA4326",
    "nodes": [
      {
        "parameters": {
          "operation": "select",
          "table": {
            "__rl": true,
            "value": "variaveis_globais_n8n",
            "mode": "list",
            "cachedResultName": "variaveis_globais_n8n"
          },
          "where": {
            "values": [
              {
                "column": "nome_variavel",
                "value": "Location do GoHighLevel"
              }
            ]
          },
          "combineConditions": "OR",
          "options": {}
        },
        "id": "c20f8ce5-7fe1-472a-82a5-1f55c5fee42c",
        "name": "pesquisa_location_crm1",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          -432,
          1136
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "SMjhjBLFctIENkHc",
            "name": "[MySQL] - Fabio Soares"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT \n    t.*\nFROM \n    tags_crm t\nINNER JOIN \n    tag_funil_crm tfc\nON \n    t.id = tfc.id_tag\nWHERE \n    tfc.id_etapa_funil = {{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_etapa_funil\"] }}\n    AND t.entidade = 'contact';\n",
          "options": {}
        },
        "id": "f8dc1b3d-32a7-44ba-b686-d35f617501fb",
        "name": "pesquisa_tag_funil",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          672,
          1488
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "SMjhjBLFctIENkHc",
            "name": "[MySQL] - Fabio Soares"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          1200,
          1136
        ],
        "id": "7ab91c29-62d1-45be-8010-78e44972c886",
        "name": "Loop Over Items"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          1392,
          944
        ],
        "id": "d62da3a5-5477-4489-9715-96bc4e8c52a3",
        "name": "Limit"
      },
      {
        "parameters": {
          "operation": "select",
          "table": {
            "__rl": true,
            "value": "users",
            "mode": "list",
            "cachedResultName": "users"
          },
          "where": {
            "values": [
              {
                "column": "id",
                "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_user\"] }}"
              }
            ]
          },
          "combineConditions": "OR",
          "options": {}
        },
        "id": "381e46a3-ca98-4adb-9746-5cbc3c9de33a",
        "name": "pesquisa_user",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          -208,
          1136
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "SMjhjBLFctIENkHc",
            "name": "[MySQL] - Fabio Soares"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "a84ded2b-f300-41fe-83c8-e47817e2612f",
                "leftValue": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_situacao_checkout\"] }}",
                "rightValue": "",
                "operator": {
                  "type": "number",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          240,
          1136
        ],
        "id": "ed1da466-d250-4ad2-ad36-46669c7cfd11",
        "name": "checkout"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT \n    t.*\nFROM \n    tags_crm t\nINNER JOIN \n    tag_funil_crm tfc\nON \n    t.id = tfc.id_tag\nWHERE \n    tfc.id_situacao_checkout = {{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_situacao_checkout\"] }}\n    AND t.entidade = 'contact';",
          "options": {}
        },
        "id": "46c2cd36-6d8d-41ea-92c3-861dcc163dd1",
        "name": "pesquisa_tag_funil1",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          448,
          1040
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "SMjhjBLFctIENkHc",
            "name": "[MySQL] - Fabio Soares"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT \n    t.*\nFROM \n    tags_crm t\nINNER JOIN \n    tag_funil_crm tfc\nON \n    t.id = tfc.id_tag\nWHERE \n    tfc.id_situacao_agendamento = {{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_situacao_agendamento\"] }}\n    AND t.entidade = 'contact';",
          "options": {}
        },
        "id": "0fc2d663-292c-433d-b089-dc69fcb04d47",
        "name": "pesquisa_tag_funil2",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          672,
          1280
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "SMjhjBLFctIENkHc",
            "name": "[MySQL] - Fabio Soares"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "a84ded2b-f300-41fe-83c8-e47817e2612f",
                "leftValue": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_situacao_agendamento\"] }}",
                "rightValue": "",
                "operator": {
                  "type": "number",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          416,
          1360
        ],
        "id": "54791878-3ae4-42b8-ac53-896cc3f8ba0a",
        "name": "agendamento"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "0c90b77b-7778-4200-9255-5e2b6c72e3da",
                "leftValue": "={{ $node[\"pesquisa_user\"].json[\"id_contact_crm\"] }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "empty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          16,
          1136
        ],
        "id": "4e6d9df5-4f90-4b57-abe8-c5c973d352d7",
        "name": "contato_nao_existe"
      },
      {
        "parameters": {
          "operation": "select",
          "table": {
            "__rl": true,
            "value": "acoes_workflows",
            "mode": "list",
            "cachedResultName": "acoes_workflows"
          },
          "where": {
            "values": [
              {
                "column": "acao",
                "value": "create_update_contact_crm"
              }
            ]
          },
          "options": {}
        },
        "id": "fb6a74b3-144f-4c03-b521-b795029fd6f1",
        "name": "pesquisa_url_create_update_contact_crm",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          240,
          800
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "SMjhjBLFctIENkHc",
            "name": "[MySQL] - Fabio Soares"
          }
        }
      },
      {
        "parameters": {
          "url": "={{ $node[\"pesquisa_url_create_update_contact_crm\"].json[\"endpoint_workflow\"] }}",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "id_etapa_funil",
                "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_etapa_funil\"] }}"
              },
              {
                "name": "id_funil",
                "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_funil\"] }}"
              },
              {
                "name": "id_user",
                "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_user\"] }}"
              },
              {
                "name": "payload",
                "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"payload\"] }}"
              },
              {
                "name": "id_situacao_checkout",
                "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_situacao_checkout\"]  || \"\" }}"
              },
              {
                "name": "id_situacao_agendamento",
                "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_situacao_agendamento\"] || \"\" }}"
              },
              {
                "name": "tipo_forms",
                "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"payload\"][\"tipo_forms\"] }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          448,
          800
        ],
        "id": "ffc5462d-2b06-4f7e-905d-9b07c422a2a5",
        "name": "chama_fluxo_create_update_contact_crm"
      },
      {
        "parameters": {
          "path": "add-tag-ghl",
          "responseMode": "lastNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -1136,
          1136
        ],
        "id": "8015ebf2-a659-4367-b74f-dff95e690291",
        "name": "fluxo_chamado",
        "webhookId": "54fbef6d-437b-447d-a499-bf861eece704"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $node[\"pesquisa_url_base_crm\"].json[\"valor_variavel\"] }}contacts/{{ $node[\"pesquisa_user\"].json[\"id_contact_crm\"] }}/tags",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Version",
                "value": "2021-07-28"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $node[\"pesquisa_api_key_crm\"].json[\"valor_variavel\"] }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Accept",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"tags\": [\"{{ $node[\"Loop Over Items\"].json[\"nome_tag\"] }}\"]\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1392,
          1264
        ],
        "id": "ae0d3404-1cf5-476d-9d7d-29dd665cdeae",
        "name": "add_tag"
      },
      {
        "parameters": {
          "operation": "select",
          "table": {
            "__rl": true,
            "value": "variaveis_globais_n8n",
            "mode": "list",
            "cachedResultName": "variaveis_globais_n8n"
          },
          "where": {
            "values": [
              {
                "column": "nome_variavel",
                "value": "URL Base do CRM"
              }
            ]
          },
          "combineConditions": "OR",
          "options": {}
        },
        "id": "fdb20b8c-96dc-4b7b-9f3d-5ee88cb90b83",
        "name": "pesquisa_url_base_crm",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          -912,
          1136
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "SMjhjBLFctIENkHc",
            "name": "[MySQL] - Fabio Soares"
          }
        }
      },
      {
        "parameters": {
          "operation": "select",
          "table": {
            "__rl": true,
            "value": "variaveis_globais_n8n",
            "mode": "list",
            "cachedResultName": "variaveis_globais_n8n"
          },
          "where": {
            "values": [
              {
                "column": "nome_variavel",
                "value": "API Key do GoHighLevel"
              }
            ]
          },
          "combineConditions": "OR",
          "options": {}
        },
        "id": "5c16b13e-2f5d-4af0-8c04-80361a4e2aeb",
        "name": "pesquisa_api_key_crm",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          -672,
          1136
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "SMjhjBLFctIENkHc",
            "name": "[MySQL] - Fabio Soares"
          }
        }
      }
    ],
    "connections": {
      "pesquisa_location_crm1": {
        "main": [
          [
            {
              "node": "pesquisa_user",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "pesquisa_tag_funil": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "Limit",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "add_tag",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "pesquisa_user": {
        "main": [
          [
            {
              "node": "contato_nao_existe",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "checkout": {
        "main": [
          [
            {
              "node": "pesquisa_tag_funil1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "agendamento",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "pesquisa_tag_funil1": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "pesquisa_tag_funil2": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "agendamento": {
        "main": [
          [
            {
              "node": "pesquisa_tag_funil2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "pesquisa_tag_funil",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "contato_nao_existe": {
        "main": [
          [
            {
              "node": "pesquisa_url_create_update_contact_crm",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "checkout",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "pesquisa_url_create_update_contact_crm": {
        "main": [
          [
            {
              "node": "chama_fluxo_create_update_contact_crm",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "chama_fluxo_create_update_contact_crm": {
        "main": [
          [
            {
              "node": "checkout",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "fluxo_chamado": {
        "main": [
          [
            {
              "node": "pesquisa_url_base_crm",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "add_tag": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "pesquisa_url_base_crm": {
        "main": [
          [
            {
              "node": "pesquisa_api_key_crm",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "pesquisa_api_key_crm": {
        "main": [
          [
            {
              "node": "pesquisa_location_crm1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Automagic Bots",
    "name": "Version bbe34410",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "bbe34410-4f3f-4be4-a2ad-8423c752fef7",
  "connections": {
    "pesquisa_location_crm1": {
      "main": [
        [
          {
            "node": "pesquisa_user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_tag_funil": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add_tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_user": {
      "main": [
        [
          {
            "node": "contato_nao_existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "checkout": {
      "main": [
        [
          {
            "node": "pesquisa_tag_funil1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_tag_funil1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_tag_funil2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agendamento": {
      "main": [
        [
          {
            "node": "pesquisa_tag_funil2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_tag_funil",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "contato_nao_existe": {
      "main": [
        [
          {
            "node": "pesquisa_url_create_update_contact_crm",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "checkout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_url_create_update_contact_crm": {
      "main": [
        [
          {
            "node": "chama_fluxo_create_update_contact_crm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chama_fluxo_create_update_contact_crm": {
      "main": [
        [
          {
            "node": "checkout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fluxo_chamado": {
      "main": [
        [
          {
            "node": "pesquisa_url_base_crm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_url_base_crm": {
      "main": [
        [
          {
            "node": "pesquisa_api_key_crm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_api_key_crm": {
      "main": [
        [
          {
            "node": "pesquisa_location_crm1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-06T21:43:17.876Z",
  "id": "A3NcxMRBnblA4326",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "⌚[Fabio Soares][GHL] - Adiciona Tag no Contato",
  "nodes": [
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "variaveis_globais_n8n",
          "mode": "list",
          "cachedResultName": "variaveis_globais_n8n"
        },
        "where": {
          "values": [
            {
              "column": "nome_variavel",
              "value": "Location do GoHighLevel"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "c20f8ce5-7fe1-472a-82a5-1f55c5fee42c",
      "name": "pesquisa_location_crm1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -432,
        1136
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SMjhjBLFctIENkHc",
          "name": "[MySQL] - Fabio Soares"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    t.*\nFROM \n    tags_crm t\nINNER JOIN \n    tag_funil_crm tfc\nON \n    t.id = tfc.id_tag\nWHERE \n    tfc.id_etapa_funil = {{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_etapa_funil\"] }}\n    AND t.entidade = 'contact';\n",
        "options": {}
      },
      "id": "f8dc1b3d-32a7-44ba-b686-d35f617501fb",
      "name": "pesquisa_tag_funil",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        672,
        1488
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SMjhjBLFctIENkHc",
          "name": "[MySQL] - Fabio Soares"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1200,
        1136
      ],
      "id": "7ab91c29-62d1-45be-8010-78e44972c886",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1392,
        944
      ],
      "id": "d62da3a5-5477-4489-9715-96bc4e8c52a3",
      "name": "Limit"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_user\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "381e46a3-ca98-4adb-9746-5cbc3c9de33a",
      "name": "pesquisa_user",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -208,
        1136
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SMjhjBLFctIENkHc",
          "name": "[MySQL] - Fabio Soares"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "a84ded2b-f300-41fe-83c8-e47817e2612f",
              "leftValue": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_situacao_checkout\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        240,
        1136
      ],
      "id": "ed1da466-d250-4ad2-ad36-46669c7cfd11",
      "name": "checkout"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    t.*\nFROM \n    tags_crm t\nINNER JOIN \n    tag_funil_crm tfc\nON \n    t.id = tfc.id_tag\nWHERE \n    tfc.id_situacao_checkout = {{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_situacao_checkout\"] }}\n    AND t.entidade = 'contact';",
        "options": {}
      },
      "id": "46c2cd36-6d8d-41ea-92c3-861dcc163dd1",
      "name": "pesquisa_tag_funil1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        448,
        1040
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SMjhjBLFctIENkHc",
          "name": "[MySQL] - Fabio Soares"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    t.*\nFROM \n    tags_crm t\nINNER JOIN \n    tag_funil_crm tfc\nON \n    t.id = tfc.id_tag\nWHERE \n    tfc.id_situacao_agendamento = {{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_situacao_agendamento\"] }}\n    AND t.entidade = 'contact';",
        "options": {}
      },
      "id": "0fc2d663-292c-433d-b089-dc69fcb04d47",
      "name": "pesquisa_tag_funil2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        672,
        1280
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SMjhjBLFctIENkHc",
          "name": "[MySQL] - Fabio Soares"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a84ded2b-f300-41fe-83c8-e47817e2612f",
              "leftValue": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_situacao_agendamento\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        1360
      ],
      "id": "54791878-3ae4-42b8-ac53-896cc3f8ba0a",
      "name": "agendamento"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0c90b77b-7778-4200-9255-5e2b6c72e3da",
              "leftValue": "={{ $node[\"pesquisa_user\"].json[\"id_contact_crm\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        16,
        1136
      ],
      "id": "4e6d9df5-4f90-4b57-abe8-c5c973d352d7",
      "name": "contato_nao_existe"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "create_update_contact_crm"
            }
          ]
        },
        "options": {}
      },
      "id": "fb6a74b3-144f-4c03-b521-b795029fd6f1",
      "name": "pesquisa_url_create_update_contact_crm",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        240,
        800
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SMjhjBLFctIENkHc",
          "name": "[MySQL] - Fabio Soares"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_url_create_update_contact_crm\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_etapa_funil\"] }}"
            },
            {
              "name": "id_funil",
              "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_funil\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_user\"] }}"
            },
            {
              "name": "payload",
              "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"payload\"] }}"
            },
            {
              "name": "id_situacao_checkout",
              "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_situacao_checkout\"]  || \"\" }}"
            },
            {
              "name": "id_situacao_agendamento",
              "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_situacao_agendamento\"] || \"\" }}"
            },
            {
              "name": "tipo_forms",
              "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"payload\"][\"tipo_forms\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        800
      ],
      "id": "ffc5462d-2b06-4f7e-905d-9b07c422a2a5",
      "name": "chama_fluxo_create_update_contact_crm"
    },
    {
      "parameters": {
        "path": "add-tag-ghl",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1136,
        1136
      ],
      "id": "8015ebf2-a659-4367-b74f-dff95e690291",
      "name": "fluxo_chamado",
      "webhookId": "54fbef6d-437b-447d-a499-bf861eece704"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"pesquisa_url_base_crm\"].json[\"valor_variavel\"] }}contacts/{{ $node[\"pesquisa_user\"].json[\"id_contact_crm\"] }}/tags",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"pesquisa_api_key_crm\"].json[\"valor_variavel\"] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tags\": [\"{{ $node[\"Loop Over Items\"].json[\"nome_tag\"] }}\"]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1392,
        1264
      ],
      "id": "ae0d3404-1cf5-476d-9d7d-29dd665cdeae",
      "name": "add_tag"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "variaveis_globais_n8n",
          "mode": "list",
          "cachedResultName": "variaveis_globais_n8n"
        },
        "where": {
          "values": [
            {
              "column": "nome_variavel",
              "value": "URL Base do CRM"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "fdb20b8c-96dc-4b7b-9f3d-5ee88cb90b83",
      "name": "pesquisa_url_base_crm",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -912,
        1136
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SMjhjBLFctIENkHc",
          "name": "[MySQL] - Fabio Soares"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "variaveis_globais_n8n",
          "mode": "list",
          "cachedResultName": "variaveis_globais_n8n"
        },
        "where": {
          "values": [
            {
              "column": "nome_variavel",
              "value": "API Key do GoHighLevel"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "5c16b13e-2f5d-4af0-8c04-80361a4e2aeb",
      "name": "pesquisa_api_key_crm",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -672,
        1136
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SMjhjBLFctIENkHc",
          "name": "[MySQL] - Fabio Soares"
        }
      }
    }
  ],
  "pinData": {
    "fluxo_chamado": [
      {
        "json": {
          "headers": {
            "host": "n8n-n8n.yqd7ni.easypanel.host",
            "user-agent": "axios/1.13.5",
            "content-length": "60",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "n8n-n8n.yqd7ni.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "95876c3beb17",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "id_etapa_funil": 6,
            "id_user": 1044,
            "id_situacao_checkout": 1
          },
          "webhookUrl": "https://n8n-n8n.yqd7ni.easypanel.host/webhook/add-tag-ghl",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "JC1jRbnEV3QDh2TT"
  },
  "shared": [
    {
      "updatedAt": "2026-03-06T21:43:17.878Z",
      "createdAt": "2026-03-06T21:43:17.878Z",
      "role": "workflow:owner",
      "workflowId": "A3NcxMRBnblA4326",
      "projectId": "DsELi0ezptx4jHSs"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-03-14T23:32:57.487Z",
  "versionId": "bbe34410-4f3f-4be4-a2ad-8423c752fef7"
}