workflows/⌚[Fabio Soares][DB] - Busca Funil.json
{
  "active": true,
  "connections": {
    "nao_existe": {
      "main": [
        [
          {
            "node": "avisa_no_discord",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "centraliza_dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_forms": {
      "main": [
        [
          {
            "node": "nao_existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "centraliza_dados": {
      "main": [
        [
          {
            "node": "retorna_dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fluxo_chamado": {
      "main": [
        [
          {
            "node": "pesquisa_forms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-06T17:34:35.220Z",
  "id": "17aL9HuSzYWKrYHs",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "⌚[Fabio Soares][DB] - Busca Funil",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "675837f1-452e-4e53-9a76-a935461c132c",
              "leftValue": "={{ $node[\"pesquisa_forms\"].json[\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -208,
        176
      ],
      "id": "23f3621e-518a-4ce9-a004-5ad5850476b6",
      "name": "nao_existe"
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/1334896997982801930/RPfANHRgR0kdc8eUkyaSo571_Wkmeg1EF2ua9J8CEAdFbB9KJPIDbPbIOlj4wuwstnnx",
        "text": "=🚨 **Funil inexistente no N8N da Wendell Carvalho.**\n\nFavor, cadastrar o formulário no banco de dados, na tabela “formularios”.",
        "options": {}
      },
      "id": "038c079d-bf86-4073-a5d3-0d09cd460b60",
      "name": "avisa_no_discord",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "formularios",
          "mode": "list",
          "cachedResultName": "formularios"
        },
        "where": {
          "values": [
            {
              "column": "id_ferramenta_forms",
              "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_forms\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "aa5384cf-23c3-4fb4-8b27-8fab61f3d902",
      "name": "pesquisa_forms",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -416,
        176
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SMjhjBLFctIENkHc",
          "name": "[MySQL] - Fabio Soares"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "61b8bd95-e04f-44bb-a478-69b1e6b20878",
              "name": "id_funil",
              "value": "={{ $node[\"pesquisa_forms\"].json[\"id_funil\"] }}",
              "type": "string"
            },
            {
              "id": "11fb5624-27f6-449c-8554-ec1f62f36cd1",
              "name": "id_forms",
              "value": "={{ $node[\"pesquisa_forms\"].json[\"id\"] }}",
              "type": "string"
            },
            {
              "id": "58c74b08-d0ce-462a-b494-b868ec44013d",
              "name": "tipo_forms",
              "value": "={{ $node[\"pesquisa_forms\"].json[\"tipo\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        240
      ],
      "id": "bfa66d21-706b-4b76-80d1-ff9953f68bad",
      "name": "centraliza_dados"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        208,
        240
      ],
      "id": "48189d17-fce7-4245-844c-b1e59466709e",
      "name": "retorna_dados"
    },
    {
      "parameters": {
        "path": "busca_funil",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -656,
        176
      ],
      "id": "6781822f-90a3-458d-8a22-b0a5be5d100e",
      "name": "fluxo_chamado",
      "webhookId": "95f7f5f1-7543-4dee-93c1-9277a2bd8f7f"
    }
  ],
  "pinData": {
    "fluxo_chamado": [
      {
        "json": {
          "headers": {
            "host": "n8nwebhookgrupokedma.automagicbots.com.br",
            "user-agent": "axios/1.7.4",
            "content-length": "23",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "n8nwebhookgrupokedma.automagicbots.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "63cf449bb96d",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "id_forms": "64624e6e"
          },
          "webhookUrl": "https://n8nwebhookgrupokedma.automagicbots.com.br/webhook/busca-funil",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "JC1jRbnEV3QDh2TT"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-03-06T18:47:48.000Z",
  "versionId": "9aaba3f4-098b-4662-9537-5b537ec8674f"
}