workflows/⌚[Fabio Soares][7CDR] - Trata Dados.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-12T22:46:24.000Z",
    "createdAt": "2026-03-12T22:29:28.920Z",
    "versionId": "cad3ac66-459e-46ea-b857-d6a312c44c9e",
    "workflowId": "vTuYolwZNf9vjfDr",
    "nodes": [
      {
        "parameters": {
          "jsCode": "// Detecta automaticamente de onde vem o body\nconst body =\n  items[0].json?.content?.body ||\n  items[0].json?.body ||\n  {};\n\n// =========================\n// Captura segura dos dados\n// =========================\n\nconst fullNameAnswer =\n  body[\"Nome\"] ||\n  body[\"name\"] ||\n  body[\"nome\"] ||\n  body[\"nome_completo\"] ||\n  body?.names?.first_name ||\n  \"\";\n\nconst emailAnswer =\n  body[\"E-mail\"] ||\n  body[\"email\"] ||\n  body[\"E-mail \"] ||\n  \"\";\n\nconst telefoneClienteOriginal =\n  body[\"Telefone\"] ||\n  body[\"phonenumber\"] ||\n  body[\"phone\"] ||\n  body[\"telefone\"] ||\n  \"\";\n\n// UTMs\nconst utm_source   = body[\"utm_source\"]   || \"\";\nconst utm_campaign = body[\"utm_campaign\"] || \"\";\nconst utm_medium   = body[\"utm_medium\"]   || \"\";\nconst utm_term     = body[\"utm_term\"]     || \"\";\nconst utm_content  = body[\"utm_content\"]  || \"\";\n\n// Form info\nconst form_id =\n  body[\"id_formulario\"] ||\n  body[\"form_id\"] ||\n  body?.__submission?.form_id ||\n  \"\";\n\nconst form_name =\n  body[\"form_name\"] ||\n  body?.__submission?.source_url ||\n  \"\";\n\n// Extras do payload\nconst data_formulario =\n  body[\"Data\"] ||\n  \"\";\n\nconst horario_formulario =\n  body[\"Horário\"] ||\n  body[\"Horario\"] ||\n  \"\";\n\nconst page_url =\n  body[\"URL da página\"] ||\n  body[\"URL da pagina\"] ||\n  body[\"page_url\"] ||\n  \"\";\n\nconst user_agent =\n  body[\"Agente de usuário\"] ||\n  body[\"Agente de usuario\"] ||\n  body[\"user_agent\"] ||\n  \"\";\n\nconst ip_remoto =\n  body[\"IP remoto\"] ||\n  body[\"ip\"] ||\n  body[\"remote_ip\"] ||\n  \"\";\n\nconst desenvolvido_por =\n  body[\"Desenvolvido por\"] ||\n  \"\";\n\n// =========================\n// Funções auxiliares\n// =========================\n\nfunction capitalizeName(fullName) {\n  if (!fullName) return { fname: \"\", lname: \"\", fullname: \"\" };\n\n  const lowerCaseWords = [\"da\", \"de\", \"do\", \"dos\", \"das\", \"di\", \"du\"];\n\n  const words = String(fullName)\n    .trim()\n    .toLowerCase()\n    .split(/\\s+/)\n    .map((word, index) => {\n      if (lowerCaseWords.includes(word) && index !== 0) return word;\n      return word.charAt(0).toUpperCase() + word.slice(1);\n    });\n\n  const fname = words.shift() || \"\";\n  const lname = words.join(\" \");\n\n  return {\n    fname,\n    lname,\n    fullname: lname ? `${fname} ${lname}` : fname\n  };\n}\n\nfunction formatEmail(email) {\n  return String(email || \"\").toLowerCase().trim();\n}\n\n// =========================\n// Tratamento de telefone\n// =========================\n\nfunction formatTelefone(telefone) {\n  const telefoneLimpo = String(telefone || \"\").replace(/\\D/g, \"\");\n\n  if (!telefoneLimpo) return \"\";\n\n  // Caso já venha com DDI 55\n  if (telefoneLimpo.startsWith(\"55\")) {\n    const DDI = \"55\";\n    const DDD = telefoneLimpo.slice(2, 4);\n    let numero = telefoneLimpo.slice(4);\n\n    if (Number(DDD) > 28 && numero.length === 9 && numero.startsWith(\"9\")) {\n      numero = numero.slice(1);\n    }\n\n    if (Number(DDD) <= 28 && numero.length === 8) {\n      numero = `9${numero}`;\n    }\n\n    return `${DDI}${DDD}${numero}`;\n  }\n\n  // Caso venha sem DDI\n  if (telefoneLimpo.length === 10 || telefoneLimpo.length === 11) {\n    const DDI = \"55\";\n    const DDD = telefoneLimpo.slice(0, 2);\n    let numero = telefoneLimpo.slice(2);\n\n    if (Number(DDD) > 28 && numero.length === 9 && numero.startsWith(\"9\")) {\n      numero = numero.slice(1);\n    }\n\n    if (Number(DDD) <= 28 && numero.length === 8) {\n      numero = `9${numero}`;\n    }\n\n    return `${DDI}${DDD}${numero}`;\n  }\n\n  return telefoneLimpo;\n}\n\n// =========================\n// Formatação final\n// =========================\n\nconst formattedNames = capitalizeName(fullNameAnswer);\nconst formattedEmail = formatEmail(emailAnswer);\nconst telefoneFinal = formatTelefone(telefoneClienteOriginal);\n\n// Resultado final\nconst result = {\n  ...formattedNames,\n  email: formattedEmail,\n  whatsapp: telefoneFinal,\n  instagram: \"\",\n  cpf: \"\",\n  cnpj: \"\",\n\n  utm_source,\n  utm_campaign,\n  utm_term,\n  utm_medium,\n  utm_content,\n\n  form_id,\n  form_name,\n\n  data_formulario,\n  horario_formulario,\n  page_url,\n  user_agent,\n  ip_remoto,\n  desenvolvido_por\n};\n\nreturn [{ json: result }];"
        },
        "id": "3e3545c6-969e-4aa2-abef-6d946e84cd25",
        "name": "formata_dados",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2048,
          288
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "c74589e2-452e-44a5-8a49-b98c6fcdeca8",
                "name": "nome",
                "value": "={{ $node[\"formata_dados\"].json[\"fname\"] }}",
                "type": "string"
              },
              {
                "id": "f17267b5-65b0-4c2b-b9f5-d719193bb457",
                "name": "sobrenome",
                "value": "={{ $node[\"formata_dados\"].json[\"lname\"] }}",
                "type": "string"
              },
              {
                "id": "79edcf9f-8602-409f-8d04-ced41c06d16f",
                "name": "email",
                "value": "={{ $node[\"formata_dados\"].json[\"email\"] }}",
                "type": "string"
              },
              {
                "id": "93103cc7-1870-4962-bb01-59462196b4de",
                "name": "telefone",
                "value": "={{ $node[\"formata_dados\"].json[\"whatsapp\"] }}",
                "type": "string"
              },
              {
                "id": "4750507c-f44a-45d5-b5ce-2a681d5a5581",
                "name": "utm_source",
                "value": "={{ $node[\"formata_dados\"].json[\"utm_source\"] }}",
                "type": "string"
              },
              {
                "id": "a68b8a08-b2d1-4352-affb-0a6f4045cf4a",
                "name": "utm_campaign",
                "value": "={{ $node[\"formata_dados\"].json[\"utm_campaign\"] }}",
                "type": "string"
              },
              {
                "id": "71c74ec7-51b3-422e-a2d5-ae7bbf3bd1b0",
                "name": "utm_term",
                "value": "={{ $node[\"formata_dados\"].json[\"utm_term\"] }}",
                "type": "string"
              },
              {
                "id": "57aa10ae-6631-4352-8925-35138b1c9b7a",
                "name": "utm_medium",
                "value": "={{ $node[\"formata_dados\"].json[\"utm_medium\"] }}",
                "type": "string"
              },
              {
                "id": "4e84ee54-3122-48e4-92d9-1f9db59e0b94",
                "name": "utm_content",
                "value": "={{ $node[\"formata_dados\"].json[\"utm_content\"] }}",
                "type": "string"
              },
              {
                "id": "2bb4770b-d984-4366-a4c5-6e323c3889c1",
                "name": "id_funil",
                "value": "={{ $node[\"busca_funil\"].json[\"id_funil\"] }}",
                "type": "string"
              },
              {
                "id": "b9134b79-303b-4d22-8c4c-36002bd7e7f8",
                "name": "instagram",
                "value": "={{ $node[\"formata_dados\"].json[\"instagram\"] || \"\" }}",
                "type": "string"
              },
              {
                "id": "f94127c8-00db-445d-b77e-bfb06bed512a",
                "name": "id_forms",
                "value": "={{ $node[\"busca_funil\"].json[\"id_forms\"] }}",
                "type": "string"
              },
              {
                "id": "45655fc0-b71d-4f90-a243-6e1f04e25a95",
                "name": "tipo_forms",
                "value": "={{ $node[\"busca_funil\"].json[\"tipo_forms\"] }}",
                "type": "string"
              },
              {
                "id": "1f0f1b9c-2ae4-4407-b49c-65c91cd93623",
                "name": "pagina",
                "value": "={{ $node[\"busca_funil\"].json[\"id_forms\"] || \"\" }}",
                "type": "string"
              },
              {
                "id": "20985621-0122-425e-8c0e-aba9542d5e8f",
                "name": "data_cadastro",
                "value": "={{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "68889a54-2c0b-4894-95ea-72024bc5c8c2",
        "name": "dados",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.3,
        "position": [
          -992,
          288
        ]
      },
      {
        "parameters": {
          "url": "={{ $node[\"pesquisa_variavel_n8n_fluxo_funis\"].json[\"valor_variavel\"] }}",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "id_forms",
                "value": "={{ $node[\"formata_dados\"].json[\"form_id\"] }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -1616,
          288
        ],
        "id": "ae6d00fc-10b7-431f-b313-513c22ef579b",
        "name": "busca_funil"
      },
      {
        "parameters": {
          "operation": "select",
          "table": {
            "__rl": true,
            "value": "variaveis_globais_n8n",
            "mode": "list",
            "cachedResultName": "variaveis_globais_n8n"
          },
          "where": {
            "values": [
              {
                "column": "nome_variavel",
                "value": "URL do Fluxo de Verificação de Funis"
              }
            ]
          },
          "combineConditions": "OR",
          "options": {}
        },
        "id": "72c093f1-fbfe-44bb-b710-c8722eb2faf2",
        "name": "pesquisa_variavel_n8n_fluxo_funis",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          -1824,
          288
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "SMjhjBLFctIENkHc",
            "name": "[MySQL] - Fabio Soares"
          }
        }
      },
      {
        "parameters": {
          "queue": "Fila de Ações de Funis",
          "options": {
            "arguments": {
              "argument": [
                {
                  "key": "x-queue-type",
                  "value": "quorum"
                }
              ]
            },
            "durable": true
          }
        },
        "id": "6a948950-2497-418c-a699-a5435578d206",
        "name": "fila_acoes_funis",
        "type": "n8n-nodes-base.rabbitmq",
        "typeVersion": 1,
        "position": [
          -752,
          288
        ],
        "credentials": {
          "rabbitmq": {
            "id": "eKnFCoTy5bVlhIj3",
            "name": "[RabbitMQ] - Fabio Soares"
          }
        }
      },
      {
        "parameters": {
          "url": "={{ $node[\"pesquisa_variavel_n8n_fluxo_users\"].json[\"valor_variavel\"] }}",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "nome",
                "value": "={{ ($node[\"formata_dados\"].json[\"fname\"] || \"\").replace(/[^a-zA-Z0-9\\s]/g, \"\") }}"
              },
              {
                "name": "sobrenome",
                "value": "={{ ($node[\"formata_dados\"].json[\"lname\"] || \"\").replace(/[^a-zA-Z0-9\\s]/g, \"\") }}"
              },
              {
                "name": "email",
                "value": "={{ $node[\"formata_dados\"].json[\"email\"] || \"\" }}"
              },
              {
                "name": "telefone",
                "value": "={{ $node[\"formata_dados\"].json[\"whatsapp\"] || \"\" }}"
              },
              {
                "name": "instagram",
                "value": "={{ $node[\"formata_dados\"].json[\"instagram\"] || \"\" }}"
              },
              {
                "name": "cpf",
                "value": "={{ $node[\"formata_dados\"].json[\"cpf\"] || \"\" }}"
              },
              {
                "name": "cnpj",
                "value": "={{ $node[\"formata_dados\"].json[\"cnpj\"] || \"\" }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -1200,
          288
        ],
        "id": "cdde788b-dbac-4075-87f7-bf4393f43fc1",
        "name": "cria_atualiza_user"
      },
      {
        "parameters": {
          "operation": "select",
          "table": {
            "__rl": true,
            "value": "variaveis_globais_n8n",
            "mode": "list",
            "cachedResultName": "variaveis_globais_n8n"
          },
          "where": {
            "values": [
              {
                "column": "nome_variavel",
                "value": "URL do Fluxo de Verificação de Users"
              }
            ]
          },
          "combineConditions": "OR",
          "options": {}
        },
        "id": "7840d0aa-aead-4c82-b247-04feaac65924",
        "name": "pesquisa_variavel_n8n_fluxo_users",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          -1408,
          288
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "SMjhjBLFctIENkHc",
            "name": "[MySQL] - Fabio Soares"
          }
        }
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "cdr-trata-dados-ca",
          "options": {}
        },
        "id": "b39799aa-2bf9-4d36-97e3-9e31fcf0d9d2",
        "name": "cadastro_na_lp",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -2256,
          496
        ],
        "webhookId": "0089ee9a-e9b7-4d97-8b28-bff5ed59c575"
      },
      {
        "parameters": {
          "queue": "[fabio soares] - Trata Dados CDR",
          "options": {
            "arguments": {
              "argument": [
                {
                  "key": "x-queue-type",
                  "value": "quorum"
                }
              ]
            },
            "durable": true
          }
        },
        "id": "6fbb8619-2e04-4fe9-832d-f4f10b98a747",
        "name": "fila_acoes_funis2",
        "type": "n8n-nodes-base.rabbitmq",
        "typeVersion": 1,
        "position": [
          -2048,
          496
        ],
        "credentials": {
          "rabbitmq": {
            "id": "eKnFCoTy5bVlhIj3",
            "name": "[RabbitMQ] - Fabio Soares"
          }
        }
      },
      {
        "parameters": {
          "queue": "[fabio soares] - Trata Dados CDR",
          "options": {
            "arguments": {
              "argument": [
                {
                  "key": "x-queue-type",
                  "value": "quorum"
                }
              ]
            },
            "acknowledge": "executionFinishesSuccessfully",
            "jsonParseBody": "={{ true }}",
            "parallelMessages": 5
          }
        },
        "id": "caeca8a6-727f-413b-a86f-52ef6f33ffca",
        "name": "chega_da_fila",
        "type": "n8n-nodes-base.rabbitmqTrigger",
        "typeVersion": 1,
        "position": [
          -2256,
          288
        ],
        "credentials": {
          "rabbitmq": {
            "id": "eKnFCoTy5bVlhIj3",
            "name": "[RabbitMQ] - Fabio Soares"
          }
        }
      },
      {
        "parameters": {
          "url": "https://services.leadconnectorhq.com/locations/GrB2kAoc7ZO681juhPJ1/customFields",
          "sendQuery": true,
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Accept",
                "value": "application/json"
              },
              {
                "name": "Version",
                "value": "2021-07-28"
              },
              {
                "name": "Authorization",
                "value": "Bearer pit-83a40492-d9f7-4059-92e4-2a0967d043ac"
              }
            ]
          },
          "options": {
            "redirect": {
              "redirect": {}
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -1344,
          768
        ],
        "id": "bbb6396a-2dee-40ff-b3d0-2974c27d733f",
        "name": "HTTP Request"
      }
    ],
    "connections": {
      "formata_dados": {
        "main": [
          [
            {
              "node": "pesquisa_variavel_n8n_fluxo_funis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "dados": {
        "main": [
          [
            {
              "node": "fila_acoes_funis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "busca_funil": {
        "main": [
          [
            {
              "node": "pesquisa_variavel_n8n_fluxo_users",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "pesquisa_variavel_n8n_fluxo_funis": {
        "main": [
          [
            {
              "node": "busca_funil",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "cria_atualiza_user": {
        "main": [
          [
            {
              "node": "dados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "pesquisa_variavel_n8n_fluxo_users": {
        "main": [
          [
            {
              "node": "cria_atualiza_user",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "cadastro_na_lp": {
        "main": [
          [
            {
              "node": "fila_acoes_funis2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "chega_da_fila": {
        "main": [
          [
            {
              "node": "formata_dados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Automagic Bots",
    "name": "Version cad3ac66",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "cad3ac66-459e-46ea-b857-d6a312c44c9e",
  "connections": {
    "formata_dados": {
      "main": [
        [
          {
            "node": "pesquisa_variavel_n8n_fluxo_funis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados": {
      "main": [
        [
          {
            "node": "fila_acoes_funis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca_funil": {
      "main": [
        [
          {
            "node": "pesquisa_variavel_n8n_fluxo_users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_variavel_n8n_fluxo_funis": {
      "main": [
        [
          {
            "node": "busca_funil",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cria_atualiza_user": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_variavel_n8n_fluxo_users": {
      "main": [
        [
          {
            "node": "cria_atualiza_user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cadastro_na_lp": {
      "main": [
        [
          {
            "node": "fila_acoes_funis2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chega_da_fila": {
      "main": [
        [
          {
            "node": "formata_dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-12T14:02:33.842Z",
  "id": "vTuYolwZNf9vjfDr",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "⌚[Fabio Soares][7CDR] - Trata Dados",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Detecta automaticamente de onde vem o body\nconst body =\n  items[0].json?.content?.body ||\n  items[0].json?.body ||\n  {};\n\n// =========================\n// Captura segura dos dados\n// =========================\n\nconst fullNameAnswer =\n  body[\"Nome\"] ||\n  body[\"name\"] ||\n  body[\"nome\"] ||\n  body[\"nome_completo\"] ||\n  body?.names?.first_name ||\n  \"\";\n\nconst emailAnswer =\n  body[\"E-mail\"] ||\n  body[\"email\"] ||\n  body[\"E-mail \"] ||\n  \"\";\n\nconst telefoneClienteOriginal =\n  body[\"Telefone\"] ||\n  body[\"phonenumber\"] ||\n  body[\"phone\"] ||\n  body[\"telefone\"] ||\n  \"\";\n\n// UTMs\nconst utm_source   = body[\"utm_source\"]   || \"\";\nconst utm_campaign = body[\"utm_campaign\"] || \"\";\nconst utm_medium   = body[\"utm_medium\"]   || \"\";\nconst utm_term     = body[\"utm_term\"]     || \"\";\nconst utm_content  = body[\"utm_content\"]  || \"\";\n\n// Form info\nconst form_id =\n  body[\"id_formulario\"] ||\n  body[\"form_id\"] ||\n  body?.__submission?.form_id ||\n  \"\";\n\nconst form_name =\n  body[\"form_name\"] ||\n  body?.__submission?.source_url ||\n  \"\";\n\n// Extras do payload\nconst data_formulario =\n  body[\"Data\"] ||\n  \"\";\n\nconst horario_formulario =\n  body[\"Horário\"] ||\n  body[\"Horario\"] ||\n  \"\";\n\nconst page_url =\n  body[\"URL da página\"] ||\n  body[\"URL da pagina\"] ||\n  body[\"page_url\"] ||\n  \"\";\n\nconst user_agent =\n  body[\"Agente de usuário\"] ||\n  body[\"Agente de usuario\"] ||\n  body[\"user_agent\"] ||\n  \"\";\n\nconst ip_remoto =\n  body[\"IP remoto\"] ||\n  body[\"ip\"] ||\n  body[\"remote_ip\"] ||\n  \"\";\n\nconst desenvolvido_por =\n  body[\"Desenvolvido por\"] ||\n  \"\";\n\n// =========================\n// Funções auxiliares\n// =========================\n\nfunction capitalizeName(fullName) {\n  if (!fullName) return { fname: \"\", lname: \"\", fullname: \"\" };\n\n  const lowerCaseWords = [\"da\", \"de\", \"do\", \"dos\", \"das\", \"di\", \"du\"];\n\n  const words = String(fullName)\n    .trim()\n    .toLowerCase()\n    .split(/\\s+/)\n    .map((word, index) => {\n      if (lowerCaseWords.includes(word) && index !== 0) return word;\n      return word.charAt(0).toUpperCase() + word.slice(1);\n    });\n\n  const fname = words.shift() || \"\";\n  const lname = words.join(\" \");\n\n  return {\n    fname,\n    lname,\n    fullname: lname ? `${fname} ${lname}` : fname\n  };\n}\n\nfunction formatEmail(email) {\n  return String(email || \"\").toLowerCase().trim();\n}\n\n// =========================\n// Tratamento de telefone\n// =========================\n\nfunction formatTelefone(telefone) {\n  const telefoneLimpo = String(telefone || \"\").replace(/\\D/g, \"\");\n\n  if (!telefoneLimpo) return \"\";\n\n  // Caso já venha com DDI 55\n  if (telefoneLimpo.startsWith(\"55\")) {\n    const DDI = \"55\";\n    const DDD = telefoneLimpo.slice(2, 4);\n    let numero = telefoneLimpo.slice(4);\n\n    if (Number(DDD) > 28 && numero.length === 9 && numero.startsWith(\"9\")) {\n      numero = numero.slice(1);\n    }\n\n    if (Number(DDD) <= 28 && numero.length === 8) {\n      numero = `9${numero}`;\n    }\n\n    return `${DDI}${DDD}${numero}`;\n  }\n\n  // Caso venha sem DDI\n  if (telefoneLimpo.length === 10 || telefoneLimpo.length === 11) {\n    const DDI = \"55\";\n    const DDD = telefoneLimpo.slice(0, 2);\n    let numero = telefoneLimpo.slice(2);\n\n    if (Number(DDD) > 28 && numero.length === 9 && numero.startsWith(\"9\")) {\n      numero = numero.slice(1);\n    }\n\n    if (Number(DDD) <= 28 && numero.length === 8) {\n      numero = `9${numero}`;\n    }\n\n    return `${DDI}${DDD}${numero}`;\n  }\n\n  return telefoneLimpo;\n}\n\n// =========================\n// Formatação final\n// =========================\n\nconst formattedNames = capitalizeName(fullNameAnswer);\nconst formattedEmail = formatEmail(emailAnswer);\nconst telefoneFinal = formatTelefone(telefoneClienteOriginal);\n\n// Resultado final\nconst result = {\n  ...formattedNames,\n  email: formattedEmail,\n  whatsapp: telefoneFinal,\n  instagram: \"\",\n  cpf: \"\",\n  cnpj: \"\",\n\n  utm_source,\n  utm_campaign,\n  utm_term,\n  utm_medium,\n  utm_content,\n\n  form_id,\n  form_name,\n\n  data_formulario,\n  horario_formulario,\n  page_url,\n  user_agent,\n  ip_remoto,\n  desenvolvido_por\n};\n\nreturn [{ json: result }];"
      },
      "id": "3e3545c6-969e-4aa2-abef-6d946e84cd25",
      "name": "formata_dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2048,
        288
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c74589e2-452e-44a5-8a49-b98c6fcdeca8",
              "name": "nome",
              "value": "={{ $node[\"formata_dados\"].json[\"fname\"] }}",
              "type": "string"
            },
            {
              "id": "f17267b5-65b0-4c2b-b9f5-d719193bb457",
              "name": "sobrenome",
              "value": "={{ $node[\"formata_dados\"].json[\"lname\"] }}",
              "type": "string"
            },
            {
              "id": "79edcf9f-8602-409f-8d04-ced41c06d16f",
              "name": "email",
              "value": "={{ $node[\"formata_dados\"].json[\"email\"] }}",
              "type": "string"
            },
            {
              "id": "93103cc7-1870-4962-bb01-59462196b4de",
              "name": "telefone",
              "value": "={{ $node[\"formata_dados\"].json[\"whatsapp\"] }}",
              "type": "string"
            },
            {
              "id": "4750507c-f44a-45d5-b5ce-2a681d5a5581",
              "name": "utm_source",
              "value": "={{ $node[\"formata_dados\"].json[\"utm_source\"] }}",
              "type": "string"
            },
            {
              "id": "a68b8a08-b2d1-4352-affb-0a6f4045cf4a",
              "name": "utm_campaign",
              "value": "={{ $node[\"formata_dados\"].json[\"utm_campaign\"] }}",
              "type": "string"
            },
            {
              "id": "71c74ec7-51b3-422e-a2d5-ae7bbf3bd1b0",
              "name": "utm_term",
              "value": "={{ $node[\"formata_dados\"].json[\"utm_term\"] }}",
              "type": "string"
            },
            {
              "id": "57aa10ae-6631-4352-8925-35138b1c9b7a",
              "name": "utm_medium",
              "value": "={{ $node[\"formata_dados\"].json[\"utm_medium\"] }}",
              "type": "string"
            },
            {
              "id": "4e84ee54-3122-48e4-92d9-1f9db59e0b94",
              "name": "utm_content",
              "value": "={{ $node[\"formata_dados\"].json[\"utm_content\"] }}",
              "type": "string"
            },
            {
              "id": "2bb4770b-d984-4366-a4c5-6e323c3889c1",
              "name": "id_funil",
              "value": "={{ $node[\"busca_funil\"].json[\"id_funil\"] }}",
              "type": "string"
            },
            {
              "id": "b9134b79-303b-4d22-8c4c-36002bd7e7f8",
              "name": "instagram",
              "value": "={{ $node[\"formata_dados\"].json[\"instagram\"] || \"\" }}",
              "type": "string"
            },
            {
              "id": "f94127c8-00db-445d-b77e-bfb06bed512a",
              "name": "id_forms",
              "value": "={{ $node[\"busca_funil\"].json[\"id_forms\"] }}",
              "type": "string"
            },
            {
              "id": "45655fc0-b71d-4f90-a243-6e1f04e25a95",
              "name": "tipo_forms",
              "value": "={{ $node[\"busca_funil\"].json[\"tipo_forms\"] }}",
              "type": "string"
            },
            {
              "id": "1f0f1b9c-2ae4-4407-b49c-65c91cd93623",
              "name": "pagina",
              "value": "={{ $node[\"busca_funil\"].json[\"id_forms\"] || \"\" }}",
              "type": "string"
            },
            {
              "id": "20985621-0122-425e-8c0e-aba9542d5e8f",
              "name": "data_cadastro",
              "value": "={{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "68889a54-2c0b-4894-95ea-72024bc5c8c2",
      "name": "dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -992,
        288
      ]
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_variavel_n8n_fluxo_funis\"].json[\"valor_variavel\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_forms",
              "value": "={{ $node[\"formata_dados\"].json[\"form_id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1616,
        288
      ],
      "id": "ae6d00fc-10b7-431f-b313-513c22ef579b",
      "name": "busca_funil"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "variaveis_globais_n8n",
          "mode": "list",
          "cachedResultName": "variaveis_globais_n8n"
        },
        "where": {
          "values": [
            {
              "column": "nome_variavel",
              "value": "URL do Fluxo de Verificação de Funis"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "72c093f1-fbfe-44bb-b710-c8722eb2faf2",
      "name": "pesquisa_variavel_n8n_fluxo_funis",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -1824,
        288
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SMjhjBLFctIENkHc",
          "name": "[MySQL] - Fabio Soares"
        }
      }
    },
    {
      "parameters": {
        "queue": "Fila de Ações de Funis",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "6a948950-2497-418c-a699-a5435578d206",
      "name": "fila_acoes_funis",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        -752,
        288
      ],
      "credentials": {
        "rabbitmq": {
          "id": "eKnFCoTy5bVlhIj3",
          "name": "[RabbitMQ] - Fabio Soares"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_variavel_n8n_fluxo_users\"].json[\"valor_variavel\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "nome",
              "value": "={{ ($node[\"formata_dados\"].json[\"fname\"] || \"\").replace(/[^a-zA-Z0-9\\s]/g, \"\") }}"
            },
            {
              "name": "sobrenome",
              "value": "={{ ($node[\"formata_dados\"].json[\"lname\"] || \"\").replace(/[^a-zA-Z0-9\\s]/g, \"\") }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"formata_dados\"].json[\"email\"] || \"\" }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"formata_dados\"].json[\"whatsapp\"] || \"\" }}"
            },
            {
              "name": "instagram",
              "value": "={{ $node[\"formata_dados\"].json[\"instagram\"] || \"\" }}"
            },
            {
              "name": "cpf",
              "value": "={{ $node[\"formata_dados\"].json[\"cpf\"] || \"\" }}"
            },
            {
              "name": "cnpj",
              "value": "={{ $node[\"formata_dados\"].json[\"cnpj\"] || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1200,
        288
      ],
      "id": "cdde788b-dbac-4075-87f7-bf4393f43fc1",
      "name": "cria_atualiza_user"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "variaveis_globais_n8n",
          "mode": "list",
          "cachedResultName": "variaveis_globais_n8n"
        },
        "where": {
          "values": [
            {
              "column": "nome_variavel",
              "value": "URL do Fluxo de Verificação de Users"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "7840d0aa-aead-4c82-b247-04feaac65924",
      "name": "pesquisa_variavel_n8n_fluxo_users",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -1408,
        288
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SMjhjBLFctIENkHc",
          "name": "[MySQL] - Fabio Soares"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cdr-trata-dados-ca",
        "options": {}
      },
      "id": "b39799aa-2bf9-4d36-97e3-9e31fcf0d9d2",
      "name": "cadastro_na_lp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2256,
        496
      ],
      "webhookId": "0089ee9a-e9b7-4d97-8b28-bff5ed59c575"
    },
    {
      "parameters": {
        "queue": "[fabio soares] - Trata Dados CDR",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "6fbb8619-2e04-4fe9-832d-f4f10b98a747",
      "name": "fila_acoes_funis2",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        -2048,
        496
      ],
      "credentials": {
        "rabbitmq": {
          "id": "eKnFCoTy5bVlhIj3",
          "name": "[RabbitMQ] - Fabio Soares"
        }
      }
    },
    {
      "parameters": {
        "queue": "[fabio soares] - Trata Dados CDR",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "acknowledge": "executionFinishesSuccessfully",
          "jsonParseBody": "={{ true }}",
          "parallelMessages": 5
        }
      },
      "id": "caeca8a6-727f-413b-a86f-52ef6f33ffca",
      "name": "chega_da_fila",
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        -2256,
        288
      ],
      "credentials": {
        "rabbitmq": {
          "id": "eKnFCoTy5bVlhIj3",
          "name": "[RabbitMQ] - Fabio Soares"
        }
      }
    },
    {
      "parameters": {
        "url": "https://services.leadconnectorhq.com/locations/GrB2kAoc7ZO681juhPJ1/customFields",
        "sendQuery": true,
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Authorization",
              "value": "Bearer pit-83a40492-d9f7-4059-92e4-2a0967d043ac"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1344,
        768
      ],
      "id": "bbb6396a-2dee-40ff-b3d0-2974c27d733f",
      "name": "HTTP Request"
    }
  ],
  "pinData": {
    "cadastro_na_lp": [
      {
        "json": {
          "headers": {
            "host": "n8n-n8n.yqd7ni.easypanel.host",
            "user-agent": "WordPress/6.9.4; https://as7chavesdariqueza.com",
            "content-length": "537",
            "accept": "*/*",
            "accept-encoding": "deflate, gzip",
            "content-type": "application/x-www-form-urlencoded",
            "x-forwarded-for": "203.159.80.234",
            "x-forwarded-host": "n8n-n8n.yqd7ni.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "95876c3beb17",
            "x-real-ip": "203.159.80.234"
          },
          "params": {},
          "query": {},
          "body": {
            "Nome": "Mateus Porto",
            "Telefone": "+5531992796934",
            "E-mail": "contato.mportob@gmail.com",
            "utm_campaign": "",
            "utm_term": "",
            "utm_medium": "",
            "utm_source": "",
            "utm_content": "",
            "id_formulario": "9d13775_vip",
            "Data": "março 12, 2026",
            "Horário": "5:28 pm",
            "URL da página": "https://as7chavesdariqueza.com/optin-a/?#inscricao",
            "Agente de usuário": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.0.0 Safari/537.36",
            "IP remoto": "187.20.21.142",
            "Desenvolvido por": "Elementor",
            "form_id": "9d13775",
            "form_name": "VIP"
          },
          "webhookUrl": "https://n8n-n8n.yqd7ni.easypanel.host/webhook/cdr-trata-dados-ca",
          "executionMode": "production"
        }
      }
    ],
    "chega_da_fila": [
      {
        "json": {
          "fields": {
            "consumerTag": "amq.ctag-OpjMEIyWyPKBTsI62mIGgg",
            "deliveryTag": 3,
            "redelivered": true,
            "exchange": "",
            "routingKey": "[fabio soares] - Trata Dados CDR"
          },
          "properties": {
            "headers": {
              "x-delivery-count": 2
            }
          },
          "content": {
            "headers": {
              "host": "n8n-n8n.yqd7ni.easypanel.host",
              "user-agent": "WordPress/6.9.4; https://as7chavesdariqueza.com",
              "content-length": "545",
              "accept": "*/*",
              "accept-encoding": "deflate, gzip",
              "content-type": "application/x-www-form-urlencoded",
              "x-forwarded-for": "203.159.80.234",
              "x-forwarded-host": "n8n-n8n.yqd7ni.easypanel.host",
              "x-forwarded-port": "443",
              "x-forwarded-proto": "https",
              "x-forwarded-server": "95876c3beb17",
              "x-real-ip": "203.159.80.234"
            },
            "params": {},
            "query": {},
            "body": {
              "Nome": "Mateus Porto",
              "Telefone": "+5531992796934",
              "E-mail": "contato.mportob@gmail.com",
              "utm_campaign": "",
              "utm_term": "",
              "utm_medium": "",
              "utm_source": "",
              "utm_content": "",
              "id_formulario": "9d13775_silver",
              "Data": "março 12, 2026",
              "Horário": "5:50 pm",
              "URL da página": "https://as7chavesdariqueza.com/optin-e/#stack",
              "Agente de usuário": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.0.0 Safari/537.36",
              "IP remoto": "187.20.21.142",
              "Desenvolvido por": "Elementor",
              "form_id": "9d13775",
              "form_name": "Ingresso Silver"
            },
            "webhookUrl": "https://n8n-n8n.yqd7ni.easypanel.host/webhook/cdr-trata-dados-ca",
            "executionMode": "production"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "JC1jRbnEV3QDh2TT",
    "timeSavedMode": "fixed",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-03-12T14:02:33.844Z",
      "createdAt": "2026-03-12T14:02:33.844Z",
      "role": "workflow:owner",
      "workflowId": "vTuYolwZNf9vjfDr",
      "projectId": "DsELi0ezptx4jHSs"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2026-03-12T22:29:28.919Z",
  "versionId": "cad3ac66-459e-46ea-b857-d6a312c44c9e"
}