workflows/⌚[Fabio Soares][Hotmart] - Trata Dados de Eventos.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-12T14:51:39.412Z",
    "createdAt": "2026-03-12T14:51:39.412Z",
    "versionId": "1bfc2c99-49c9-4484-841d-37baf6d0e21b",
    "workflowId": "W3u0peUxkSyvMNxO",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "eventos-hotmart",
          "options": {}
        },
        "id": "222c13f4-b8bb-460e-a6f4-4b7038baa257",
        "name": "evento",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -576,
          144
        ],
        "webhookId": "0689e445-d5af-42ff-bde2-07a23a5dbdb0"
      },
      {
        "parameters": {
          "queue": "[Hotmart] - Trata Dados",
          "options": {
            "arguments": {
              "argument": [
                {
                  "key": "x-queue-type",
                  "value": "quorum"
                }
              ]
            },
            "durable": true
          }
        },
        "id": "29d84fa2-8550-41cc-97a1-87034ca62d9e",
        "name": "fila_trata_dados",
        "type": "n8n-nodes-base.rabbitmq",
        "typeVersion": 1,
        "position": [
          -384,
          144
        ],
        "credentials": {
          "rabbitmq": {
            "id": "eKnFCoTy5bVlhIj3",
            "name": "[RabbitMQ] - Fabio Soares"
          }
        }
      },
      {
        "parameters": {
          "keepOnlySet": true,
          "values": {
            "string": [
              {
                "name": "nome",
                "value": "={{ $node[\"formata_dados\"].json[\"fname\"] || \"\" }}"
              },
              {
                "name": "sobrenome",
                "value": "={{ $node[\"formata_dados\"].json[\"lname\"] || \"\" }}"
              },
              {
                "name": "nome_completo",
                "value": "={{ $node[\"formata_dados\"].json[\"fullname\"] || \"\" }}"
              },
              {
                "name": "email",
                "value": "={{ $node[\"formata_dados\"].json[\"email\"] || \"\" }}"
              },
              {
                "name": "telefone",
                "value": "={{ $node[\"formata_dados\"].json[\"whatsapp\"] || \"\" }}"
              },
              {
                "name": "cpf",
                "value": "={{ $node[\"formata_dados\"].json[\"cpf\"] || \"\" }}"
              },
              {
                "name": "utm_source",
                "value": "={{ $node[\"formata_dados\"].json[\"utm_source\"] || \"\" }}"
              },
              {
                "name": "utm_campaign",
                "value": "={{ $node[\"formata_dados\"].json[\"utm_campaign\"] || \"\" }}"
              },
              {
                "name": "utm_term",
                "value": "={{ $node[\"formata_dados\"].json[\"utm_term\"] || \"\" }}"
              },
              {
                "name": "utm_medium",
                "value": "={{ $node[\"formata_dados\"].json[\"utm_medium\"] || \"\" }}"
              },
              {
                "name": "utm_content",
                "value": "={{ $node[\"formata_dados\"].json[\"utm_content\"] || \"\" }}"
              },
              {
                "name": "form_id",
                "value": "={{ $node[\"formata_dados\"].json[\"form_id\"] || \"\" }}"
              },
              {
                "name": "form_name",
                "value": "={{ $node[\"formata_dados\"].json[\"form_name\"] || \"\" }}"
              },
              {
                "name": "value",
                "value": "={{ $node[\"formata_dados\"].json[\"value\"] || \"\" }}"
              },
              {
                "name": "transaction_id",
                "value": "={{ $node[\"formata_dados\"].json[\"transaction_id\"] || \"\" }}"
              },
              {
                "name": "net_value",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"body\"][\"data\"][\"purchase\"][\"full_price\"][\"value\"] - $node[\"formata_dados\"].json[\"gateway_comission\"] }}"
              },
              {
                "name": "trans_status",
                "value": "={{ $node[\"formata_dados\"].json[\"trans_status\"] || \"\" }}"
              },
              {
                "name": "payment_method",
                "value": "={{ $node[\"formata_dados\"].json[\"payment_method\"] || \"\" }}"
              },
              {
                "name": "refund_date",
                "value": "={{ $node[\"formata_dados\"].json[\"refund_date\"] || \"\" }}"
              },
              {
                "name": "event_date",
                "value": "={{ $node[\"formata_dados\"].json[\"event_date\"] || \"\" }}"
              },
              {
                "name": "payment_date",
                "value": "={{ $node[\"formata_dados\"].json[\"payment_date\"] || \"\" }}"
              },
              {
                "name": "product_type",
                "value": "={{ $node[\"formata_dados\"].json[\"product_type\"] || \"\" }}"
              },
              {
                "name": "product_id",
                "value": "={{ $node[\"formata_dados\"].json[\"product_id\"] || \"\" }}"
              },
              {
                "name": "product_name",
                "value": "={{ $node[\"formata_dados\"].json[\"product_name\"] || \"\" }}"
              },
              {
                "name": "warranty_date",
                "value": "={{ $node[\"formata_dados\"].json[\"warranty_date\"] || \"\" }}"
              },
              {
                "name": "offer_code",
                "value": "={{ $node[\"formata_dados\"].json[\"offer_code\"] || \"\" }}"
              },
              {
                "name": "discount_coupon",
                "value": "={{ $node[\"formata_dados\"].json[\"discount_coupon\"] || \"\" }}"
              },
              {
                "name": "street",
                "value": "={{ $node[\"formata_dados\"].json[\"street\"] || \"\" }}"
              },
              {
                "name": "address_number",
                "value": "={{ $node[\"formata_dados\"].json[\"address_number\"] || \"\" }}"
              },
              {
                "name": "country",
                "value": "={{ $node[\"formata_dados\"].json[\"country\"] || \"\" }}"
              },
              {
                "name": "district",
                "value": "={{ $node[\"formata_dados\"].json[\"district\"] || \"\" }}"
              },
              {
                "name": "address_complement",
                "value": "={{ $node[\"formata_dados\"].json[\"address_complement\"] || \"\" }}"
              },
              {
                "name": "city",
                "value": "={{ $node[\"formata_dados\"].json[\"city\"] || \"\" }}"
              },
              {
                "name": "address_state",
                "value": "={{ $node[\"formata_dados\"].json[\"address_state\"] || \"\" }}"
              },
              {
                "name": "zipcode",
                "value": "={{ $node[\"formata_dados\"].json[\"zipcode\"] || \"\" }}"
              },
              {
                "name": "affiliate_value",
                "value": "={{ $node[\"formata_dados\"].json[\"affiliate_value\"] || \"\" }}"
              },
              {
                "name": "gateway_comission",
                "value": "={{ $node[\"formata_dados\"].json[\"gateway_comission\"] || \"\" }}"
              },
              {
                "name": "billet_barcode",
                "value": "={{ $node[\"formata_dados\"].json[\"billet_barcode\"] || \"\" }}"
              },
              {
                "name": "currency",
                "value": "={{ $node[\"formata_dados\"].json[\"currency\"] || \"\" }}"
              },
              {
                "name": "bankslip",
                "value": "={{ $node[\"formata_dados\"].json[\"bankslip\"] || \"\" }}"
              },
              {
                "name": "recurrenceExpirationDate",
                "value": "={{ $node[\"formata_dados\"].json[\"recurrenceExpirationDate\"] || \"\" }}"
              },
              {
                "name": "cancelledDate",
                "value": "={{ $node[\"formata_dados\"].json[\"formattedCancelledDate\"] || \"\" }}"
              },
              {
                "name": "cnpj",
                "value": "={{ $node[\"formata_dados\"].json[\"cnpj\"] || \"\" }}"
              },
              {
                "name": "installments",
                "value": "={{ $node[\"formata_dados\"].json[\"installments\"] || \"\" }}"
              },
              {
                "name": "billetExpirationDate",
                "value": "={{ $node[\"formata_dados\"].json[\"billetExpirationDate\"] }}"
              },
              {
                "name": "recurrenceNumber",
                "value": "={{ $node[\"formata_dados\"].json[\"recurrenceNumber\"] || \"\" }}"
              },
              {
                "name": "src",
                "value": "={{ $node[\"formata_dados\"].json[\"src\"] || \"\" }}"
              },
              {
                "name": "sck",
                "value": "={{ $node[\"formata_dados\"].json[\"sck\"] || \"\" }}"
              },
              {
                "name": "refusalReason",
                "value": "={{ $node[\"formata_dados\"].json[\"refusalReason\"] || \"\" }}"
              },
              {
                "name": "subscriberCode",
                "value": "={{ $node[\"formata_dados\"].json[\"subscriberCode\"] || \"\" }}"
              },
              {
                "name": "planName",
                "value": "={{ $node[\"formata_dados\"].json[\"planName\"] || \"\" }}"
              },
              {
                "name": "planId",
                "value": "={{ $node[\"formata_dados\"].json[\"planId\"] || \"\" }}"
              },
              {
                "name": "eventId",
                "value": "={{ $node[\"formata_dados\"].json[\"eventId\"] || \"\" }}"
              },
              {
                "name": "tipo_forms",
                "value": "={{ $node[\"busca_funil\"].json[\"tipo_forms\"] || \"\" }}"
              },
              {
                "name": "id_funil",
                "value": "={{ $node[\"busca_funil\"].json[\"id_funil\"] || \"\" }}"
              },
              {
                "name": "id_forms",
                "value": "={{ $node[\"busca_funil\"].json[\"id_forms\"] || \"\" }}"
              }
            ]
          },
          "options": {}
        },
        "name": "dados",
        "type": "n8n-nodes-base.set",
        "typeVersion": 1,
        "position": [
          1008,
          464
        ],
        "id": "7973958e-5a58-4a24-a96c-8ee20fc5f6c0"
      },
      {
        "parameters": {
          "queue": "Fila de Ações de Funis",
          "options": {
            "arguments": {
              "argument": [
                {
                  "key": "x-queue-type",
                  "value": "quorum"
                }
              ]
            },
            "durable": true
          }
        },
        "id": "00a07dbe-e98a-4574-ac87-b20ae86cd80b",
        "name": "fila_acoes_funis",
        "type": "n8n-nodes-base.rabbitmq",
        "typeVersion": 1,
        "position": [
          1200,
          464
        ],
        "credentials": {
          "rabbitmq": {
            "id": "eKnFCoTy5bVlhIj3",
            "name": "[RabbitMQ] - Fabio Soares"
          }
        }
      },
      {
        "parameters": {
          "url": "={{ $node[\"pesquisa_variavel_n8n_fluxo_funis\"].json[\"valor_variavel\"] }}",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "id_forms",
                "value": "={{ $node[\"formata_dados\"].json[\"form_id\"] }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          816,
          464
        ],
        "id": "63ef0b7b-1b77-432a-b24b-67590e0f8f3d",
        "name": "busca_funil"
      },
      {
        "parameters": {
          "operation": "select",
          "table": {
            "__rl": true,
            "value": "variaveis_globais_n8n",
            "mode": "list",
            "cachedResultName": "variaveis_globais_n8n"
          },
          "where": {
            "values": [
              {
                "column": "nome_variavel",
                "value": "URL do Fluxo de Verificação de Funis"
              }
            ]
          },
          "combineConditions": "OR",
          "options": {}
        },
        "id": "44178776-ac7a-4575-804a-51526a7cd50a",
        "name": "pesquisa_variavel_n8n_fluxo_funis",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          624,
          464
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "SMjhjBLFctIENkHc",
            "name": "[MySQL] - Fabio Soares"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// ===============================\n// BASE: agora vem do node RabbitMQ\n// ===============================\nconst rabbit = $node[\"chega_da_fila\"].json || {};\nconst body = rabbit?.content?.body || {};\nconst data = body?.data || {};\n\n// ===============================\n// Helpers\n// ===============================\nfunction formatarDataMilissegundos(dataMilissegundos) {\n  if (!dataMilissegundos) return \"\";\n  const dataObj = new Date(dataMilissegundos);\n  if (isNaN(dataObj.getTime())) return \"\";\n\n  // GMT-3 São Paulo\n  dataObj.setHours(dataObj.getHours() - 3);\n\n  const dia = String(dataObj.getDate()).padStart(2, \"0\");\n  const mes = String(dataObj.getMonth() + 1).padStart(2, \"0\");\n  const ano = dataObj.getFullYear();\n  const horas = String(dataObj.getHours()).padStart(2, \"0\");\n  const minutos = String(dataObj.getMinutes()).padStart(2, \"0\");\n  const segundos = String(dataObj.getSeconds()).padStart(2, \"0\");\n\n  return `${ano}-${mes}-${dia} ${horas}:${minutos}:${segundos}`;\n}\n\nfunction formatDateTime(dateString) {\n  if (!dateString) return \"\";\n  if (/^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$/.test(dateString)) return dateString;\n  if (/^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}$/.test(dateString)) return `${dateString}:00`;\n  console.warn(\"Formato de data inesperado:\", dateString);\n  return dateString;\n}\n\nfunction formatCPF(cpf) {\n  const cpfLimpo = String(cpf || \"\").replace(/\\D/g, \"\");\n  if (cpfLimpo.length === 11) {\n    return `${cpfLimpo.slice(0, 3)}.${cpfLimpo.slice(3, 6)}.${cpfLimpo.slice(6, 9)}-${cpfLimpo.slice(9, 11)}`;\n  }\n  return cpf || \"\";\n}\n\nfunction formatCNPJ(cnpj) {\n  const cnpjLimpo = String(cnpj || \"\").replace(/\\D/g, \"\");\n  if (cnpjLimpo.length === 14) {\n    return `${cnpjLimpo.slice(0, 2)}.${cnpjLimpo.slice(2, 5)}.${cnpjLimpo.slice(5, 8)}/${cnpjLimpo.slice(8, 12)}-${cnpjLimpo.slice(12, 14)}`;\n  }\n  return cnpj || \"\";\n}\n\nfunction isCPFOrCNPJ(cpfCnpj) {\n  const cleaned = String(cpfCnpj || \"\").replace(/\\D/g, \"\");\n  if (cleaned.length === 11) return \"CPF\";\n  if (cleaned.length === 14) return \"CNPJ\";\n  return null;\n}\n\nfunction capitalizeName(fullName) {\n  if (!fullName) return { fname: \"\", lname: \"\", fullname: \"\" };\n\n  const lowerCaseWords = [\"da\", \"de\", \"do\", \"di\", \"du\"];\n  const words = String(fullName)\n    .toLowerCase()\n    .split(\" \")\n    .filter(Boolean)\n    .map((word, index) => {\n      if (lowerCaseWords.includes(word) && index !== 0) return word;\n      return word.charAt(0).toUpperCase() + word.slice(1);\n    });\n\n  const fname = words.shift() || \"\";\n  const lname = words.join(\" \");\n  const fullname = lname ? `${fname} ${lname}` : fname;\n\n  return { fname, lname, fullname };\n}\n\n// ===============================\n// Campos (agora apontando para body/data do RabbitMQ)\n// ===============================\nconst recurrenceNumber = data?.purchase?.recurrence_number || \"\";\nconst src = data?.purchase?.origin?.src || \"\";\nconst sck = data?.purchase?.origin?.sck || \"\";\nconst eventId = body?.id || \"\";\nconst eventDate = formatarDataMilissegundos(body?.creation_date);\n\nconst refusalReason = data?.purchase?.payment?.refusal_reason || \"\";\nconst transaction_id = data?.purchase?.transaction || \"\";\nconst value = data?.purchase?.full_price?.value || \"\";\nconst transStatus = data?.purchase?.status || \"\";\n\nconst subscriberCode = data?.subscription?.subscriber?.code || \"\";\nconst planName = data?.subscription?.plan?.name || \"\";\nconst planId = data?.subscription?.plan?.id || \"\";\n\n// podem não existir no payload — mantém fallback\nconst refundDate = body?.refunded_at || \"\";\nconst paidDate = data?.purchase?.approved_date || \"\";\n\nconst paymentMethod = data?.purchase?.payment?.type || \"\";\nconst productId = data?.product?.id || \"\";\nconst productName = data?.product?.name || \"\";\n\n// continua vindo do outro node, igual você tinha\nconst chargeType = $node[\"consultaVendaHotmart\"].json?.items?.[\"0\"]?.purchase?.offer?.payment_mode || \"\";\n\nconst offer_code =\n  data?.purchase?.offer?.code ||\n  data?.offer?.code ||\n  \"\";\n\nconst warrantyDate = $node[\"consultaVendaHotmart\"].json?.items?.[\"0\"]?.purchase?.warranty_expire_date || \"\";\nconst subscriptionExpirationDate = data?.purchase?.date_next_charge || \"\";\n\n// ===============================\n// UTM: SCK dividido\n// ===============================\nconst sckParts = String(sck || \"\").split(\"|\");\nconst utm_source = sckParts[0] || \"\";\nconst utm_campaign = sckParts[1] || \"\";\nconst utm_term = sckParts[2] || \"\";\nconst utm_medium = sckParts[3] || \"\";\nconst utm_content = sckParts[4] || \"\";\n\n// ===============================\n// Gateway commission (MARKETPLACE)\n// ===============================\nconst commissions = data?.commissions || [];\nconst marketplaceCommission = Array.isArray(commissions)\n  ? commissions.find((c) => c?.source === \"MARKETPLACE\")\n  : null;\n\nconst gateway_comission = marketplaceCommission ? marketplaceCommission.value : \"\";\n\n// ===============================\n// CPF/CNPJ do comprador\n// ===============================\nconst cpfCnpj = data?.buyer?.document || \"\";\nlet cpf = \"\";\nlet cnpj = \"\";\n\nif (isCPFOrCNPJ(cpfCnpj) === \"CPF\") cpf = formatCPF(cpfCnpj);\nelse if (isCPFOrCNPJ(cpfCnpj) === \"CNPJ\") cnpj = formatCNPJ(cpfCnpj);\n\n// ===============================\n// Campos boleto/pix\n// ===============================\nconst billet_barcode =\n  data?.purchase?.payment?.pix_code ||\n  body?.pix_code ||\n  data?.purchase?.payment?.billet_barcode ||\n  \"\";\n\nconst currency = data?.purchase?.price?.currency_value || \"\";\nconst bankslip =\n  data?.purchase?.payment?.pix_qrcode ||\n  data?.purchase?.payment?.billet_url ||\n  \"\";\n\n// buyer\nconst fullNameAnswer = data?.buyer?.name || \"\";\nconst emailAnswer = data?.buyer?.email || \"\";\n\n// no payload novo: buyer.checkout_phone\nconst telefoneClienteOriginal =\n  data?.buyer?.checkout_phone ||\n  data?.buyer?.phone ||\n  \"\";\n\n// se não existir, ok\nconst instagramAnswer = body?.Instagram || \"\";\n\nconst billetExpirationDate =\n  data?.purchase?.payment?.pix_expiration_date ||\n  body?.pix_expiration ||\n  \"\";\n\nconst installments = data?.purchase?.payment?.installments_number || \"\";\n\n// ===============================\n// Evento\n// ===============================\nconst eventType = body?.event || \"\";\n\n// ===============================\n// Traduções\n// ===============================\nlet paymentMethodTranslation = \"\";\nswitch (paymentMethod) {\n  case \"PIX\":\n  case \"PIX_AUTOMATIC\":\n    paymentMethodTranslation = \"PIX\";\n    break;\n  case \"BILLET\":\n    paymentMethodTranslation = \"Boleto Bancário\";\n    break;\n  case \"CASH_PAYMENT\":\n    paymentMethodTranslation = \"Cash Payment\";\n    break;\n  case \"CREDIT_CARD\":\n    paymentMethodTranslation = \"Cartão de Crédito\";\n    break;\n  case \"DIRECT_BANK_TRANSFER\":\n    paymentMethodTranslation = \"Transferência Bancária\";\n    break; // <-- faltava break no seu script\n  case \"DIRECT_DEBIT\":\n    paymentMethodTranslation = \"Débito Direto\";\n    break;\n  case \"FINANCED_BILLET\":\n    paymentMethodTranslation = \"Boleto Parcelado\";\n    break;\n  case \"FINANCED_INSTALLMENT\":\n    paymentMethodTranslation = \"Parcelamento Inteligente\";\n    break;\n  case \"GOOGLE_PAY\":\n    paymentMethodTranslation = \"Google Pay\";\n    break;\n  case \"HOTCARD\":\n    paymentMethodTranslation = \"Cartão de Crédito Hotmart\";\n    break;\n  case \"HYBRID\":\n    paymentMethodTranslation = \"Híbrido\";\n    break;\n  case \"MANUAL_TRANSFER\":\n    paymentMethodTranslation = \"Transferência Manual\";\n    break;\n  case \"PAYPAL\":\n    paymentMethodTranslation = \"PayPal\";\n    break;\n  case \"PAYPAL_INTERNACIONAL\":\n    paymentMethodTranslation = \"PayPal Internacional\";\n    break;\n  case \"PICPAY\":\n    paymentMethodTranslation = \"Pic Pay\";\n    break;\n  case \"SAMSUNG_PAY\":\n    paymentMethodTranslation = \"Samsung Pay\";\n    break;\n  case \"WALLET\":\n    paymentMethodTranslation = \"Carteira Hotmart\";\n    break;\n  default:\n    paymentMethodTranslation = \"Desconhecido\";\n}\n\nlet purchaseStatusTranslation = \"\";\nif (eventType === \"PURCHASE_OUT_OF_SHOPPING_CART\") {\n  purchaseStatusTranslation = \"Carrinho Abandonado\";\n} else if (eventType === \"SUBSCRIPTION_CANCELLATION\") {\n  purchaseStatusTranslation = \"Assinatura Cancelada\";\n} else {\n  switch (transStatus) {\n    case \"APPROVED\":\n      purchaseStatusTranslation = parseInt(recurrenceNumber) > 1 ? \"Renovação\" : \"Compra Aprovada\";\n      break;\n    case \"BLOCKED\":\n      purchaseStatusTranslation = \"Compra Bloqueada\";\n      break;\n    case \"CANCELED\":\n      purchaseStatusTranslation = \"Compra Cancelada\";\n      break;\n    case \"CHARGEBACK\":\n      purchaseStatusTranslation = \"Chargeback\";\n      break;\n    case \"COMPLETED\":\n      purchaseStatusTranslation = \"Compra Completa\";\n      break;\n    case \"EXPIRED\":\n      purchaseStatusTranslation =\n        paymentMethod === \"PIX\" ? \"PIX Expirado\" :\n        paymentMethod === \"BILLET\" ? \"Boleto Expirado\" :\n        \"Compra Expirada\";\n      break;\n    case \"NO_FUNDS\":\n      purchaseStatusTranslation = \"Sem Fundos\";\n      break;\n    case \"OVERDUE\":\n    case \"DELAYED\":\n      purchaseStatusTranslation = \"Compra Atrasada\";\n      break;\n    case \"PARTIALLY_REFUNDED\":\n      purchaseStatusTranslation = \"Compra Parcialmente Reembolsada\";\n      break;\n    case \"PRE_ORDER\":\n      purchaseStatusTranslation = \"Pré-venda\";\n      break;\n    case \"BILLET_PRINTED\":\n      purchaseStatusTranslation =\n        (paymentMethod === \"PIX\" || paymentMethod === \"PIX_AUTOMATIC\")\n          ? \"PIX Gerado\"\n          : (paymentMethod === \"BILLET\")\n            ? \"Boleto Gerado\"\n            : \"Aguardando Pagamento\";\n      break;\n    case \"PROCESSING_TRANSACTION\":\n      purchaseStatusTranslation = \"Transação em Processamento\";\n      break;\n    case \"PROTESTED\":\n    case \"DISPUTE\":\n      purchaseStatusTranslation = \"Compra Reclamada\";\n      break;\n    case \"REFUNDED\":\n      purchaseStatusTranslation = \"Compra Reembolsada\";\n      break;\n    case \"STARTED\":\n      purchaseStatusTranslation = \"Compra Iniciada\";\n      break;\n    case \"UNDER_ANALISYS\":\n      purchaseStatusTranslation = \"Compra em Análise\";\n      break;\n    case \"WAITING_PAYMENT\":\n      purchaseStatusTranslation = \"Aguardando Pagamento\";\n      break;\n    default:\n      purchaseStatusTranslation = \"Status Desconhecido\";\n  }\n}\n\nlet translatedChargeType = \"\";\nswitch (chargeType) {\n  case \"SUBSCRIPTION\":\n    translatedChargeType = \"Assinatura\";\n    break;\n  default:\n    translatedChargeType = \"Cobrança única\";\n}\n\n// ===============================\n// Formatar telefone (mesma regra)\n// ===============================\nlet telefoneFinal = \"\";\nif (telefoneClienteOriginal) {\n  const telefoneLimpo = String(telefoneClienteOriginal).replace(/\\D/g, \"\");\n\n  let DDI = \"\";\n  let DDD = \"\";\n  let numero = \"\";\n\n  if (telefoneLimpo.length > 11) {\n    DDI = telefoneLimpo.slice(0, 2);\n    DDD = telefoneLimpo.slice(2, 4);\n    numero = telefoneLimpo.slice(4);\n  } else if (telefoneLimpo.length === 11) {\n    DDI = \"55\";\n    DDD = telefoneLimpo.slice(0, 2);\n    numero = telefoneLimpo.slice(2);\n  } else if (telefoneLimpo.length === 10) {\n    DDI = \"55\";\n    DDD = telefoneLimpo.slice(0, 2);\n    numero = telefoneLimpo.slice(2);\n  } else {\n    telefoneFinal = telefoneLimpo;\n  }\n\n  if (DDD && numero) {\n    if (parseInt(DDD) > 28) {\n      if (numero.length === 9 && numero.startsWith(\"9\")) numero = numero.slice(1);\n    } else {\n      if (numero.length === 8) numero = `9${numero}`;\n    }\n  }\n\n  if (DDI && DDD && numero) telefoneFinal = `${DDI}${DDD}${numero}`;\n}\n\n// ===============================\n// Saídas formatadas\n// ===============================\nconst formattedNames = capitalizeName(fullNameAnswer);\nconst formattedEmail = String(emailAnswer || \"\").toLowerCase().trim();\nconst formattedInstagram = String(instagramAnswer || \"\").toLowerCase().replace(/^@/, \"\");\nconst formattedEventDate = formatDateTime(eventDate);\n\nconst formattedPaidDate = formatarDataMilissegundos(paidDate) || \"\";\nconst formattedSubscriptionExpirationDate = (formatarDataMilissegundos(subscriptionExpirationDate).split(\" \")[0]) || \"\";\nconst formattedWarrantyDate = (formatarDataMilissegundos(warrantyDate).split(\" \")[0]) || \"\";\nconst formattedBilletExpirationDate = (formatarDataMilissegundos(billetExpirationDate).split(\" \")[0]) || \"\";\n\nconst form_id = offer_code;\nconst form_name = data?.subscription?.plan?.name || \"\";\n\n// ===============================\n// Resultado final\n// ===============================\nconst result = {\n  ...formattedNames,\n  email: formattedEmail,\n  whatsapp: telefoneFinal,\n  instagram: formattedInstagram,\n  cpf: cpf,\n  cnpj: cnpj,\n  transaction_id: transaction_id,\n  recurrenceNumber: recurrenceNumber,\n  value: value,\n  trans_status: purchaseStatusTranslation,\n  payment_method: paymentMethodTranslation,\n  refund_date: refundDate,\n  event_date: formattedEventDate,\n  payment_date: formattedPaidDate,\n  recurrenceExpirationDate: formattedSubscriptionExpirationDate,\n  product_type: translatedChargeType,\n  product_id: productId,\n  product_name: productName,\n  warranty_date: formattedWarrantyDate,\n  offer_code: offer_code,\n  gateway_comission: gateway_comission,\n  billet_barcode: billet_barcode,\n  currency: currency,\n  bankslip: bankslip,\n  billetExpirationDate: formattedBilletExpirationDate,\n  form_name: form_name,\n  form_id: form_id,\n  utm_source: utm_source,\n  utm_campaign: utm_campaign,\n  utm_term: utm_term,\n  utm_medium: utm_medium,\n  utm_content: utm_content,\n  src: src,\n  sck: sck,\n  installments: installments,\n  refusalReason: refusalReason,\n  subscriberCode: subscriberCode,\n  planName: planName,\n  planId: planId,\n  eventId: eventId\n};\n\nreturn [{ json: result }];\n"
        },
        "id": "7df96462-be31-4dd4-b3b2-cc13cbf8f6b5",
        "name": "formata_dados",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [
          432,
          464
        ]
      },
      {
        "parameters": {
          "url": "https://developers.hotmart.com/payments/api/v1/sales/history",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "transaction",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"body\"][\"data\"][\"purchase\"][\"transaction\"] }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $node[\"CriaTokenHotmart\"].json[\"access_token\"] }}"
              }
            ]
          },
          "options": {
            "redirect": {
              "redirect": {
                "followRedirects": true
              }
            }
          }
        },
        "id": "834ac0ca-cd12-46d2-b5f4-7bc36d07ae67",
        "name": "consultaVendaHotmart",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          48,
          464
        ],
        "retryOnFail": true,
        "maxTries": 5
      },
      {
        "parameters": {
          "url": "https://developers.hotmart.com/payments/api/v1/sales/users",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "transaction",
                "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"body\"][\"data\"][\"purchase\"][\"transaction\"] }}"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $node[\"CriaTokenHotmart\"].json[\"access_token\"] }}"
              }
            ]
          },
          "options": {}
        },
        "id": "751f718f-27b8-470d-8a72-9e0336cb2822",
        "name": "consultaUserHotmart",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          256,
          464
        ],
        "retryOnFail": true,
        "maxTries": 5
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api-sec-vlc.hotmart.com/security/oauth/token",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Basic NmJkNDJmMDktMzFiMC00MGJiLThkYzMtYzIxZGU2NTdkOWJiOmQ1ZTkxOTM4LWRhZTAtNGMyNC04MmM2LWE0MzRlZmQ3NDllNA=="
              }
            ]
          },
          "sendBody": true,
          "contentType": "form-urlencoded",
          "bodyParameters": {
            "parameters": [
              {
                "name": "grant_type",
                "value": "client_credentials"
              }
            ]
          },
          "options": {
            "redirect": {
              "redirect": {
                "followRedirects": true
              }
            }
          }
        },
        "id": "c103c191-ec0d-41c2-a652-ba0909054f23",
        "name": "CriaTokenHotmart",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          -160,
          464
        ],
        "retryOnFail": true,
        "maxTries": 5
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          -160,
          288
        ],
        "id": "60bd73e4-16f7-408d-82d0-c75524f47ba7",
        "name": "No Operation, do nothing1"
      },
      {
        "parameters": {
          "queue": "[Hotmart] - Trata Dados",
          "options": {
            "arguments": {
              "argument": [
                {
                  "key": "x-queue-type",
                  "value": "quorum"
                }
              ]
            },
            "acknowledge": "executionFinishesSuccessfully",
            "jsonParseBody": "={{ true }}",
            "parallelMessages": 20
          }
        },
        "id": "5cf368e7-7fcd-4f01-80e7-6e36648d9fa6",
        "name": "chega_da_fila",
        "type": "n8n-nodes-base.rabbitmqTrigger",
        "typeVersion": 1,
        "position": [
          -560,
          448
        ],
        "credentials": {
          "rabbitmq": {
            "id": "eKnFCoTy5bVlhIj3",
            "name": "[RabbitMQ] - Fabio Soares"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "21443add-2dbd-453d-bbfd-31bb5a91b132",
                "leftValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"body\"][\"event\"] }}",
                "rightValue": "UPDATE_SUBSCRIPTION_CHARGE_DATE",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              },
              {
                "id": "7b181eac-4048-45d8-baf9-0d52c17960cf",
                "leftValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"body\"][\"event\"] }}",
                "rightValue": "SUBSCRIPTION_CANCELLATION",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -368,
          448
        ],
        "id": "9d7905b3-6d3d-455c-97f5-ed88b929c14d",
        "name": "assinatura_cancelada_ou_atualizacao_de_data_de_assinatura1"
      }
    ],
    "connections": {
      "evento": {
        "main": [
          [
            {
              "node": "fila_trata_dados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "dados": {
        "main": [
          [
            {
              "node": "fila_acoes_funis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "busca_funil": {
        "main": [
          [
            {
              "node": "dados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "pesquisa_variavel_n8n_fluxo_funis": {
        "main": [
          [
            {
              "node": "busca_funil",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "formata_dados": {
        "main": [
          [
            {
              "node": "pesquisa_variavel_n8n_fluxo_funis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "consultaVendaHotmart": {
        "main": [
          [
            {
              "node": "consultaUserHotmart",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "consultaUserHotmart": {
        "main": [
          [
            {
              "node": "formata_dados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "CriaTokenHotmart": {
        "main": [
          [
            {
              "node": "consultaVendaHotmart",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "chega_da_fila": {
        "main": [
          [
            {
              "node": "assinatura_cancelada_ou_atualizacao_de_data_de_assinatura1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "assinatura_cancelada_ou_atualizacao_de_data_de_assinatura1": {
        "main": [
          [
            {
              "node": "No Operation, do nothing1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "CriaTokenHotmart",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "1bfc2c99-49c9-4484-841d-37baf6d0e21b",
  "connections": {
    "evento": {
      "main": [
        [
          {
            "node": "fila_trata_dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados": {
      "main": [
        [
          {
            "node": "fila_acoes_funis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca_funil": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_variavel_n8n_fluxo_funis": {
      "main": [
        [
          {
            "node": "busca_funil",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formata_dados": {
      "main": [
        [
          {
            "node": "pesquisa_variavel_n8n_fluxo_funis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "consultaVendaHotmart": {
      "main": [
        [
          {
            "node": "consultaUserHotmart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "consultaUserHotmart": {
      "main": [
        [
          {
            "node": "formata_dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CriaTokenHotmart": {
      "main": [
        [
          {
            "node": "consultaVendaHotmart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chega_da_fila": {
      "main": [
        [
          {
            "node": "assinatura_cancelada_ou_atualizacao_de_data_de_assinatura1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "assinatura_cancelada_ou_atualizacao_de_data_de_assinatura1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CriaTokenHotmart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-07T15:16:16.967Z",
  "id": "W3u0peUxkSyvMNxO",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "⌚[Fabio Soares][Hotmart] - Trata Dados de Eventos",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "eventos-hotmart",
        "options": {}
      },
      "id": "222c13f4-b8bb-460e-a6f4-4b7038baa257",
      "name": "evento",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -576,
        144
      ],
      "webhookId": "0689e445-d5af-42ff-bde2-07a23a5dbdb0"
    },
    {
      "parameters": {
        "queue": "[Hotmart] - Trata Dados",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "29d84fa2-8550-41cc-97a1-87034ca62d9e",
      "name": "fila_trata_dados",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        -384,
        144
      ],
      "credentials": {
        "rabbitmq": {
          "id": "eKnFCoTy5bVlhIj3",
          "name": "[RabbitMQ] - Fabio Soares"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "nome",
              "value": "={{ $node[\"formata_dados\"].json[\"fname\"] || \"\" }}"
            },
            {
              "name": "sobrenome",
              "value": "={{ $node[\"formata_dados\"].json[\"lname\"] || \"\" }}"
            },
            {
              "name": "nome_completo",
              "value": "={{ $node[\"formata_dados\"].json[\"fullname\"] || \"\" }}"
            },
            {
              "name": "email",
              "value": "={{ $node[\"formata_dados\"].json[\"email\"] || \"\" }}"
            },
            {
              "name": "telefone",
              "value": "={{ $node[\"formata_dados\"].json[\"whatsapp\"] || \"\" }}"
            },
            {
              "name": "cpf",
              "value": "={{ $node[\"formata_dados\"].json[\"cpf\"] || \"\" }}"
            },
            {
              "name": "utm_source",
              "value": "={{ $node[\"formata_dados\"].json[\"utm_source\"] || \"\" }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $node[\"formata_dados\"].json[\"utm_campaign\"] || \"\" }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $node[\"formata_dados\"].json[\"utm_term\"] || \"\" }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $node[\"formata_dados\"].json[\"utm_medium\"] || \"\" }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $node[\"formata_dados\"].json[\"utm_content\"] || \"\" }}"
            },
            {
              "name": "form_id",
              "value": "={{ $node[\"formata_dados\"].json[\"form_id\"] || \"\" }}"
            },
            {
              "name": "form_name",
              "value": "={{ $node[\"formata_dados\"].json[\"form_name\"] || \"\" }}"
            },
            {
              "name": "value",
              "value": "={{ $node[\"formata_dados\"].json[\"value\"] || \"\" }}"
            },
            {
              "name": "transaction_id",
              "value": "={{ $node[\"formata_dados\"].json[\"transaction_id\"] || \"\" }}"
            },
            {
              "name": "net_value",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"body\"][\"data\"][\"purchase\"][\"full_price\"][\"value\"] - $node[\"formata_dados\"].json[\"gateway_comission\"] }}"
            },
            {
              "name": "trans_status",
              "value": "={{ $node[\"formata_dados\"].json[\"trans_status\"] || \"\" }}"
            },
            {
              "name": "payment_method",
              "value": "={{ $node[\"formata_dados\"].json[\"payment_method\"] || \"\" }}"
            },
            {
              "name": "refund_date",
              "value": "={{ $node[\"formata_dados\"].json[\"refund_date\"] || \"\" }}"
            },
            {
              "name": "event_date",
              "value": "={{ $node[\"formata_dados\"].json[\"event_date\"] || \"\" }}"
            },
            {
              "name": "payment_date",
              "value": "={{ $node[\"formata_dados\"].json[\"payment_date\"] || \"\" }}"
            },
            {
              "name": "product_type",
              "value": "={{ $node[\"formata_dados\"].json[\"product_type\"] || \"\" }}"
            },
            {
              "name": "product_id",
              "value": "={{ $node[\"formata_dados\"].json[\"product_id\"] || \"\" }}"
            },
            {
              "name": "product_name",
              "value": "={{ $node[\"formata_dados\"].json[\"product_name\"] || \"\" }}"
            },
            {
              "name": "warranty_date",
              "value": "={{ $node[\"formata_dados\"].json[\"warranty_date\"] || \"\" }}"
            },
            {
              "name": "offer_code",
              "value": "={{ $node[\"formata_dados\"].json[\"offer_code\"] || \"\" }}"
            },
            {
              "name": "discount_coupon",
              "value": "={{ $node[\"formata_dados\"].json[\"discount_coupon\"] || \"\" }}"
            },
            {
              "name": "street",
              "value": "={{ $node[\"formata_dados\"].json[\"street\"] || \"\" }}"
            },
            {
              "name": "address_number",
              "value": "={{ $node[\"formata_dados\"].json[\"address_number\"] || \"\" }}"
            },
            {
              "name": "country",
              "value": "={{ $node[\"formata_dados\"].json[\"country\"] || \"\" }}"
            },
            {
              "name": "district",
              "value": "={{ $node[\"formata_dados\"].json[\"district\"] || \"\" }}"
            },
            {
              "name": "address_complement",
              "value": "={{ $node[\"formata_dados\"].json[\"address_complement\"] || \"\" }}"
            },
            {
              "name": "city",
              "value": "={{ $node[\"formata_dados\"].json[\"city\"] || \"\" }}"
            },
            {
              "name": "address_state",
              "value": "={{ $node[\"formata_dados\"].json[\"address_state\"] || \"\" }}"
            },
            {
              "name": "zipcode",
              "value": "={{ $node[\"formata_dados\"].json[\"zipcode\"] || \"\" }}"
            },
            {
              "name": "affiliate_value",
              "value": "={{ $node[\"formata_dados\"].json[\"affiliate_value\"] || \"\" }}"
            },
            {
              "name": "gateway_comission",
              "value": "={{ $node[\"formata_dados\"].json[\"gateway_comission\"] || \"\" }}"
            },
            {
              "name": "billet_barcode",
              "value": "={{ $node[\"formata_dados\"].json[\"billet_barcode\"] || \"\" }}"
            },
            {
              "name": "currency",
              "value": "={{ $node[\"formata_dados\"].json[\"currency\"] || \"\" }}"
            },
            {
              "name": "bankslip",
              "value": "={{ $node[\"formata_dados\"].json[\"bankslip\"] || \"\" }}"
            },
            {
              "name": "recurrenceExpirationDate",
              "value": "={{ $node[\"formata_dados\"].json[\"recurrenceExpirationDate\"] || \"\" }}"
            },
            {
              "name": "cancelledDate",
              "value": "={{ $node[\"formata_dados\"].json[\"formattedCancelledDate\"] || \"\" }}"
            },
            {
              "name": "cnpj",
              "value": "={{ $node[\"formata_dados\"].json[\"cnpj\"] || \"\" }}"
            },
            {
              "name": "installments",
              "value": "={{ $node[\"formata_dados\"].json[\"installments\"] || \"\" }}"
            },
            {
              "name": "billetExpirationDate",
              "value": "={{ $node[\"formata_dados\"].json[\"billetExpirationDate\"] }}"
            },
            {
              "name": "recurrenceNumber",
              "value": "={{ $node[\"formata_dados\"].json[\"recurrenceNumber\"] || \"\" }}"
            },
            {
              "name": "src",
              "value": "={{ $node[\"formata_dados\"].json[\"src\"] || \"\" }}"
            },
            {
              "name": "sck",
              "value": "={{ $node[\"formata_dados\"].json[\"sck\"] || \"\" }}"
            },
            {
              "name": "refusalReason",
              "value": "={{ $node[\"formata_dados\"].json[\"refusalReason\"] || \"\" }}"
            },
            {
              "name": "subscriberCode",
              "value": "={{ $node[\"formata_dados\"].json[\"subscriberCode\"] || \"\" }}"
            },
            {
              "name": "planName",
              "value": "={{ $node[\"formata_dados\"].json[\"planName\"] || \"\" }}"
            },
            {
              "name": "planId",
              "value": "={{ $node[\"formata_dados\"].json[\"planId\"] || \"\" }}"
            },
            {
              "name": "eventId",
              "value": "={{ $node[\"formata_dados\"].json[\"eventId\"] || \"\" }}"
            },
            {
              "name": "tipo_forms",
              "value": "={{ $node[\"busca_funil\"].json[\"tipo_forms\"] || \"\" }}"
            },
            {
              "name": "id_funil",
              "value": "={{ $node[\"busca_funil\"].json[\"id_funil\"] || \"\" }}"
            },
            {
              "name": "id_forms",
              "value": "={{ $node[\"busca_funil\"].json[\"id_forms\"] || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "name": "dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1008,
        464
      ],
      "id": "7973958e-5a58-4a24-a96c-8ee20fc5f6c0"
    },
    {
      "parameters": {
        "queue": "Fila de Ações de Funis",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "durable": true
        }
      },
      "id": "00a07dbe-e98a-4574-ac87-b20ae86cd80b",
      "name": "fila_acoes_funis",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1,
      "position": [
        1200,
        464
      ],
      "credentials": {
        "rabbitmq": {
          "id": "eKnFCoTy5bVlhIj3",
          "name": "[RabbitMQ] - Fabio Soares"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_variavel_n8n_fluxo_funis\"].json[\"valor_variavel\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_forms",
              "value": "={{ $node[\"formata_dados\"].json[\"form_id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        816,
        464
      ],
      "id": "63ef0b7b-1b77-432a-b24b-67590e0f8f3d",
      "name": "busca_funil"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "variaveis_globais_n8n",
          "mode": "list",
          "cachedResultName": "variaveis_globais_n8n"
        },
        "where": {
          "values": [
            {
              "column": "nome_variavel",
              "value": "URL do Fluxo de Verificação de Funis"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "44178776-ac7a-4575-804a-51526a7cd50a",
      "name": "pesquisa_variavel_n8n_fluxo_funis",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        624,
        464
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SMjhjBLFctIENkHc",
          "name": "[MySQL] - Fabio Soares"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ===============================\n// BASE: agora vem do node RabbitMQ\n// ===============================\nconst rabbit = $node[\"chega_da_fila\"].json || {};\nconst body = rabbit?.content?.body || {};\nconst data = body?.data || {};\n\n// ===============================\n// Helpers\n// ===============================\nfunction formatarDataMilissegundos(dataMilissegundos) {\n  if (!dataMilissegundos) return \"\";\n  const dataObj = new Date(dataMilissegundos);\n  if (isNaN(dataObj.getTime())) return \"\";\n\n  // GMT-3 São Paulo\n  dataObj.setHours(dataObj.getHours() - 3);\n\n  const dia = String(dataObj.getDate()).padStart(2, \"0\");\n  const mes = String(dataObj.getMonth() + 1).padStart(2, \"0\");\n  const ano = dataObj.getFullYear();\n  const horas = String(dataObj.getHours()).padStart(2, \"0\");\n  const minutos = String(dataObj.getMinutes()).padStart(2, \"0\");\n  const segundos = String(dataObj.getSeconds()).padStart(2, \"0\");\n\n  return `${ano}-${mes}-${dia} ${horas}:${minutos}:${segundos}`;\n}\n\nfunction formatDateTime(dateString) {\n  if (!dateString) return \"\";\n  if (/^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$/.test(dateString)) return dateString;\n  if (/^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}$/.test(dateString)) return `${dateString}:00`;\n  console.warn(\"Formato de data inesperado:\", dateString);\n  return dateString;\n}\n\nfunction formatCPF(cpf) {\n  const cpfLimpo = String(cpf || \"\").replace(/\\D/g, \"\");\n  if (cpfLimpo.length === 11) {\n    return `${cpfLimpo.slice(0, 3)}.${cpfLimpo.slice(3, 6)}.${cpfLimpo.slice(6, 9)}-${cpfLimpo.slice(9, 11)}`;\n  }\n  return cpf || \"\";\n}\n\nfunction formatCNPJ(cnpj) {\n  const cnpjLimpo = String(cnpj || \"\").replace(/\\D/g, \"\");\n  if (cnpjLimpo.length === 14) {\n    return `${cnpjLimpo.slice(0, 2)}.${cnpjLimpo.slice(2, 5)}.${cnpjLimpo.slice(5, 8)}/${cnpjLimpo.slice(8, 12)}-${cnpjLimpo.slice(12, 14)}`;\n  }\n  return cnpj || \"\";\n}\n\nfunction isCPFOrCNPJ(cpfCnpj) {\n  const cleaned = String(cpfCnpj || \"\").replace(/\\D/g, \"\");\n  if (cleaned.length === 11) return \"CPF\";\n  if (cleaned.length === 14) return \"CNPJ\";\n  return null;\n}\n\nfunction capitalizeName(fullName) {\n  if (!fullName) return { fname: \"\", lname: \"\", fullname: \"\" };\n\n  const lowerCaseWords = [\"da\", \"de\", \"do\", \"di\", \"du\"];\n  const words = String(fullName)\n    .toLowerCase()\n    .split(\" \")\n    .filter(Boolean)\n    .map((word, index) => {\n      if (lowerCaseWords.includes(word) && index !== 0) return word;\n      return word.charAt(0).toUpperCase() + word.slice(1);\n    });\n\n  const fname = words.shift() || \"\";\n  const lname = words.join(\" \");\n  const fullname = lname ? `${fname} ${lname}` : fname;\n\n  return { fname, lname, fullname };\n}\n\n// ===============================\n// Campos (agora apontando para body/data do RabbitMQ)\n// ===============================\nconst recurrenceNumber = data?.purchase?.recurrence_number || \"\";\nconst src = data?.purchase?.origin?.src || \"\";\nconst sck = data?.purchase?.origin?.sck || \"\";\nconst eventId = body?.id || \"\";\nconst eventDate = formatarDataMilissegundos(body?.creation_date);\n\nconst refusalReason = data?.purchase?.payment?.refusal_reason || \"\";\nconst transaction_id = data?.purchase?.transaction || \"\";\nconst value = data?.purchase?.full_price?.value || \"\";\nconst transStatus = data?.purchase?.status || \"\";\n\nconst subscriberCode = data?.subscription?.subscriber?.code || \"\";\nconst planName = data?.subscription?.plan?.name || \"\";\nconst planId = data?.subscription?.plan?.id || \"\";\n\n// podem não existir no payload — mantém fallback\nconst refundDate = body?.refunded_at || \"\";\nconst paidDate = data?.purchase?.approved_date || \"\";\n\nconst paymentMethod = data?.purchase?.payment?.type || \"\";\nconst productId = data?.product?.id || \"\";\nconst productName = data?.product?.name || \"\";\n\n// continua vindo do outro node, igual você tinha\nconst chargeType = $node[\"consultaVendaHotmart\"].json?.items?.[\"0\"]?.purchase?.offer?.payment_mode || \"\";\n\nconst offer_code =\n  data?.purchase?.offer?.code ||\n  data?.offer?.code ||\n  \"\";\n\nconst warrantyDate = $node[\"consultaVendaHotmart\"].json?.items?.[\"0\"]?.purchase?.warranty_expire_date || \"\";\nconst subscriptionExpirationDate = data?.purchase?.date_next_charge || \"\";\n\n// ===============================\n// UTM: SCK dividido\n// ===============================\nconst sckParts = String(sck || \"\").split(\"|\");\nconst utm_source = sckParts[0] || \"\";\nconst utm_campaign = sckParts[1] || \"\";\nconst utm_term = sckParts[2] || \"\";\nconst utm_medium = sckParts[3] || \"\";\nconst utm_content = sckParts[4] || \"\";\n\n// ===============================\n// Gateway commission (MARKETPLACE)\n// ===============================\nconst commissions = data?.commissions || [];\nconst marketplaceCommission = Array.isArray(commissions)\n  ? commissions.find((c) => c?.source === \"MARKETPLACE\")\n  : null;\n\nconst gateway_comission = marketplaceCommission ? marketplaceCommission.value : \"\";\n\n// ===============================\n// CPF/CNPJ do comprador\n// ===============================\nconst cpfCnpj = data?.buyer?.document || \"\";\nlet cpf = \"\";\nlet cnpj = \"\";\n\nif (isCPFOrCNPJ(cpfCnpj) === \"CPF\") cpf = formatCPF(cpfCnpj);\nelse if (isCPFOrCNPJ(cpfCnpj) === \"CNPJ\") cnpj = formatCNPJ(cpfCnpj);\n\n// ===============================\n// Campos boleto/pix\n// ===============================\nconst billet_barcode =\n  data?.purchase?.payment?.pix_code ||\n  body?.pix_code ||\n  data?.purchase?.payment?.billet_barcode ||\n  \"\";\n\nconst currency = data?.purchase?.price?.currency_value || \"\";\nconst bankslip =\n  data?.purchase?.payment?.pix_qrcode ||\n  data?.purchase?.payment?.billet_url ||\n  \"\";\n\n// buyer\nconst fullNameAnswer = data?.buyer?.name || \"\";\nconst emailAnswer = data?.buyer?.email || \"\";\n\n// no payload novo: buyer.checkout_phone\nconst telefoneClienteOriginal =\n  data?.buyer?.checkout_phone ||\n  data?.buyer?.phone ||\n  \"\";\n\n// se não existir, ok\nconst instagramAnswer = body?.Instagram || \"\";\n\nconst billetExpirationDate =\n  data?.purchase?.payment?.pix_expiration_date ||\n  body?.pix_expiration ||\n  \"\";\n\nconst installments = data?.purchase?.payment?.installments_number || \"\";\n\n// ===============================\n// Evento\n// ===============================\nconst eventType = body?.event || \"\";\n\n// ===============================\n// Traduções\n// ===============================\nlet paymentMethodTranslation = \"\";\nswitch (paymentMethod) {\n  case \"PIX\":\n  case \"PIX_AUTOMATIC\":\n    paymentMethodTranslation = \"PIX\";\n    break;\n  case \"BILLET\":\n    paymentMethodTranslation = \"Boleto Bancário\";\n    break;\n  case \"CASH_PAYMENT\":\n    paymentMethodTranslation = \"Cash Payment\";\n    break;\n  case \"CREDIT_CARD\":\n    paymentMethodTranslation = \"Cartão de Crédito\";\n    break;\n  case \"DIRECT_BANK_TRANSFER\":\n    paymentMethodTranslation = \"Transferência Bancária\";\n    break; // <-- faltava break no seu script\n  case \"DIRECT_DEBIT\":\n    paymentMethodTranslation = \"Débito Direto\";\n    break;\n  case \"FINANCED_BILLET\":\n    paymentMethodTranslation = \"Boleto Parcelado\";\n    break;\n  case \"FINANCED_INSTALLMENT\":\n    paymentMethodTranslation = \"Parcelamento Inteligente\";\n    break;\n  case \"GOOGLE_PAY\":\n    paymentMethodTranslation = \"Google Pay\";\n    break;\n  case \"HOTCARD\":\n    paymentMethodTranslation = \"Cartão de Crédito Hotmart\";\n    break;\n  case \"HYBRID\":\n    paymentMethodTranslation = \"Híbrido\";\n    break;\n  case \"MANUAL_TRANSFER\":\n    paymentMethodTranslation = \"Transferência Manual\";\n    break;\n  case \"PAYPAL\":\n    paymentMethodTranslation = \"PayPal\";\n    break;\n  case \"PAYPAL_INTERNACIONAL\":\n    paymentMethodTranslation = \"PayPal Internacional\";\n    break;\n  case \"PICPAY\":\n    paymentMethodTranslation = \"Pic Pay\";\n    break;\n  case \"SAMSUNG_PAY\":\n    paymentMethodTranslation = \"Samsung Pay\";\n    break;\n  case \"WALLET\":\n    paymentMethodTranslation = \"Carteira Hotmart\";\n    break;\n  default:\n    paymentMethodTranslation = \"Desconhecido\";\n}\n\nlet purchaseStatusTranslation = \"\";\nif (eventType === \"PURCHASE_OUT_OF_SHOPPING_CART\") {\n  purchaseStatusTranslation = \"Carrinho Abandonado\";\n} else if (eventType === \"SUBSCRIPTION_CANCELLATION\") {\n  purchaseStatusTranslation = \"Assinatura Cancelada\";\n} else {\n  switch (transStatus) {\n    case \"APPROVED\":\n      purchaseStatusTranslation = parseInt(recurrenceNumber) > 1 ? \"Renovação\" : \"Compra Aprovada\";\n      break;\n    case \"BLOCKED\":\n      purchaseStatusTranslation = \"Compra Bloqueada\";\n      break;\n    case \"CANCELED\":\n      purchaseStatusTranslation = \"Compra Cancelada\";\n      break;\n    case \"CHARGEBACK\":\n      purchaseStatusTranslation = \"Chargeback\";\n      break;\n    case \"COMPLETED\":\n      purchaseStatusTranslation = \"Compra Completa\";\n      break;\n    case \"EXPIRED\":\n      purchaseStatusTranslation =\n        paymentMethod === \"PIX\" ? \"PIX Expirado\" :\n        paymentMethod === \"BILLET\" ? \"Boleto Expirado\" :\n        \"Compra Expirada\";\n      break;\n    case \"NO_FUNDS\":\n      purchaseStatusTranslation = \"Sem Fundos\";\n      break;\n    case \"OVERDUE\":\n    case \"DELAYED\":\n      purchaseStatusTranslation = \"Compra Atrasada\";\n      break;\n    case \"PARTIALLY_REFUNDED\":\n      purchaseStatusTranslation = \"Compra Parcialmente Reembolsada\";\n      break;\n    case \"PRE_ORDER\":\n      purchaseStatusTranslation = \"Pré-venda\";\n      break;\n    case \"BILLET_PRINTED\":\n      purchaseStatusTranslation =\n        (paymentMethod === \"PIX\" || paymentMethod === \"PIX_AUTOMATIC\")\n          ? \"PIX Gerado\"\n          : (paymentMethod === \"BILLET\")\n            ? \"Boleto Gerado\"\n            : \"Aguardando Pagamento\";\n      break;\n    case \"PROCESSING_TRANSACTION\":\n      purchaseStatusTranslation = \"Transação em Processamento\";\n      break;\n    case \"PROTESTED\":\n    case \"DISPUTE\":\n      purchaseStatusTranslation = \"Compra Reclamada\";\n      break;\n    case \"REFUNDED\":\n      purchaseStatusTranslation = \"Compra Reembolsada\";\n      break;\n    case \"STARTED\":\n      purchaseStatusTranslation = \"Compra Iniciada\";\n      break;\n    case \"UNDER_ANALISYS\":\n      purchaseStatusTranslation = \"Compra em Análise\";\n      break;\n    case \"WAITING_PAYMENT\":\n      purchaseStatusTranslation = \"Aguardando Pagamento\";\n      break;\n    default:\n      purchaseStatusTranslation = \"Status Desconhecido\";\n  }\n}\n\nlet translatedChargeType = \"\";\nswitch (chargeType) {\n  case \"SUBSCRIPTION\":\n    translatedChargeType = \"Assinatura\";\n    break;\n  default:\n    translatedChargeType = \"Cobrança única\";\n}\n\n// ===============================\n// Formatar telefone (mesma regra)\n// ===============================\nlet telefoneFinal = \"\";\nif (telefoneClienteOriginal) {\n  const telefoneLimpo = String(telefoneClienteOriginal).replace(/\\D/g, \"\");\n\n  let DDI = \"\";\n  let DDD = \"\";\n  let numero = \"\";\n\n  if (telefoneLimpo.length > 11) {\n    DDI = telefoneLimpo.slice(0, 2);\n    DDD = telefoneLimpo.slice(2, 4);\n    numero = telefoneLimpo.slice(4);\n  } else if (telefoneLimpo.length === 11) {\n    DDI = \"55\";\n    DDD = telefoneLimpo.slice(0, 2);\n    numero = telefoneLimpo.slice(2);\n  } else if (telefoneLimpo.length === 10) {\n    DDI = \"55\";\n    DDD = telefoneLimpo.slice(0, 2);\n    numero = telefoneLimpo.slice(2);\n  } else {\n    telefoneFinal = telefoneLimpo;\n  }\n\n  if (DDD && numero) {\n    if (parseInt(DDD) > 28) {\n      if (numero.length === 9 && numero.startsWith(\"9\")) numero = numero.slice(1);\n    } else {\n      if (numero.length === 8) numero = `9${numero}`;\n    }\n  }\n\n  if (DDI && DDD && numero) telefoneFinal = `${DDI}${DDD}${numero}`;\n}\n\n// ===============================\n// Saídas formatadas\n// ===============================\nconst formattedNames = capitalizeName(fullNameAnswer);\nconst formattedEmail = String(emailAnswer || \"\").toLowerCase().trim();\nconst formattedInstagram = String(instagramAnswer || \"\").toLowerCase().replace(/^@/, \"\");\nconst formattedEventDate = formatDateTime(eventDate);\n\nconst formattedPaidDate = formatarDataMilissegundos(paidDate) || \"\";\nconst formattedSubscriptionExpirationDate = (formatarDataMilissegundos(subscriptionExpirationDate).split(\" \")[0]) || \"\";\nconst formattedWarrantyDate = (formatarDataMilissegundos(warrantyDate).split(\" \")[0]) || \"\";\nconst formattedBilletExpirationDate = (formatarDataMilissegundos(billetExpirationDate).split(\" \")[0]) || \"\";\n\nconst form_id = offer_code;\nconst form_name = data?.subscription?.plan?.name || \"\";\n\n// ===============================\n// Resultado final\n// ===============================\nconst result = {\n  ...formattedNames,\n  email: formattedEmail,\n  whatsapp: telefoneFinal,\n  instagram: formattedInstagram,\n  cpf: cpf,\n  cnpj: cnpj,\n  transaction_id: transaction_id,\n  recurrenceNumber: recurrenceNumber,\n  value: value,\n  trans_status: purchaseStatusTranslation,\n  payment_method: paymentMethodTranslation,\n  refund_date: refundDate,\n  event_date: formattedEventDate,\n  payment_date: formattedPaidDate,\n  recurrenceExpirationDate: formattedSubscriptionExpirationDate,\n  product_type: translatedChargeType,\n  product_id: productId,\n  product_name: productName,\n  warranty_date: formattedWarrantyDate,\n  offer_code: offer_code,\n  gateway_comission: gateway_comission,\n  billet_barcode: billet_barcode,\n  currency: currency,\n  bankslip: bankslip,\n  billetExpirationDate: formattedBilletExpirationDate,\n  form_name: form_name,\n  form_id: form_id,\n  utm_source: utm_source,\n  utm_campaign: utm_campaign,\n  utm_term: utm_term,\n  utm_medium: utm_medium,\n  utm_content: utm_content,\n  src: src,\n  sck: sck,\n  installments: installments,\n  refusalReason: refusalReason,\n  subscriberCode: subscriberCode,\n  planName: planName,\n  planId: planId,\n  eventId: eventId\n};\n\nreturn [{ json: result }];\n"
      },
      "id": "7df96462-be31-4dd4-b3b2-cc13cbf8f6b5",
      "name": "formata_dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        432,
        464
      ]
    },
    {
      "parameters": {
        "url": "https://developers.hotmart.com/payments/api/v1/sales/history",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "transaction",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"body\"][\"data\"][\"purchase\"][\"transaction\"] }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"CriaTokenHotmart\"].json[\"access_token\"] }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true
            }
          }
        }
      },
      "id": "834ac0ca-cd12-46d2-b5f4-7bc36d07ae67",
      "name": "consultaVendaHotmart",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        48,
        464
      ],
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "url": "https://developers.hotmart.com/payments/api/v1/sales/users",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "transaction",
              "value": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"body\"][\"data\"][\"purchase\"][\"transaction\"] }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"CriaTokenHotmart\"].json[\"access_token\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "751f718f-27b8-470d-8a72-9e0336cb2822",
      "name": "consultaUserHotmart",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        256,
        464
      ],
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-sec-vlc.hotmart.com/security/oauth/token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic NmJkNDJmMDktMzFiMC00MGJiLThkYzMtYzIxZGU2NTdkOWJiOmQ1ZTkxOTM4LWRhZTAtNGMyNC04MmM2LWE0MzRlZmQ3NDllNA=="
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "client_credentials"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true
            }
          }
        }
      },
      "id": "c103c191-ec0d-41c2-a652-ba0909054f23",
      "name": "CriaTokenHotmart",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -160,
        464
      ],
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -160,
        288
      ],
      "id": "60bd73e4-16f7-408d-82d0-c75524f47ba7",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "queue": "[Hotmart] - Trata Dados",
        "options": {
          "arguments": {
            "argument": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "acknowledge": "executionFinishesSuccessfully",
          "jsonParseBody": "={{ true }}",
          "parallelMessages": 20
        }
      },
      "id": "5cf368e7-7fcd-4f01-80e7-6e36648d9fa6",
      "name": "chega_da_fila",
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        -560,
        448
      ],
      "credentials": {
        "rabbitmq": {
          "id": "eKnFCoTy5bVlhIj3",
          "name": "[RabbitMQ] - Fabio Soares"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "21443add-2dbd-453d-bbfd-31bb5a91b132",
              "leftValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"body\"][\"event\"] }}",
              "rightValue": "UPDATE_SUBSCRIPTION_CHARGE_DATE",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "7b181eac-4048-45d8-baf9-0d52c17960cf",
              "leftValue": "={{ $node[\"chega_da_fila\"].json[\"content\"][\"body\"][\"event\"] }}",
              "rightValue": "SUBSCRIPTION_CANCELLATION",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -368,
        448
      ],
      "id": "9d7905b3-6d3d-455c-97f5-ed88b929c14d",
      "name": "assinatura_cancelada_ou_atualizacao_de_data_de_assinatura1"
    }
  ],
  "pinData": {
    "evento": [
      {
        "json": {
          "headers": {
            "host": "n8n-n8n.yqd7ni.easypanel.host",
            "user-agent": "Jodd HTTP",
            "content-length": "1841",
            "content-type": "application/json",
            "x-forwarded-for": "54.175.106.6",
            "x-forwarded-host": "n8n-n8n.yqd7ni.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "95876c3beb17",
            "x-hotmart-hottok": "Jlr2kFGO38ox72jGMWM32KO84895830bbaf9cd-370a-4ef2-bc68-8d96714bb048",
            "x-real-ip": "54.175.106.6",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "data": {
              "product": {
                "support_email": "contact@avengersagency.com",
                "has_co_production": false,
                "name": "Ingresso Silver – Desafio As 7 Chaves da Riqueza",
                "warranty_date": "2026-03-15T00:00:00Z",
                "is_physical_product": false,
                "id": 6238670,
                "ucode": "4ac6c808-2df8-439d-9881-b00b620231e5"
              },
              "commissions": [
                {
                  "currency_value": "USD",
                  "source": "MARKETPLACE",
                  "value": 0.86
                },
                {
                  "currency_conversion": {
                    "converted_value": 5.92,
                    "converted_to_currency": "USD",
                    "conversion_rate": 1
                  },
                  "currency_value": "USD",
                  "source": "PRODUCER",
                  "value": 5.92
                }
              ],
              "purchase": {
                "original_offer_price": {
                  "currency_value": "BRL",
                  "value": 37.9
                },
                "subscription_anticipation_purchase": false,
                "checkout_country": {
                  "iso": "BR",
                  "name": "Brasil"
                },
                "origin": {
                  "sck": "ig|social|instagram|link_in_bio|bio|/optin-a/"
                },
                "order_bump": {
                  "is_order_bump": false
                },
                "approved_date": 1772999430000,
                "offer": {
                  "code": "ogl1dc1y"
                },
                "is_funnel": true,
                "order_date": 1772999427000,
                "price": {
                  "currency_value": "BRL",
                  "value": 37.9
                },
                "payment": {
                  "installments_number": 1,
                  "type": "CREDIT_CARD"
                },
                "full_price": {
                  "currency_value": "BRL",
                  "value": 37.9
                },
                "business_model": "A",
                "invoice_by": "SELLER",
                "transaction": "HP1912030247",
                "status": "APPROVED"
              },
              "affiliates": [
                {
                  "affiliate_code": "",
                  "name": ""
                }
              ],
              "producer": {
                "legal_nature": "Pessoa Jurídica",
                "document": "850623633",
                "name": "Avengers Agency, LLC"
              },
              "buyer": {
                "checkout_phone_code": "11",
                "address": {
                  "zipcode": "05640004",
                  "country": "Brasil",
                  "number": "2308",
                  "address": "Avenida Doutor Guilherme Dumont Vilares",
                  "city": "São Paulo",
                  "state": "SP",
                  "neighborhood": "Jardim Londrina",
                  "complement": "Apto 22",
                  "country_iso": "BR"
                },
                "document": "14424437825",
                "name": "Otavio Baptista da Costa",
                "last_name": "Costa",
                "checkout_phone": "11991272357",
                "first_name": "Otavio",
                "email": "obcosta@gmail.com",
                "document_type": "CPF"
              }
            },
            "id": "7ebb8555-efd2-47cf-8782-06df29f0fe4f",
            "creation_date": 1772999441886,
            "event": "PURCHASE_APPROVED",
            "version": "2.0.0"
          },
          "webhookUrl": "https://n8n-n8n.yqd7ni.easypanel.host/webhook/eventos-hotmart",
          "executionMode": "production"
        }
      }
    ],
    "chega_da_fila": [
      {
        "json": {
          "fields": {
            "consumerTag": "amq.ctag-Ju4UoPawDSZynQz_KYj2Pw",
            "deliveryTag": 4,
            "redelivered": false,
            "exchange": "",
            "routingKey": "[Hotmart] - Trata Dados"
          },
          "properties": {
            "headers": {}
          },
          "content": {
            "headers": {
              "host": "n8n-n8n.yqd7ni.easypanel.host",
              "user-agent": "Jodd HTTP",
              "content-length": "1841",
              "content-type": "application/json",
              "x-forwarded-for": "54.175.106.6",
              "x-forwarded-host": "n8n-n8n.yqd7ni.easypanel.host",
              "x-forwarded-port": "443",
              "x-forwarded-proto": "https",
              "x-forwarded-server": "95876c3beb17",
              "x-hotmart-hottok": "Jlr2kFGO38ox72jGMWM32KO84895830bbaf9cd-370a-4ef2-bc68-8d96714bb048",
              "x-real-ip": "54.175.106.6",
              "accept-encoding": "gzip"
            },
            "params": {},
            "query": {},
            "body": {
              "data": {
                "product": {
                  "support_email": "contact@avengersagency.com",
                  "has_co_production": false,
                  "name": "Ingresso Silver – Desafio As 7 Chaves da Riqueza",
                  "warranty_date": "2026-03-15T00:00:00Z",
                  "is_physical_product": false,
                  "id": 6238670,
                  "ucode": "4ac6c808-2df8-439d-9881-b00b620231e5"
                },
                "commissions": [
                  {
                    "currency_value": "USD",
                    "source": "MARKETPLACE",
                    "value": 0.86
                  },
                  {
                    "currency_conversion": {
                      "converted_value": 5.92,
                      "converted_to_currency": "USD",
                      "conversion_rate": 1
                    },
                    "currency_value": "USD",
                    "source": "PRODUCER",
                    "value": 5.92
                  }
                ],
                "purchase": {
                  "original_offer_price": {
                    "currency_value": "BRL",
                    "value": 37.9
                  },
                  "subscription_anticipation_purchase": false,
                  "checkout_country": {
                    "iso": "BR",
                    "name": "Brasil"
                  },
                  "origin": {
                    "sck": "ig|social|instagram|link_in_bio|bio|/optin-a/"
                  },
                  "order_bump": {
                    "is_order_bump": false
                  },
                  "approved_date": 1772999430000,
                  "offer": {
                    "code": "ogl1dc1y"
                  },
                  "is_funnel": true,
                  "order_date": 1772999427000,
                  "price": {
                    "currency_value": "BRL",
                    "value": 37.9
                  },
                  "payment": {
                    "installments_number": 1,
                    "type": "CREDIT_CARD"
                  },
                  "full_price": {
                    "currency_value": "BRL",
                    "value": 37.9
                  },
                  "business_model": "A",
                  "invoice_by": "SELLER",
                  "transaction": "HP1912030247",
                  "status": "APPROVED"
                },
                "affiliates": [
                  {
                    "affiliate_code": "",
                    "name": ""
                  }
                ],
                "producer": {
                  "legal_nature": "Pessoa Jurídica",
                  "document": "850623633",
                  "name": "Avengers Agency, LLC"
                },
                "buyer": {
                  "checkout_phone_code": "11",
                  "address": {
                    "zipcode": "05640004",
                    "country": "Brasil",
                    "number": "2308",
                    "address": "Avenida Doutor Guilherme Dumont Vilares",
                    "city": "São Paulo",
                    "state": "SP",
                    "neighborhood": "Jardim Londrina",
                    "complement": "Apto 22",
                    "country_iso": "BR"
                  },
                  "document": "14424437825",
                  "name": "Otavio Baptista da Costa",
                  "last_name": "Costa",
                  "checkout_phone": "11991272357",
                  "first_name": "Otavio",
                  "email": "obcosta@gmail.com",
                  "document_type": "CPF"
                }
              },
              "id": "7ebb8555-efd2-47cf-8782-06df29f0fe4f",
              "creation_date": 1772999441886,
              "event": "PURCHASE_APPROVED",
              "version": "2.0.0"
            },
            "webhookUrl": "https://n8n-n8n.yqd7ni.easypanel.host/webhook/eventos-hotmart",
            "executionMode": "production"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "JC1jRbnEV3QDh2TT"
  },
  "shared": [
    {
      "updatedAt": "2026-03-07T15:16:16.970Z",
      "createdAt": "2026-03-07T15:16:16.970Z",
      "role": "workflow:owner",
      "workflowId": "W3u0peUxkSyvMNxO",
      "projectId": "DsELi0ezptx4jHSs"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2026-03-09T19:20:58.000Z",
  "versionId": "1bfc2c99-49c9-4484-841d-37baf6d0e21b"
}