workflows/⌚[Fabio Soares][GHL] - Adiciona Tag no Contato.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-13T18:25:26.000Z",
    "createdAt": "2026-03-13T18:25:13.995Z",
    "versionId": "84febb47-8626-4325-a648-3841f6035177",
    "workflowId": "A3NcxMRBnblA4326",
    "nodes": [
      {
        "parameters": {
          "operation": "select",
          "table": {
            "__rl": true,
            "value": "variaveis_globais_n8n",
            "mode": "list",
            "cachedResultName": "variaveis_globais_n8n"
          },
          "where": {
            "values": [
              {
                "column": "nome_variavel",
                "value": "Location do GoHighLevel"
              }
            ]
          },
          "combineConditions": "OR",
          "options": {}
        },
        "id": "c20f8ce5-7fe1-472a-82a5-1f55c5fee42c",
        "name": "pesquisa_location_crm1",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          -432,
          1136
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "SMjhjBLFctIENkHc",
            "name": "[MySQL] - Fabio Soares"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT \n    t.*\nFROM \n    tags_crm t\nINNER JOIN \n    tag_funil_crm tfc\nON \n    t.id = tfc.id_tag\nWHERE \n    tfc.id_etapa_funil = {{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_etapa_funil\"] }}\n    AND t.entidade = 'contact';\n",
          "options": {}
        },
        "id": "f8dc1b3d-32a7-44ba-b686-d35f617501fb",
        "name": "pesquisa_tag_funil",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          672,
          1488
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "SMjhjBLFctIENkHc",
            "name": "[MySQL] - Fabio Soares"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          1200,
          1136
        ],
        "id": "7ab91c29-62d1-45be-8010-78e44972c886",
        "name": "Loop Over Items"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          1392,
          944
        ],
        "id": "d62da3a5-5477-4489-9715-96bc4e8c52a3",
        "name": "Limit"
      },
      {
        "parameters": {
          "operation": "select",
          "table": {
            "__rl": true,
            "value": "users",
            "mode": "list",
            "cachedResultName": "users"
          },
          "where": {
            "values": [
              {
                "column": "id",
                "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_user\"] }}"
              }
            ]
          },
          "combineConditions": "OR",
          "options": {}
        },
        "id": "381e46a3-ca98-4adb-9746-5cbc3c9de33a",
        "name": "pesquisa_user",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          -208,
          1136
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "SMjhjBLFctIENkHc",
            "name": "[MySQL] - Fabio Soares"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "a84ded2b-f300-41fe-83c8-e47817e2612f",
                "leftValue": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_situacao_checkout\"] }}",
                "rightValue": "",
                "operator": {
                  "type": "number",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          240,
          1136
        ],
        "id": "ed1da466-d250-4ad2-ad36-46669c7cfd11",
        "name": "checkout"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT \n    t.*\nFROM \n    tags_crm t\nINNER JOIN \n    tag_funil_crm2 tfc\nON \n    t.id = tfc.id_tag\nWHERE \n    tfc.id_situacao_checkout = {{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_situacao_checkout\"] }}\n    AND t.entidade = 'contact';",
          "options": {}
        },
        "id": "46c2cd36-6d8d-41ea-92c3-861dcc163dd1",
        "name": "pesquisa_tag_funil1",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          448,
          1040
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "SMjhjBLFctIENkHc",
            "name": "[MySQL] - Fabio Soares"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT \n    t.*\nFROM \n    tags_crm t\nINNER JOIN \n    tag_funil_crm tfc\nON \n    t.id = tfc.id_tag\nWHERE \n    tfc.id_situacao_agendamento = {{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_situacao_agendamento\"] }}\n    AND t.entidade = 'contact';",
          "options": {}
        },
        "id": "0fc2d663-292c-433d-b089-dc69fcb04d47",
        "name": "pesquisa_tag_funil2",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          672,
          1280
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "SMjhjBLFctIENkHc",
            "name": "[MySQL] - Fabio Soares"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "a84ded2b-f300-41fe-83c8-e47817e2612f",
                "leftValue": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_situacao_agendamento\"] }}",
                "rightValue": "",
                "operator": {
                  "type": "number",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          416,
          1360
        ],
        "id": "54791878-3ae4-42b8-ac53-896cc3f8ba0a",
        "name": "agendamento"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "0c90b77b-7778-4200-9255-5e2b6c72e3da",
                "leftValue": "={{ $node[\"pesquisa_user\"].json[\"id_contact_crm\"] }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "empty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          16,
          1136
        ],
        "id": "4e6d9df5-4f90-4b57-abe8-c5c973d352d7",
        "name": "contato_nao_existe"
      },
      {
        "parameters": {
          "operation": "select",
          "table": {
            "__rl": true,
            "value": "acoes_workflows",
            "mode": "list",
            "cachedResultName": "acoes_workflows"
          },
          "where": {
            "values": [
              {
                "column": "acao",
                "value": "create_update_contact_crm"
              }
            ]
          },
          "options": {}
        },
        "id": "fb6a74b3-144f-4c03-b521-b795029fd6f1",
        "name": "pesquisa_url_create_update_contact_crm",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          240,
          800
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "SMjhjBLFctIENkHc",
            "name": "[MySQL] - Fabio Soares"
          }
        }
      },
      {
        "parameters": {
          "url": "={{ $node[\"pesquisa_url_create_update_contact_crm\"].json[\"endpoint_workflow\"] }}",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "id_etapa_funil",
                "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_etapa_funil\"] }}"
              },
              {
                "name": "id_funil",
                "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_funil\"] }}"
              },
              {
                "name": "id_user",
                "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_user\"] }}"
              },
              {
                "name": "payload",
                "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"payload\"] }}"
              },
              {
                "name": "id_situacao_checkout",
                "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_situacao_checkout\"]  || \"\" }}"
              },
              {
                "name": "id_situacao_agendamento",
                "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_situacao_agendamento\"] || \"\" }}"
              },
              {
                "name": "tipo_forms",
                "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"payload\"][\"tipo_forms\"] }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          448,
          800
        ],
        "id": "ffc5462d-2b06-4f7e-905d-9b07c422a2a5",
        "name": "chama_fluxo_create_update_contact_crm"
      },
      {
        "parameters": {
          "path": "add-tag-ghl",
          "responseMode": "lastNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -1840,
          976
        ],
        "id": "8015ebf2-a659-4367-b74f-dff95e690291",
        "name": "fluxo_chamado",
        "webhookId": "54fbef6d-437b-447d-a499-bf861eece704"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $node[\"pesquisa_url_base_crm\"].json[\"valor_variavel\"] }}contacts/{{ $node[\"pesquisa_user\"].json[\"id_contact_crm\"] }}/tags",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Version",
                "value": "2021-07-28"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $node[\"pesquisa_api_key_crm\"].json[\"valor_variavel\"] }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Accept",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"tags\": [\"{{ $node[\"Loop Over Items\"].json[\"nome_tag\"] }}\"]\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1392,
          1264
        ],
        "id": "ae0d3404-1cf5-476d-9d7d-29dd665cdeae",
        "name": "add_tag"
      },
      {
        "parameters": {
          "operation": "select",
          "table": {
            "__rl": true,
            "value": "variaveis_globais_n8n",
            "mode": "list",
            "cachedResultName": "variaveis_globais_n8n"
          },
          "where": {
            "values": [
              {
                "column": "nome_variavel",
                "value": "URL Base do CRM"
              }
            ]
          },
          "combineConditions": "OR",
          "options": {}
        },
        "id": "fdb20b8c-96dc-4b7b-9f3d-5ee88cb90b83",
        "name": "pesquisa_url_base_crm",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          -912,
          1136
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "SMjhjBLFctIENkHc",
            "name": "[MySQL] - Fabio Soares"
          }
        }
      },
      {
        "parameters": {
          "operation": "select",
          "table": {
            "__rl": true,
            "value": "variaveis_globais_n8n",
            "mode": "list",
            "cachedResultName": "variaveis_globais_n8n"
          },
          "where": {
            "values": [
              {
                "column": "nome_variavel",
                "value": "API Key do GoHighLevel"
              }
            ]
          },
          "combineConditions": "OR",
          "options": {}
        },
        "id": "5c16b13e-2f5d-4af0-8c04-80361a4e2aeb",
        "name": "pesquisa_api_key_crm",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          -672,
          1136
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "SMjhjBLFctIENkHc",
            "name": "[MySQL] - Fabio Soares"
          }
        }
      },
      {
        "parameters": {
          "operation": "select",
          "table": {
            "__rl": true,
            "value": "variaveis_globais_n8n",
            "mode": "list",
            "cachedResultName": "variaveis_globais_n8n"
          },
          "where": {
            "values": [
              {
                "column": "nome_variavel",
                "value": "Location do GoHighLevel"
              }
            ]
          },
          "combineConditions": "OR",
          "options": {}
        },
        "id": "3017f873-aeb5-46b3-aa66-2415191ae080",
        "name": "pesquisa_location_crm",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          -416,
          160
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "SMjhjBLFctIENkHc",
            "name": "[MySQL] - Fabio Soares"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT \n    t.*\nFROM \n    tags_crm t\nINNER JOIN \n    tag_funil_crm tfc\nON \n    t.id = tfc.id_tag\nWHERE \n    tfc.id_etapa_funil = {{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_etapa_funil\"] }}\n    AND t.entidade = 'contact';\n",
          "options": {}
        },
        "id": "5b4cd283-3c9b-43c0-bfff-fe09d67698ba",
        "name": "pesquisa_tag_funil3",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          688,
          512
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "SMjhjBLFctIENkHc",
            "name": "[MySQL] - Fabio Soares"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          1216,
          160
        ],
        "id": "8e6bffd6-c998-4c79-bdd9-97f1b5ad89cc",
        "name": "Loop Over Items1"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          1408,
          -32
        ],
        "id": "8268eb86-f937-40b9-85c3-8d23f4faff17",
        "name": "Limit1"
      },
      {
        "parameters": {
          "operation": "select",
          "table": {
            "__rl": true,
            "value": "users",
            "mode": "list",
            "cachedResultName": "users"
          },
          "where": {
            "values": [
              {
                "column": "id",
                "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_user\"] }}"
              }
            ]
          },
          "combineConditions": "OR",
          "options": {}
        },
        "id": "20d5141d-14a6-4339-afdc-7f9dbe845cd4",
        "name": "pesquisa_user1",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          -192,
          160
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "SMjhjBLFctIENkHc",
            "name": "[MySQL] - Fabio Soares"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "a84ded2b-f300-41fe-83c8-e47817e2612f",
                "leftValue": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_situacao_checkout\"] }}",
                "rightValue": "",
                "operator": {
                  "type": "number",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          256,
          160
        ],
        "id": "95bcdd89-9801-4dda-a684-74e59c473b89",
        "name": "checkout1"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT \n    t.*\nFROM \n    tags_crm t\nINNER JOIN \n    tag_funil_crm2 tfc\nON \n    t.id = tfc.id_tag\nWHERE \n    tfc.id_situacao_checkout = {{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_situacao_checkout\"] }}\n    AND t.entidade = 'contact';",
          "options": {}
        },
        "id": "692ce5b0-83aa-42b8-b3f4-3237bb6c4ab4",
        "name": "pesquisa_tag_funil4",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          464,
          64
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "SMjhjBLFctIENkHc",
            "name": "[MySQL] - Fabio Soares"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT \n    t.*\nFROM \n    tags_crm t\nINNER JOIN \n    tag_funil_crm tfc\nON \n    t.id = tfc.id_tag\nWHERE \n    tfc.id_situacao_agendamento = {{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_situacao_agendamento\"] }}\n    AND t.entidade = 'contact';",
          "options": {}
        },
        "id": "dfd2c968-894d-4e31-aefe-5b3be90f3eb9",
        "name": "pesquisa_tag_funil5",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          688,
          304
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "SMjhjBLFctIENkHc",
            "name": "[MySQL] - Fabio Soares"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "a84ded2b-f300-41fe-83c8-e47817e2612f",
                "leftValue": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_situacao_agendamento\"] }}",
                "rightValue": "",
                "operator": {
                  "type": "number",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          432,
          384
        ],
        "id": "b2d24d0c-17ec-4c47-a890-521dbe94f386",
        "name": "agendamento1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "0c90b77b-7778-4200-9255-5e2b6c72e3da",
                "leftValue": "={{ $node[\"pesquisa_user1\"].json[\"id_contact_crm\"] }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "empty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          32,
          160
        ],
        "id": "9fcb7e6a-06ba-407b-89c4-d4c8fcdf491f",
        "name": "contato_nao_existe1"
      },
      {
        "parameters": {
          "operation": "select",
          "table": {
            "__rl": true,
            "value": "acoes_workflows",
            "mode": "list",
            "cachedResultName": "acoes_workflows"
          },
          "where": {
            "values": [
              {
                "column": "acao",
                "value": "create_update_contact_crm"
              }
            ]
          },
          "options": {}
        },
        "id": "203481bf-5a0d-463c-bdc1-b522b511be14",
        "name": "pesquisa_url_create_update_contact_crm1",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          256,
          -192
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "SMjhjBLFctIENkHc",
            "name": "[MySQL] - Fabio Soares"
          }
        }
      },
      {
        "parameters": {
          "url": "={{ $node[\"pesquisa_url_create_update_contact_crm1\"].json[\"endpoint_workflow\"] }}",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "id_etapa_funil",
                "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_etapa_funil\"] }}"
              },
              {
                "name": "id_funil",
                "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_funil\"] }}"
              },
              {
                "name": "id_user",
                "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_user\"] }}"
              },
              {
                "name": "payload",
                "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"payload\"] }}"
              },
              {
                "name": "id_situacao_checkout",
                "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_situacao_checkout\"]  || \"\" }}"
              },
              {
                "name": "id_situacao_agendamento",
                "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_situacao_agendamento\"] || \"\" }}"
              },
              {
                "name": "tipo_forms",
                "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"payload\"][\"tipo_forms\"] }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          464,
          -192
        ],
        "id": "9e969c4a-f261-4121-9678-21015854aff4",
        "name": "chama_fluxo_create_update_contact_crm1"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $node[\"pesquisa_url_base_crm1\"].json[\"valor_variavel\"] }}contacts/{{ $node[\"chama_fluxo_create_update_contact_crm1\"].runIndex >= 0      ?  $node[\"chama_fluxo_create_update_contact_crm1\"].json[\"id_contact_crm\"] : $node[\"pesquisa_user1\"].json[\"id_contact_crm\"] }}tags",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Version",
                "value": "2021-07-28"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $node[\"pesquisa_api_key_crm1\"].json[\"valor_variavel\"] }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Accept",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"tags\": [\"{{ $node[\"Loop Over Items1\"].json[\"nome_tag\"] }}\"]\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1408,
          288
        ],
        "id": "6e1e7e83-4684-4bb6-8edb-c50b6577bc4d",
        "name": "add_tag1"
      },
      {
        "parameters": {
          "operation": "select",
          "table": {
            "__rl": true,
            "value": "variaveis_globais_n8n",
            "mode": "list",
            "cachedResultName": "variaveis_globais_n8n"
          },
          "where": {
            "values": [
              {
                "column": "nome_variavel",
                "value": "URL Base do CRM"
              }
            ]
          },
          "combineConditions": "OR",
          "options": {}
        },
        "id": "7088fd8c-2631-49af-b976-699ab7b5661d",
        "name": "pesquisa_url_base_crm1",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          -896,
          160
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "SMjhjBLFctIENkHc",
            "name": "[MySQL] - Fabio Soares"
          }
        }
      },
      {
        "parameters": {
          "operation": "select",
          "table": {
            "__rl": true,
            "value": "variaveis_globais_n8n",
            "mode": "list",
            "cachedResultName": "variaveis_globais_n8n"
          },
          "where": {
            "values": [
              {
                "column": "nome_variavel",
                "value": "API Key do GoHighLevel"
              }
            ]
          },
          "combineConditions": "OR",
          "options": {}
        },
        "id": "a049b497-13dd-41fb-a657-6724a91d3549",
        "name": "pesquisa_api_key_crm1",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          -656,
          160
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "SMjhjBLFctIENkHc",
            "name": "[MySQL] - Fabio Soares"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "d68a416f-85f8-4df0-bead-ed3bc5195f55",
                "leftValue": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_etapa_funil\"] }}",
                "rightValue": "32",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              },
              {
                "id": "057f9a05-c6b2-4bb1-b1a6-6eed4ceb9c7d",
                "leftValue": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_etapa_funil\"] }}",
                "rightValue": "33",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              },
              {
                "id": "4ccd96ec-20f7-4c04-9639-c9d20e93498a",
                "leftValue": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_etapa_funil\"] }}",
                "rightValue": "34",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              },
              {
                "id": "a297d241-cfa2-41dc-9976-00b0f93dad53",
                "leftValue": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_etapa_funil\"] }}",
                "rightValue": "35",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              },
              {
                "id": "aff6710c-93ed-463f-9bc7-4d39f6397d29",
                "leftValue": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_etapa_funil\"] }}",
                "rightValue": "37",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "or"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -1632,
          976
        ],
        "id": "7e4aefd2-d24b-4cd7-98a1-3e126762547b",
        "name": "wip12"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "aff6710c-93ed-463f-9bc7-4d39f6397d29",
                "leftValue": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_etapa_funil\"] }}",
                "rightValue": "38",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "or"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -1184,
          1088
        ],
        "id": "9649d425-3505-4288-a768-8c2e19e77489",
        "name": "teste_importador"
      },
      {
        "parameters": {
          "operation": "select",
          "table": {
            "__rl": true,
            "value": "variaveis_globais_n8n",
            "mode": "list",
            "cachedResultName": "variaveis_globais_n8n"
          },
          "where": {
            "values": [
              {
                "column": "nome_variavel",
                "value": "Location do GoHighLevel"
              }
            ]
          },
          "combineConditions": "OR",
          "options": {}
        },
        "id": "991f2004-f8c3-4aa0-909d-177dd6a4e2e3",
        "name": "pesquisa_location_crm2",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          -448,
          2160
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "SMjhjBLFctIENkHc",
            "name": "[MySQL] - Fabio Soares"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT \n    t.*\nFROM \n    tags_crm t\nINNER JOIN \n    tag_funil_crm tfc\nON \n    t.id = tfc.id_tag\nWHERE \n    tfc.id_etapa_funil = {{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_etapa_funil\"] }}\n    AND t.entidade = 'contact';\n",
          "options": {}
        },
        "id": "2af19e73-b331-4972-8e29-7beb02c18d7f",
        "name": "pesquisa_tag_funil6",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          656,
          2512
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "SMjhjBLFctIENkHc",
            "name": "[MySQL] - Fabio Soares"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          1184,
          2160
        ],
        "id": "9cc2062f-51d4-4b0c-bd91-a54b729bdefd",
        "name": "Loop Over Items2"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          1376,
          1968
        ],
        "id": "16ed1b40-7f14-405a-aacb-a6d3b9e247da",
        "name": "Limit2"
      },
      {
        "parameters": {
          "operation": "select",
          "table": {
            "__rl": true,
            "value": "users",
            "mode": "list",
            "cachedResultName": "users"
          },
          "where": {
            "values": [
              {
                "column": "id",
                "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_user\"] }}"
              }
            ]
          },
          "combineConditions": "OR",
          "options": {}
        },
        "id": "82ce4d3d-1be4-4e2c-9d3d-3ec5b25f7384",
        "name": "pesquisa_user2",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          -224,
          2160
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "SMjhjBLFctIENkHc",
            "name": "[MySQL] - Fabio Soares"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "a84ded2b-f300-41fe-83c8-e47817e2612f",
                "leftValue": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_situacao_checkout\"] }}",
                "rightValue": "",
                "operator": {
                  "type": "number",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          224,
          2160
        ],
        "id": "1e6d4f3e-0839-40f0-8f65-1adb18e1fab5",
        "name": "checkout2"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT \n    t.*\nFROM \n    tags_crm t\nINNER JOIN \n    tag_funil_crm2 tfc\nON \n    t.id = tfc.id_tag\nWHERE \n    tfc.id_situacao_checkout = {{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_situacao_checkout\"] }}\n    AND t.entidade = 'contact';",
          "options": {}
        },
        "id": "b70265c4-6e65-4d87-b9cf-fcef7a261488",
        "name": "pesquisa_tag_funil7",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          432,
          2064
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "SMjhjBLFctIENkHc",
            "name": "[MySQL] - Fabio Soares"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT \n    t.*\nFROM \n    tags_crm t\nINNER JOIN \n    tag_funil_crm tfc\nON \n    t.id = tfc.id_tag\nWHERE \n    tfc.id_situacao_agendamento = {{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_situacao_agendamento\"] }}\n    AND t.entidade = 'contact';",
          "options": {}
        },
        "id": "1d8e9353-3c46-428a-b090-b86b8ab27620",
        "name": "pesquisa_tag_funil8",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          656,
          2304
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "SMjhjBLFctIENkHc",
            "name": "[MySQL] - Fabio Soares"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "a84ded2b-f300-41fe-83c8-e47817e2612f",
                "leftValue": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_situacao_agendamento\"] }}",
                "rightValue": "",
                "operator": {
                  "type": "number",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          400,
          2384
        ],
        "id": "4ad192c1-37aa-47ee-b0d2-2c5f8ad52edc",
        "name": "agendamento2"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "0c90b77b-7778-4200-9255-5e2b6c72e3da",
                "leftValue": "={{ $node[\"pesquisa_user2\"].json[\"id_contact_crm\"] }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "empty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          0,
          2160
        ],
        "id": "c294cb61-df80-4e4c-a4ca-8b4736bb15a0",
        "name": "contato_nao_existe2"
      },
      {
        "parameters": {
          "operation": "select",
          "table": {
            "__rl": true,
            "value": "acoes_workflows",
            "mode": "list",
            "cachedResultName": "acoes_workflows"
          },
          "where": {
            "values": [
              {
                "column": "acao",
                "value": "create_update_contact_crm"
              }
            ]
          },
          "options": {}
        },
        "id": "e4a4792d-8815-461f-99d2-7cd3274e6a3e",
        "name": "pesquisa_url_create_update_contact_crm2",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          224,
          1824
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "SMjhjBLFctIENkHc",
            "name": "[MySQL] - Fabio Soares"
          }
        }
      },
      {
        "parameters": {
          "url": "={{ $node[\"pesquisa_url_create_update_contact_crm2\"].json[\"endpoint_workflow\"] }}",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "id_etapa_funil",
                "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_etapa_funil\"] }}"
              },
              {
                "name": "id_funil",
                "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_funil\"] }}"
              },
              {
                "name": "id_user",
                "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_user\"] }}"
              },
              {
                "name": "payload",
                "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"payload\"] }}"
              },
              {
                "name": "id_situacao_checkout",
                "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_situacao_checkout\"]  || \"\" }}"
              },
              {
                "name": "id_situacao_agendamento",
                "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_situacao_agendamento\"] || \"\" }}"
              },
              {
                "name": "tipo_forms",
                "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"payload\"][\"tipo_forms\"] }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          432,
          1824
        ],
        "id": "b8377436-252d-4113-a807-da52fad636a9",
        "name": "chama_fluxo_create_update_contact_crm2"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $node[\"pesquisa_url_base_crm2\"].json[\"valor_variavel\"] }}contacts/{{ $node[\"chama_fluxo_create_update_contact_crm2\"].runIndex >= 0      ?  $node[\"chama_fluxo_create_update_contact_crm2\"].json[\"id_contact_crm\"] : $node[\"pesquisa_user2\"].json[\"id_contact_crm\"] }}tags",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Version",
                "value": "2021-07-28"
              },
              {
                "name": "Authorization",
                "value": "=Bearer {{ $node[\"pesquisa_api_key_crm2\"].json[\"valor_variavel\"] }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Accept",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"tags\": [\"{{ $node[\"Loop Over Items2\"].json[\"nome_tag\"] }}\"]\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1376,
          2288
        ],
        "id": "259b6bbe-759f-4872-a487-48a297481a3f",
        "name": "add_tag2"
      },
      {
        "parameters": {
          "operation": "select",
          "table": {
            "__rl": true,
            "value": "variaveis_globais_n8n",
            "mode": "list",
            "cachedResultName": "variaveis_globais_n8n"
          },
          "where": {
            "values": [
              {
                "column": "nome_variavel",
                "value": "URL Base do CRM"
              }
            ]
          },
          "combineConditions": "OR",
          "options": {}
        },
        "id": "b6e0d50d-fea1-41e7-9b76-a85946a19bb3",
        "name": "pesquisa_url_base_crm2",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          -928,
          2160
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "SMjhjBLFctIENkHc",
            "name": "[MySQL] - Fabio Soares"
          }
        }
      },
      {
        "parameters": {
          "operation": "select",
          "table": {
            "__rl": true,
            "value": "variaveis_globais_n8n",
            "mode": "list",
            "cachedResultName": "variaveis_globais_n8n"
          },
          "where": {
            "values": [
              {
                "column": "nome_variavel",
                "value": "API Key do GoHighLevel"
              }
            ]
          },
          "combineConditions": "OR",
          "options": {}
        },
        "id": "390bc191-962e-4b73-86a8-cc25f4528564",
        "name": "pesquisa_api_key_crm2",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          -688,
          2160
        ],
        "alwaysOutputData": true,
        "credentials": {
          "mySql": {
            "id": "SMjhjBLFctIENkHc",
            "name": "[MySQL] - Fabio Soares"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "d68a416f-85f8-4df0-bead-ed3bc5195f55",
                "leftValue": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_situacao_checkout\"] || \"\" }}",
                "rightValue": "111",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              },
              {
                "id": "057f9a05-c6b2-4bb1-b1a6-6eed4ceb9c7d",
                "leftValue": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_situacao_checkout\"] || \"\" }}",
                "rightValue": "112",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "or"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -1456,
          1056
        ],
        "id": "05a86ccb-e7c9-46e2-b979-b8d02b43e98d",
        "name": "compra_aprovada_wip12"
      }
    ],
    "connections": {
      "pesquisa_location_crm1": {
        "main": [
          [
            {
              "node": "pesquisa_user",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "pesquisa_tag_funil": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "Limit",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "add_tag",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "pesquisa_user": {
        "main": [
          [
            {
              "node": "contato_nao_existe",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "checkout": {
        "main": [
          [
            {
              "node": "pesquisa_tag_funil1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "agendamento",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "pesquisa_tag_funil1": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "pesquisa_tag_funil2": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "agendamento": {
        "main": [
          [
            {
              "node": "pesquisa_tag_funil2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "pesquisa_tag_funil",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "contato_nao_existe": {
        "main": [
          [
            {
              "node": "pesquisa_url_create_update_contact_crm",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "checkout",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "pesquisa_url_create_update_contact_crm": {
        "main": [
          [
            {
              "node": "chama_fluxo_create_update_contact_crm",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "chama_fluxo_create_update_contact_crm": {
        "main": [
          [
            {
              "node": "checkout",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "fluxo_chamado": {
        "main": [
          [
            {
              "node": "wip12",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "add_tag": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "pesquisa_url_base_crm": {
        "main": [
          [
            {
              "node": "pesquisa_api_key_crm",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "pesquisa_api_key_crm": {
        "main": [
          [
            {
              "node": "pesquisa_location_crm1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "pesquisa_location_crm": {
        "main": [
          [
            {
              "node": "pesquisa_user1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "pesquisa_tag_funil3": {
        "main": [
          [
            {
              "node": "Loop Over Items1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items1": {
        "main": [
          [
            {
              "node": "Limit1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "add_tag1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "pesquisa_user1": {
        "main": [
          [
            {
              "node": "contato_nao_existe1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "checkout1": {
        "main": [
          [
            {
              "node": "pesquisa_tag_funil4",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "agendamento1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "pesquisa_tag_funil4": {
        "main": [
          [
            {
              "node": "Loop Over Items1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "pesquisa_tag_funil5": {
        "main": [
          [
            {
              "node": "Loop Over Items1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "agendamento1": {
        "main": [
          [
            {
              "node": "pesquisa_tag_funil5",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "pesquisa_tag_funil3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "contato_nao_existe1": {
        "main": [
          [
            {
              "node": "pesquisa_url_create_update_contact_crm1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "checkout1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "pesquisa_url_create_update_contact_crm1": {
        "main": [
          [
            {
              "node": "chama_fluxo_create_update_contact_crm1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "chama_fluxo_create_update_contact_crm1": {
        "main": [
          [
            {
              "node": "checkout1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "add_tag1": {
        "main": [
          [
            {
              "node": "Loop Over Items1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "pesquisa_url_base_crm1": {
        "main": [
          [
            {
              "node": "pesquisa_api_key_crm1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "pesquisa_api_key_crm1": {
        "main": [
          [
            {
              "node": "pesquisa_location_crm",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "wip12": {
        "main": [
          [
            {
              "node": "pesquisa_url_base_crm1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "compra_aprovada_wip12",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "teste_importador": {
        "main": [
          [
            {
              "node": "pesquisa_url_base_crm1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "pesquisa_url_base_crm",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "pesquisa_location_crm2": {
        "main": [
          [
            {
              "node": "pesquisa_user2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "pesquisa_tag_funil6": {
        "main": [
          [
            {
              "node": "Loop Over Items2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items2": {
        "main": [
          [
            {
              "node": "Limit2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "add_tag2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "pesquisa_user2": {
        "main": [
          [
            {
              "node": "contato_nao_existe2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "checkout2": {
        "main": [
          [
            {
              "node": "pesquisa_tag_funil7",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "agendamento2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "pesquisa_tag_funil7": {
        "main": [
          [
            {
              "node": "Loop Over Items2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "pesquisa_tag_funil8": {
        "main": [
          [
            {
              "node": "Loop Over Items2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "agendamento2": {
        "main": [
          [
            {
              "node": "pesquisa_tag_funil8",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "pesquisa_tag_funil6",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "contato_nao_existe2": {
        "main": [
          [
            {
              "node": "pesquisa_url_create_update_contact_crm2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "checkout2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "pesquisa_url_create_update_contact_crm2": {
        "main": [
          [
            {
              "node": "chama_fluxo_create_update_contact_crm2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "chama_fluxo_create_update_contact_crm2": {
        "main": [
          [
            {
              "node": "checkout2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "add_tag2": {
        "main": [
          [
            {
              "node": "Loop Over Items2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "pesquisa_url_base_crm2": {
        "main": [
          [
            {
              "node": "pesquisa_api_key_crm2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "pesquisa_api_key_crm2": {
        "main": [
          [
            {
              "node": "pesquisa_location_crm2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "compra_aprovada_wip12": {
        "main": [
          [
            {
              "node": "pesquisa_url_base_crm2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "teste_importador",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Automagic Bots",
    "name": "Version 84febb47",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "84febb47-8626-4325-a648-3841f6035177",
  "connections": {
    "pesquisa_location_crm1": {
      "main": [
        [
          {
            "node": "pesquisa_user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_tag_funil": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add_tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_user": {
      "main": [
        [
          {
            "node": "contato_nao_existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "checkout": {
      "main": [
        [
          {
            "node": "pesquisa_tag_funil1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_tag_funil1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_tag_funil2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agendamento": {
      "main": [
        [
          {
            "node": "pesquisa_tag_funil2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_tag_funil",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "contato_nao_existe": {
      "main": [
        [
          {
            "node": "pesquisa_url_create_update_contact_crm",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "checkout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_url_create_update_contact_crm": {
      "main": [
        [
          {
            "node": "chama_fluxo_create_update_contact_crm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chama_fluxo_create_update_contact_crm": {
      "main": [
        [
          {
            "node": "checkout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fluxo_chamado": {
      "main": [
        [
          {
            "node": "wip12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_url_base_crm": {
      "main": [
        [
          {
            "node": "pesquisa_api_key_crm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_api_key_crm": {
      "main": [
        [
          {
            "node": "pesquisa_location_crm1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_location_crm": {
      "main": [
        [
          {
            "node": "pesquisa_user1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_tag_funil3": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add_tag1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_user1": {
      "main": [
        [
          {
            "node": "contato_nao_existe1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "checkout1": {
      "main": [
        [
          {
            "node": "pesquisa_tag_funil4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "agendamento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_tag_funil4": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_tag_funil5": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agendamento1": {
      "main": [
        [
          {
            "node": "pesquisa_tag_funil5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_tag_funil3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "contato_nao_existe1": {
      "main": [
        [
          {
            "node": "pesquisa_url_create_update_contact_crm1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "checkout1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_url_create_update_contact_crm1": {
      "main": [
        [
          {
            "node": "chama_fluxo_create_update_contact_crm1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chama_fluxo_create_update_contact_crm1": {
      "main": [
        [
          {
            "node": "checkout1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_url_base_crm1": {
      "main": [
        [
          {
            "node": "pesquisa_api_key_crm1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_api_key_crm1": {
      "main": [
        [
          {
            "node": "pesquisa_location_crm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "wip12": {
      "main": [
        [
          {
            "node": "pesquisa_url_base_crm1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "compra_aprovada_wip12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "teste_importador": {
      "main": [
        [
          {
            "node": "pesquisa_url_base_crm1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_url_base_crm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_location_crm2": {
      "main": [
        [
          {
            "node": "pesquisa_user2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_tag_funil6": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add_tag2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_user2": {
      "main": [
        [
          {
            "node": "contato_nao_existe2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "checkout2": {
      "main": [
        [
          {
            "node": "pesquisa_tag_funil7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "agendamento2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_tag_funil7": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_tag_funil8": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agendamento2": {
      "main": [
        [
          {
            "node": "pesquisa_tag_funil8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pesquisa_tag_funil6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "contato_nao_existe2": {
      "main": [
        [
          {
            "node": "pesquisa_url_create_update_contact_crm2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "checkout2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_url_create_update_contact_crm2": {
      "main": [
        [
          {
            "node": "chama_fluxo_create_update_contact_crm2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chama_fluxo_create_update_contact_crm2": {
      "main": [
        [
          {
            "node": "checkout2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_tag2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_url_base_crm2": {
      "main": [
        [
          {
            "node": "pesquisa_api_key_crm2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesquisa_api_key_crm2": {
      "main": [
        [
          {
            "node": "pesquisa_location_crm2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "compra_aprovada_wip12": {
      "main": [
        [
          {
            "node": "pesquisa_url_base_crm2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "teste_importador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-06T21:43:17.876Z",
  "id": "A3NcxMRBnblA4326",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "⌚[Fabio Soares][GHL] - Adiciona Tag no Contato",
  "nodes": [
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "variaveis_globais_n8n",
          "mode": "list",
          "cachedResultName": "variaveis_globais_n8n"
        },
        "where": {
          "values": [
            {
              "column": "nome_variavel",
              "value": "Location do GoHighLevel"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "c20f8ce5-7fe1-472a-82a5-1f55c5fee42c",
      "name": "pesquisa_location_crm1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -432,
        1136
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SMjhjBLFctIENkHc",
          "name": "[MySQL] - Fabio Soares"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    t.*\nFROM \n    tags_crm t\nINNER JOIN \n    tag_funil_crm tfc\nON \n    t.id = tfc.id_tag\nWHERE \n    tfc.id_etapa_funil = {{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_etapa_funil\"] }}\n    AND t.entidade = 'contact';\n",
        "options": {}
      },
      "id": "f8dc1b3d-32a7-44ba-b686-d35f617501fb",
      "name": "pesquisa_tag_funil",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        672,
        1488
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SMjhjBLFctIENkHc",
          "name": "[MySQL] - Fabio Soares"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1200,
        1136
      ],
      "id": "7ab91c29-62d1-45be-8010-78e44972c886",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1392,
        944
      ],
      "id": "d62da3a5-5477-4489-9715-96bc4e8c52a3",
      "name": "Limit"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_user\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "381e46a3-ca98-4adb-9746-5cbc3c9de33a",
      "name": "pesquisa_user",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -208,
        1136
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SMjhjBLFctIENkHc",
          "name": "[MySQL] - Fabio Soares"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "a84ded2b-f300-41fe-83c8-e47817e2612f",
              "leftValue": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_situacao_checkout\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        240,
        1136
      ],
      "id": "ed1da466-d250-4ad2-ad36-46669c7cfd11",
      "name": "checkout"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    t.*\nFROM \n    tags_crm t\nINNER JOIN \n    tag_funil_crm2 tfc\nON \n    t.id = tfc.id_tag\nWHERE \n    tfc.id_situacao_checkout = {{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_situacao_checkout\"] }}\n    AND t.entidade = 'contact';",
        "options": {}
      },
      "id": "46c2cd36-6d8d-41ea-92c3-861dcc163dd1",
      "name": "pesquisa_tag_funil1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        448,
        1040
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SMjhjBLFctIENkHc",
          "name": "[MySQL] - Fabio Soares"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    t.*\nFROM \n    tags_crm t\nINNER JOIN \n    tag_funil_crm tfc\nON \n    t.id = tfc.id_tag\nWHERE \n    tfc.id_situacao_agendamento = {{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_situacao_agendamento\"] }}\n    AND t.entidade = 'contact';",
        "options": {}
      },
      "id": "0fc2d663-292c-433d-b089-dc69fcb04d47",
      "name": "pesquisa_tag_funil2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        672,
        1280
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SMjhjBLFctIENkHc",
          "name": "[MySQL] - Fabio Soares"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a84ded2b-f300-41fe-83c8-e47817e2612f",
              "leftValue": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_situacao_agendamento\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        1360
      ],
      "id": "54791878-3ae4-42b8-ac53-896cc3f8ba0a",
      "name": "agendamento"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0c90b77b-7778-4200-9255-5e2b6c72e3da",
              "leftValue": "={{ $node[\"pesquisa_user\"].json[\"id_contact_crm\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        16,
        1136
      ],
      "id": "4e6d9df5-4f90-4b57-abe8-c5c973d352d7",
      "name": "contato_nao_existe"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "create_update_contact_crm"
            }
          ]
        },
        "options": {}
      },
      "id": "fb6a74b3-144f-4c03-b521-b795029fd6f1",
      "name": "pesquisa_url_create_update_contact_crm",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        240,
        800
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SMjhjBLFctIENkHc",
          "name": "[MySQL] - Fabio Soares"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_url_create_update_contact_crm\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_etapa_funil\"] }}"
            },
            {
              "name": "id_funil",
              "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_funil\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_user\"] }}"
            },
            {
              "name": "payload",
              "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"payload\"] }}"
            },
            {
              "name": "id_situacao_checkout",
              "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_situacao_checkout\"]  || \"\" }}"
            },
            {
              "name": "id_situacao_agendamento",
              "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_situacao_agendamento\"] || \"\" }}"
            },
            {
              "name": "tipo_forms",
              "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"payload\"][\"tipo_forms\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        800
      ],
      "id": "ffc5462d-2b06-4f7e-905d-9b07c422a2a5",
      "name": "chama_fluxo_create_update_contact_crm"
    },
    {
      "parameters": {
        "path": "add-tag-ghl",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1840,
        976
      ],
      "id": "8015ebf2-a659-4367-b74f-dff95e690291",
      "name": "fluxo_chamado",
      "webhookId": "54fbef6d-437b-447d-a499-bf861eece704"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"pesquisa_url_base_crm\"].json[\"valor_variavel\"] }}contacts/{{ $node[\"pesquisa_user\"].json[\"id_contact_crm\"] }}/tags",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"pesquisa_api_key_crm\"].json[\"valor_variavel\"] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tags\": [\"{{ $node[\"Loop Over Items\"].json[\"nome_tag\"] }}\"]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1392,
        1264
      ],
      "id": "ae0d3404-1cf5-476d-9d7d-29dd665cdeae",
      "name": "add_tag"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "variaveis_globais_n8n",
          "mode": "list",
          "cachedResultName": "variaveis_globais_n8n"
        },
        "where": {
          "values": [
            {
              "column": "nome_variavel",
              "value": "URL Base do CRM"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "fdb20b8c-96dc-4b7b-9f3d-5ee88cb90b83",
      "name": "pesquisa_url_base_crm",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -912,
        1136
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SMjhjBLFctIENkHc",
          "name": "[MySQL] - Fabio Soares"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "variaveis_globais_n8n",
          "mode": "list",
          "cachedResultName": "variaveis_globais_n8n"
        },
        "where": {
          "values": [
            {
              "column": "nome_variavel",
              "value": "API Key do GoHighLevel"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "5c16b13e-2f5d-4af0-8c04-80361a4e2aeb",
      "name": "pesquisa_api_key_crm",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -672,
        1136
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SMjhjBLFctIENkHc",
          "name": "[MySQL] - Fabio Soares"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "variaveis_globais_n8n",
          "mode": "list",
          "cachedResultName": "variaveis_globais_n8n"
        },
        "where": {
          "values": [
            {
              "column": "nome_variavel",
              "value": "Location do GoHighLevel"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "3017f873-aeb5-46b3-aa66-2415191ae080",
      "name": "pesquisa_location_crm",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -416,
        160
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SMjhjBLFctIENkHc",
          "name": "[MySQL] - Fabio Soares"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    t.*\nFROM \n    tags_crm t\nINNER JOIN \n    tag_funil_crm tfc\nON \n    t.id = tfc.id_tag\nWHERE \n    tfc.id_etapa_funil = {{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_etapa_funil\"] }}\n    AND t.entidade = 'contact';\n",
        "options": {}
      },
      "id": "5b4cd283-3c9b-43c0-bfff-fe09d67698ba",
      "name": "pesquisa_tag_funil3",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        688,
        512
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SMjhjBLFctIENkHc",
          "name": "[MySQL] - Fabio Soares"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1216,
        160
      ],
      "id": "8e6bffd6-c998-4c79-bdd9-97f1b5ad89cc",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1408,
        -32
      ],
      "id": "8268eb86-f937-40b9-85c3-8d23f4faff17",
      "name": "Limit1"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_user\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "20d5141d-14a6-4339-afdc-7f9dbe845cd4",
      "name": "pesquisa_user1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -192,
        160
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SMjhjBLFctIENkHc",
          "name": "[MySQL] - Fabio Soares"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "a84ded2b-f300-41fe-83c8-e47817e2612f",
              "leftValue": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_situacao_checkout\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        256,
        160
      ],
      "id": "95bcdd89-9801-4dda-a684-74e59c473b89",
      "name": "checkout1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    t.*\nFROM \n    tags_crm t\nINNER JOIN \n    tag_funil_crm2 tfc\nON \n    t.id = tfc.id_tag\nWHERE \n    tfc.id_situacao_checkout = {{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_situacao_checkout\"] }}\n    AND t.entidade = 'contact';",
        "options": {}
      },
      "id": "692ce5b0-83aa-42b8-b3f4-3237bb6c4ab4",
      "name": "pesquisa_tag_funil4",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        464,
        64
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SMjhjBLFctIENkHc",
          "name": "[MySQL] - Fabio Soares"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    t.*\nFROM \n    tags_crm t\nINNER JOIN \n    tag_funil_crm tfc\nON \n    t.id = tfc.id_tag\nWHERE \n    tfc.id_situacao_agendamento = {{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_situacao_agendamento\"] }}\n    AND t.entidade = 'contact';",
        "options": {}
      },
      "id": "dfd2c968-894d-4e31-aefe-5b3be90f3eb9",
      "name": "pesquisa_tag_funil5",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        688,
        304
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SMjhjBLFctIENkHc",
          "name": "[MySQL] - Fabio Soares"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a84ded2b-f300-41fe-83c8-e47817e2612f",
              "leftValue": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_situacao_agendamento\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        432,
        384
      ],
      "id": "b2d24d0c-17ec-4c47-a890-521dbe94f386",
      "name": "agendamento1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0c90b77b-7778-4200-9255-5e2b6c72e3da",
              "leftValue": "={{ $node[\"pesquisa_user1\"].json[\"id_contact_crm\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        32,
        160
      ],
      "id": "9fcb7e6a-06ba-407b-89c4-d4c8fcdf491f",
      "name": "contato_nao_existe1"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "create_update_contact_crm"
            }
          ]
        },
        "options": {}
      },
      "id": "203481bf-5a0d-463c-bdc1-b522b511be14",
      "name": "pesquisa_url_create_update_contact_crm1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        256,
        -192
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SMjhjBLFctIENkHc",
          "name": "[MySQL] - Fabio Soares"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_url_create_update_contact_crm1\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_etapa_funil\"] }}"
            },
            {
              "name": "id_funil",
              "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_funil\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_user\"] }}"
            },
            {
              "name": "payload",
              "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"payload\"] }}"
            },
            {
              "name": "id_situacao_checkout",
              "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_situacao_checkout\"]  || \"\" }}"
            },
            {
              "name": "id_situacao_agendamento",
              "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_situacao_agendamento\"] || \"\" }}"
            },
            {
              "name": "tipo_forms",
              "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"payload\"][\"tipo_forms\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        464,
        -192
      ],
      "id": "9e969c4a-f261-4121-9678-21015854aff4",
      "name": "chama_fluxo_create_update_contact_crm1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"pesquisa_url_base_crm1\"].json[\"valor_variavel\"] }}contacts/{{ $node[\"chama_fluxo_create_update_contact_crm1\"].runIndex >= 0      ?  $node[\"chama_fluxo_create_update_contact_crm1\"].json[\"id_contact_crm\"] : $node[\"pesquisa_user1\"].json[\"id_contact_crm\"] }}tags",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"pesquisa_api_key_crm1\"].json[\"valor_variavel\"] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tags\": [\"{{ $node[\"Loop Over Items1\"].json[\"nome_tag\"] }}\"]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1408,
        288
      ],
      "id": "6e1e7e83-4684-4bb6-8edb-c50b6577bc4d",
      "name": "add_tag1"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "variaveis_globais_n8n",
          "mode": "list",
          "cachedResultName": "variaveis_globais_n8n"
        },
        "where": {
          "values": [
            {
              "column": "nome_variavel",
              "value": "URL Base do CRM"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "7088fd8c-2631-49af-b976-699ab7b5661d",
      "name": "pesquisa_url_base_crm1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -896,
        160
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SMjhjBLFctIENkHc",
          "name": "[MySQL] - Fabio Soares"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "variaveis_globais_n8n",
          "mode": "list",
          "cachedResultName": "variaveis_globais_n8n"
        },
        "where": {
          "values": [
            {
              "column": "nome_variavel",
              "value": "API Key do GoHighLevel"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "a049b497-13dd-41fb-a657-6724a91d3549",
      "name": "pesquisa_api_key_crm1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -656,
        160
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SMjhjBLFctIENkHc",
          "name": "[MySQL] - Fabio Soares"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "d68a416f-85f8-4df0-bead-ed3bc5195f55",
              "leftValue": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_etapa_funil\"] }}",
              "rightValue": "32",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "057f9a05-c6b2-4bb1-b1a6-6eed4ceb9c7d",
              "leftValue": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_etapa_funil\"] }}",
              "rightValue": "33",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "4ccd96ec-20f7-4c04-9639-c9d20e93498a",
              "leftValue": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_etapa_funil\"] }}",
              "rightValue": "34",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "a297d241-cfa2-41dc-9976-00b0f93dad53",
              "leftValue": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_etapa_funil\"] }}",
              "rightValue": "35",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "aff6710c-93ed-463f-9bc7-4d39f6397d29",
              "leftValue": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_etapa_funil\"] }}",
              "rightValue": "37",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1632,
        976
      ],
      "id": "7e4aefd2-d24b-4cd7-98a1-3e126762547b",
      "name": "wip12"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "aff6710c-93ed-463f-9bc7-4d39f6397d29",
              "leftValue": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_etapa_funil\"] }}",
              "rightValue": "38",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1184,
        1088
      ],
      "id": "9649d425-3505-4288-a768-8c2e19e77489",
      "name": "teste_importador"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "variaveis_globais_n8n",
          "mode": "list",
          "cachedResultName": "variaveis_globais_n8n"
        },
        "where": {
          "values": [
            {
              "column": "nome_variavel",
              "value": "Location do GoHighLevel"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "991f2004-f8c3-4aa0-909d-177dd6a4e2e3",
      "name": "pesquisa_location_crm2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -448,
        2160
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SMjhjBLFctIENkHc",
          "name": "[MySQL] - Fabio Soares"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    t.*\nFROM \n    tags_crm t\nINNER JOIN \n    tag_funil_crm tfc\nON \n    t.id = tfc.id_tag\nWHERE \n    tfc.id_etapa_funil = {{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_etapa_funil\"] }}\n    AND t.entidade = 'contact';\n",
        "options": {}
      },
      "id": "2af19e73-b331-4972-8e29-7beb02c18d7f",
      "name": "pesquisa_tag_funil6",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        656,
        2512
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SMjhjBLFctIENkHc",
          "name": "[MySQL] - Fabio Soares"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1184,
        2160
      ],
      "id": "9cc2062f-51d4-4b0c-bd91-a54b729bdefd",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1376,
        1968
      ],
      "id": "16ed1b40-7f14-405a-aacb-a6d3b9e247da",
      "name": "Limit2"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_user\"] }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "82ce4d3d-1be4-4e2c-9d3d-3ec5b25f7384",
      "name": "pesquisa_user2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -224,
        2160
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SMjhjBLFctIENkHc",
          "name": "[MySQL] - Fabio Soares"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "a84ded2b-f300-41fe-83c8-e47817e2612f",
              "leftValue": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_situacao_checkout\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        224,
        2160
      ],
      "id": "1e6d4f3e-0839-40f0-8f65-1adb18e1fab5",
      "name": "checkout2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    t.*\nFROM \n    tags_crm t\nINNER JOIN \n    tag_funil_crm2 tfc\nON \n    t.id = tfc.id_tag\nWHERE \n    tfc.id_situacao_checkout = {{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_situacao_checkout\"] }}\n    AND t.entidade = 'contact';",
        "options": {}
      },
      "id": "b70265c4-6e65-4d87-b9cf-fcef7a261488",
      "name": "pesquisa_tag_funil7",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        432,
        2064
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SMjhjBLFctIENkHc",
          "name": "[MySQL] - Fabio Soares"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    t.*\nFROM \n    tags_crm t\nINNER JOIN \n    tag_funil_crm tfc\nON \n    t.id = tfc.id_tag\nWHERE \n    tfc.id_situacao_agendamento = {{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_situacao_agendamento\"] }}\n    AND t.entidade = 'contact';",
        "options": {}
      },
      "id": "1d8e9353-3c46-428a-b090-b86b8ab27620",
      "name": "pesquisa_tag_funil8",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        656,
        2304
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SMjhjBLFctIENkHc",
          "name": "[MySQL] - Fabio Soares"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a84ded2b-f300-41fe-83c8-e47817e2612f",
              "leftValue": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_situacao_agendamento\"] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        2384
      ],
      "id": "4ad192c1-37aa-47ee-b0d2-2c5f8ad52edc",
      "name": "agendamento2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0c90b77b-7778-4200-9255-5e2b6c72e3da",
              "leftValue": "={{ $node[\"pesquisa_user2\"].json[\"id_contact_crm\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        0,
        2160
      ],
      "id": "c294cb61-df80-4e4c-a4ca-8b4736bb15a0",
      "name": "contato_nao_existe2"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "acoes_workflows",
          "mode": "list",
          "cachedResultName": "acoes_workflows"
        },
        "where": {
          "values": [
            {
              "column": "acao",
              "value": "create_update_contact_crm"
            }
          ]
        },
        "options": {}
      },
      "id": "e4a4792d-8815-461f-99d2-7cd3274e6a3e",
      "name": "pesquisa_url_create_update_contact_crm2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        224,
        1824
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SMjhjBLFctIENkHc",
          "name": "[MySQL] - Fabio Soares"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"pesquisa_url_create_update_contact_crm2\"].json[\"endpoint_workflow\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id_etapa_funil",
              "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_etapa_funil\"] }}"
            },
            {
              "name": "id_funil",
              "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_funil\"] }}"
            },
            {
              "name": "id_user",
              "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_user\"] }}"
            },
            {
              "name": "payload",
              "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"payload\"] }}"
            },
            {
              "name": "id_situacao_checkout",
              "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_situacao_checkout\"]  || \"\" }}"
            },
            {
              "name": "id_situacao_agendamento",
              "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_situacao_agendamento\"] || \"\" }}"
            },
            {
              "name": "tipo_forms",
              "value": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"payload\"][\"tipo_forms\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        432,
        1824
      ],
      "id": "b8377436-252d-4113-a807-da52fad636a9",
      "name": "chama_fluxo_create_update_contact_crm2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"pesquisa_url_base_crm2\"].json[\"valor_variavel\"] }}contacts/{{ $node[\"chama_fluxo_create_update_contact_crm2\"].runIndex >= 0      ?  $node[\"chama_fluxo_create_update_contact_crm2\"].json[\"id_contact_crm\"] : $node[\"pesquisa_user2\"].json[\"id_contact_crm\"] }}tags",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"pesquisa_api_key_crm2\"].json[\"valor_variavel\"] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tags\": [\"{{ $node[\"Loop Over Items2\"].json[\"nome_tag\"] }}\"]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1376,
        2288
      ],
      "id": "259b6bbe-759f-4872-a487-48a297481a3f",
      "name": "add_tag2"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "variaveis_globais_n8n",
          "mode": "list",
          "cachedResultName": "variaveis_globais_n8n"
        },
        "where": {
          "values": [
            {
              "column": "nome_variavel",
              "value": "URL Base do CRM"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "b6e0d50d-fea1-41e7-9b76-a85946a19bb3",
      "name": "pesquisa_url_base_crm2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -928,
        2160
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SMjhjBLFctIENkHc",
          "name": "[MySQL] - Fabio Soares"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "variaveis_globais_n8n",
          "mode": "list",
          "cachedResultName": "variaveis_globais_n8n"
        },
        "where": {
          "values": [
            {
              "column": "nome_variavel",
              "value": "API Key do GoHighLevel"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "id": "390bc191-962e-4b73-86a8-cc25f4528564",
      "name": "pesquisa_api_key_crm2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -688,
        2160
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "SMjhjBLFctIENkHc",
          "name": "[MySQL] - Fabio Soares"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "d68a416f-85f8-4df0-bead-ed3bc5195f55",
              "leftValue": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_situacao_checkout\"] || \"\" }}",
              "rightValue": "111",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "057f9a05-c6b2-4bb1-b1a6-6eed4ceb9c7d",
              "leftValue": "={{ $node[\"fluxo_chamado\"].json[\"body\"][\"id_situacao_checkout\"] || \"\" }}",
              "rightValue": "112",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1456,
        1056
      ],
      "id": "05a86ccb-e7c9-46e2-b979-b8d02b43e98d",
      "name": "compra_aprovada_wip12"
    }
  ],
  "pinData": {
    "fluxo_chamado": [
      {
        "json": {
          "headers": {
            "host": "n8n-n8n.zkgge2.easypanel.host",
            "user-agent": "axios/1.8.3",
            "content-length": "38",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "n8n-n8n.zkgge2.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "c81dc40e1dde",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "id_etapa_funil": 38,
            "id_user": 638478
          },
          "webhookUrl": "https://n8n-n8n.zkgge2.easypanel.host/webhook/54fbef6d-437b-447d-a499-bf861eece704",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "JC1jRbnEV3QDh2TT"
  },
  "shared": [
    {
      "updatedAt": "2026-03-06T21:43:17.878Z",
      "createdAt": "2026-03-06T21:43:17.878Z",
      "role": "workflow:owner",
      "workflowId": "A3NcxMRBnblA4326",
      "projectId": "DsELi0ezptx4jHSs"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-03-13T18:25:13.994Z",
  "versionId": "84febb47-8626-4325-a648-3841f6035177"
}