workflows/⌚[Fabio Soares][Banco de Dados] - Busca Produto.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-03-12T14:51:39.412Z",
    "createdAt": "2026-03-12T14:51:39.412Z",
    "versionId": "ee468fee-5df6-4786-a47b-444cd2a5765d",
    "workflowId": "nJ07PerAHaExiqFL",
    "nodes": [
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "CALL busca_produto('{{ $node[\"fluxo_chamado\"].json[\"body\"][\"product_id\"] }}', '{{ $node[\"fluxo_chamado\"].json[\"body\"][\"product_name\"] }}', '{{ $node[\"fluxo_chamado\"].json[\"body\"][\"value\"] || 0 }}');",
          "options": {}
        },
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          176,
          -112
        ],
        "id": "e86bebd3-2b6c-4f4b-bd66-ab51ff915a54",
        "name": "executa_procedure",
        "credentials": {
          "mySql": {
            "id": "SMjhjBLFctIENkHc",
            "name": "[MySQL] - Fabio Soares"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          368,
          -112
        ],
        "id": "ebced71f-81a4-46a3-9bee-15b7920aaa59",
        "name": "Limit"
      },
      {
        "parameters": {
          "path": "verificada-produto",
          "responseMode": "lastNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -48,
          -112
        ],
        "id": "539c45e7-249e-4332-9bb6-bea4ef77fb1b",
        "name": "fluxo_chamado",
        "webhookId": "78d28a6e-8198-4f81-9926-e2e6c6164519"
      }
    ],
    "connections": {
      "executa_procedure": {
        "main": [
          [
            {
              "node": "Limit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "fluxo_chamado": {
        "main": [
          [
            {
              "node": "executa_procedure",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "ee468fee-5df6-4786-a47b-444cd2a5765d",
  "connections": {
    "executa_procedure": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fluxo_chamado": {
      "main": [
        [
          {
            "node": "executa_procedure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-06T20:30:59.334Z",
  "id": "nJ07PerAHaExiqFL",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "⌚[Fabio Soares][Banco de Dados] - Busca Produto",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CALL busca_produto('{{ $node[\"fluxo_chamado\"].json[\"body\"][\"product_id\"] }}', '{{ $node[\"fluxo_chamado\"].json[\"body\"][\"product_name\"] }}', '{{ $node[\"fluxo_chamado\"].json[\"body\"][\"value\"] || 0 }}');",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        176,
        -112
      ],
      "id": "e86bebd3-2b6c-4f4b-bd66-ab51ff915a54",
      "name": "executa_procedure",
      "credentials": {
        "mySql": {
          "id": "SMjhjBLFctIENkHc",
          "name": "[MySQL] - Fabio Soares"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        368,
        -112
      ],
      "id": "ebced71f-81a4-46a3-9bee-15b7920aaa59",
      "name": "Limit"
    },
    {
      "parameters": {
        "path": "verificada-produto",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -48,
        -112
      ],
      "id": "539c45e7-249e-4332-9bb6-bea4ef77fb1b",
      "name": "fluxo_chamado",
      "webhookId": "78d28a6e-8198-4f81-9926-e2e6c6164519"
    }
  ],
  "pinData": {
    "fluxo_chamado": [
      {
        "json": {
          "headers": {
            "host": "webhookhetznerhenrysantos.automagicbots.com.br",
            "user-agent": "axios/1.7.4",
            "content-length": "177",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "webhookhetznerhenrysantos.automagicbots.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "b71525949d32",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "product_id": 2615430,
            "product_name": "Planejamento estratégico 2025: Lucre sem enlouquecer com seu salão de beleza Autoadministrável - ÚNICO - Ingresso Único",
            "value": 97.9
          },
          "webhookUrl": "https://webhookhetznerhenrysantos.automagicbots.com.br/webhook/78d28a6e-8198-4f81-9926-e2e6c6164519",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "JC1jRbnEV3QDh2TT"
  },
  "shared": [
    {
      "updatedAt": "2026-03-06T20:30:59.336Z",
      "createdAt": "2026-03-06T20:30:59.336Z",
      "role": "workflow:owner",
      "workflowId": "nJ07PerAHaExiqFL",
      "projectId": "DsELi0ezptx4jHSs"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-03-06T20:31:08.000Z",
  "versionId": "ee468fee-5df6-4786-a47b-444cd2a5765d"
}